
<!--ADD PRODUCT FORM-->
<div class="addProductForm " *ngIf="formAddProduct">
    <form [formGroup]="addProductForm" >
        <div class="row px-0 w-100 m-auto" >
            <div class="col-lg-6 ">
                    <div class="container {{formColor}} p-4 rounded-4  m-auto mt-0">
                        <div class="form-title text-start mb-4">
                            <h1 class="modal-title {{formTextColor}} fs-4 fw-bolder mb-0" >Manage Products</h1>
                            <div class="modal-sub-title dark-form-subtitle fs-6 mt-0">Product Management</div>
                            <hr class="divider border-white">
                        </div>
                        
<!-- Product Form -->
                        <div class="product-form body pt-0 pb-0">
                            <p class="{{formTextColor}} fw-bold fs-5">Product Details</p>
                            
                            <div class="w-100 mb-3">
                                <label for="addproductName" class="form-label {{formTextColor}}">Product Name</label>
                                <input 
                                    type="text" 
                                    class="form-control {{formInputColor}} bg-transparent border {{formBorderColor}}" 
                                    id="addproductName" 
                                    name="addproductName" 
                                    formControlName="name"
                                    placeholder="One Love"
                                    required
                                >
    
                            </div>
                                        
                            <div class="row">
                                <div class="col-sm-6 mb-3">    
                                    <label for="addproductCategory" class="form-label {{formTextColor}}">Category</label>
                                    <select 
                                        class="form-select {{formInputColor}} bg-transparent border {{formBorderColor}}" 
                                        id="addproductCategory"
                                        name="addproductCategory" 
                                        formControlName="category" 
                                        required
                                    >
        
                                        <option *ngFor="let category of categories | async" [value]=" category.name ">{{ category.name }}</option>
                                    </select>
                                </div>
                                
                            </div>
                            
                            <div class="mb-4">
                                <label for="addproductDescription" class="form-label {{formTextColor}}">Product Description</label>
                                <textarea 
                                    class="form-control {{formInputColor}} bg-transparent border {{formBorderColor}}" 
                                    id="addproductDescription" 
                                    name="addproductPriceDescription" 
                                    rows="3" 
                                    formControlName="description"
                                    required
                                ></textarea>
                            </div>
                        </div>
                                                
<!-- Image Form -->
                        <hr class="divider border-white mt-4 mb-3">
                        
                        <div class="image-form body pt-0 pb-0">
                            <div class="title-container mb-3 ">
                                <h3 class="{{formTextColor}} fs-5" >Product Images</h3>
                            </div>
                            
                            <div class="title-container mb-3 ">
                                <p class="{{formTextColor}}">Add Images</p>
                            </div>
                            
                            <div class="d-flex flex-wrap justify-content-start w-100">
                                <div *ngFor="let file of getFileKeys(); let i = index" class="p-0 position-relative image-container bg-dark-grey btn mb-2 me-3 d-flex justify-content-end align-items-start rounded-0">
                                    <button type="button" class="position-absolute mt-1 me-1 btn bg-dark rounded-circle w-25 h-25 d-flex justify-content-center align-items-center" (click)="removeImage(i)">
                                        <i class="bi bi-x text-white"></i>
                                    </button>
                                    <img [src]="fileUrlMap.get(file)" alt="Lappee" class="w-100 h-100 border">
                                </div>
                                <button type="button" (click)="selectFileForAdding()" class=" border-dashed image-btn-container btn border-dark-subtle d-flex justify-content-center align-items-center rounded-0">
                                    <span span class=" text-dark-emphasis fs-1 fw-bolder">+</span>
                                    <input class="d-none" type="file" id="addimages" name="images" (change)="handleFileInput($event)" multiple>
                                </button>
                            </div>
                        </div>
                        
                        <hr class="divider border-white mt-4 mb-3">
                        
                        <div class="body pt-0 pb-0 mt-3 ">
                        
                            <div class="title-container mb-2 d-flex ">
                                <h3 class="{{formTextColor}} fs-5">Product Variants</h3>
                                <button 
                                    type="btn"
                                    class=" productBtnOpener d-flex align-items-center justify-content-center btn btn-primary text-white mx-2" 
                                    (click)="showVariantForms()"
                                >
                                <i class="bi bi-plus-lg"></i>
                                </button>
                            </div>
                            
<!-- hide this validation when variantsList is empty or when the button on the top is click-->
                            <div 
                                class="validation m-auto w-100 p-3 rounded rounded-3 text-center text-white dark-subtle-bg" 
                                *ngIf="variantsList.length < 1 && hideVariantValidationContainer"
                            >
                                <h1 class="m-auto fw-bold">NO VARIANTS LISTED</h1>
                            </div>
                            
                            <!-- variant list   -->
                            <ul class="variants-list list-unstyled" *ngIf="variantsList && variantsList.length > 0">
                                <li class="variant-list-item text-decoration-none mt-2 mb-3 cursor-poi" *ngFor="let variant of variantsList.value; let i = index" >
                                    <div class="data-container d-flex align-items-center w-100 p-3 rounded rounded-3 border border-2">
                                        <div class="m-auto row d-flex align-items-center w-100 ">
                                            <div class="col-sm-2 me-2">
                                                <div class="color-container border rounded-3" [style.background-color]="variant.color">
                                                </div>
                                            </div>
                                            <div class="col-sm-9 d-flex align-content-center mt-2 mt-sm-0">
                                                <div class="data w-100">
                                                    <div class="row ms-0 m-auto w-100 ">
                                                        <div class="col-sm-6 p-0 text-start d-flex align-items-center overflow-hidden ">
                                                            <h1 class="fs-4 fw-bold mx-0 text-wrap text-truncate {{formTextColor}}">{{ variant.name }}</h1>
                                                        </div>
                                                        <div class="col-sm-6 p-0 text-start d-flex align-items-center overflow-hidden ">
                                                            <h1 class="fs-4 fw-bold mx-0 text-wrap text-truncate {{formTextColor}}">[{{ variant.color }}]</h1>
                                                        </div>
                                                    </div>
                                                    <div class="row ms-0 m-auto w-100">
                                                        <div class="col-sm-6 p-0 text-start d-flex align-items-center">
                                                            <p class="fs-6 m-0 mx-0 {{formTextColor}}">Size: {{ variant.size }}</p>
                                                        </div>
                                                        <div class="col-sm-6 p-0 text-start d-flex align-items-center">
                                                            <p class="fs-6 m-0 mx-0 {{formTextColor}}">Stock Limit: {{ variant.quantity }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="actions d-flex">
                                            <button 
                                                (click)="editVariant(variant, i)"
                                                type="button" 
                                                class=" btn bg-white text-primary border-primary rounded-3 mx-2 w-20 px-2 pt-1 pb-1 d-flex align-items-center"
                                            >
                                                <i class="bi bi-pencil-square fs-5"></i>
                                            </button>
                                            <button 
                                                type="button" 
                                                class="btn btn-primary bg-white text-primary border-primary rounded-3 mx-2 w-20 px-2 pt-1 pb-1 d-flex align-items-center"
                                                data-bs-toggle="modal" 
                                                data-bs-target="#removeVariants"
                                                (click)="selectVariant(variant, i)"
                                            >
                                                <i class="bi bi-trash fs-5"></i>
                                            </button>
                                        </div>
                                    </div>
                                    
                                </li>
                            </ul>
                            
<!-- show this when the button on the top is click *ngIf="showVariantFormContainer"  -->

                            <div  class="container px-0 p-2 rounded-4 m-auto mt-0">
                                <div class="variant-form body pt-0 pb-0 " >
                                    <form [formGroup]="addVariantForm">
                                        <div class="w-100 mb-3">
                                            <label class="form-label {{formTextColor}}">Variant Name</label>
                                            <input 
                                                type="text" 
                                                class="form-control {{formInputColor}} bg-transparent border {{formBorderColor}}" 
                                                name="addVariantName" 
                                                formControlName="name"
                                                placeholder="Variant name"
                                                required
                                            >
                                        </div>
                                        
                                        <div class="row mb-3">
                                            <div class="col-sm-6 mb-3">
                                                <label for="addvariantQty" class="form-label {{formTextColor}}">Quantity</label>
                                                <input 
                                                    type="number" 
                                                    class="form-control {{formInputColor}} bg-transparent border {{formBorderColor}}" 
                                                    id="addvariantQty" 
                                                    name="addvariantQty" 
                                                    formControlName="quantity" 
                                                    [value]="1"
                                                    
                                                    required
                                                >
                                            </div>
                                            
                                            <div class="col-sm-6 mb-3">
                                                <label for="addvariantPrice" class="form-label {{formTextColor}}">Price</label>
                                                <input 
                                                    type="number" 
                                                    class="form-control {{formInputColor}} bg-transparent border {{formBorderColor}}" 
                                                    id="addvariantPrice" 
                                                    name="addvariantPrice" 
                                                    formControlName="price" 
                                                    [value]="1"
                                                    
                                                    required
                                                    step="0.01"
                                                
                                                    [placeholder]="01.01"
                                                    (click)="addVariantForm.get('price')?.setValue(null)"
                                                >
                                                <!-- <p *ngIf="!isDecimal(addVariantForm.get('price')?.value)">
                                                    price must be 2 decimal places, 00.00
                                                    [class.border]="isDecimal(addVariantForm.get('price')?.value)"
                                                    [class.border-danger]="!isDecimal(addVariantForm.get('price')?.value)"
                                                </p> -->
                                            </div>
                                        </div>
                                    </form>
                                    
                                    <div class="title-container mb-3 d-flex  p-0">
                                        <h3 class="{{formTextColor}} fs-5 ">Attributes</h3>
                                        <button class=" productBtnOpener mt-0 d-flex align-items-center justify-content-center btn btn-primary text-white mx-2" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#attributes">
                                        <i class="bi bi-plus-lg"></i>
                                        </button>
                                    </div>
                                        
<!-- Attribute List   -->
                                    <form [formGroup]="addAttributeForm">
                                        <div class="row mb-3 d-flex justify-content-between">
                                            <div class="col-sm-6 mb-3 " *ngFor="let id of attributesListId.controls; let i = index">
                                                    <div class=" position-relative d-flex align-items-center " >
                                                        <input type="hidden" name="" formControlName="attributeId" [value]="id.value">
                                                        <input 
                                                            [type]="attributesListName.controls[i].value === 'color' ? 'color':'text'" 
                                                            [class]="attributesListName.controls[i].value === 'color' ? 'form-control form-control-color rounded-3 bg-transparent border w-100 ':'form-control rounded-3  bg-transparent border w-100 text-white {{formInputColor}} {{formBorderColor}} '" 
                                                            [placeholder]="attributesListName.controls[i].value"
                                                            formControlName="attributeName"
                                                            required
                                                        >
                                                        <button class="btn text-white position-absolute end-0 mt-0" (click)="removeAttribute(i)" >X</button>
                                                    </div>
                                            </div>
                                        </div>
                                    </form >
                                
                                </div>
                            </div>   

                        </div>
                        
                            
                        <hr class="divider border-white ">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary me-2" (click)="cancelAction()">Cancel</button>
                            <button type="submit" class="btn btn-primary" (click)="onProductAddSubmit()">Confirm</button>
                        </div>
                        
                    </div>
            </div>
        </div>
    </form>
</div>
        
<ng-container *ngIf="formSelectAttribute" >
    <div  class="attribute-list border border-dark-subtle rounded-2 mx-3">
        <div class="input-group mb-3">
            <input type="text" class="{{formInputColor}} bg-transparent form-control border-start-0 border-top-0 border-end-0" placeholder="Search..." [(ngModel)]="searchString">
            <button class="bg-transparent input-group-text border-start-0 border-top-0 border-end-0  border border-dark-subtle" id="AddVariants">
                <i class="bi bi-search {{formTextColor}}"></i>
            </button>
        </div>
        <!-- ATTRIBUTE LIST -->
        <form  [formGroup]="selectedAttributeForm">
            <ul class="list-unstyled px-4 " >
                <li class="text-decoration-none m-auto mb-2 " *ngFor="let item of attributes | async | searchFilter: searchString; let i = index">
                    <label >
                        <div class="input-group d-flex align-items-center">
                            <input class="form-check-input rounded-0 mt-0 border-dark-subtle cursor-pointer" 
                            type="checkbox" 
                            (change)="toggleAttribute(item.id, item.name)" 
                            [checked]="isSelected(item.id)"
                            />
                            <p class="mx-2 m-auto cursor-pointer {{formTextColor}}">{{ item.name }}</p>
                        </div>
                    </label>
                </li>
            </ul>
        </form>
    </div>
    <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal" (click)="removeAllAttribute()">Cancel</button>
        <button type="submit" class="btn btn-primary" (click)="onSave()" >Confirm</button>
    </div>
</ng-container>
        
        