.product-container{
    max-width: 50rem;
    width: 100%;
}

.color-container{
    width: 50px;
    height: 50px;
}

.variant-list-item{
    cursor: pointer;
}

.image-container{
    max-width: 10.7rem;
    min-width: 10.7rem;
    height: 10rem;
}

.image-resolution-shadow{
    border: 1px solid;
    box-shadow: 0 0 3px 3px #F00;
}


.img-remove-btn{
    max-width: 1rem;
    min-width: 1rem;
    height: 1.5rem;
}

.actionbtn{
    width: 2.7rem;
    height: 1.8rem;
}
.actionbtn:hover{
    box-shadow: 0px 0px 20px 0px rgba(28,146,255,0.75);
    border:none !important;
}

.actionbtn i:hover{
    color: #ffffff;
}

.border-dashed{
    border: dashed 2px;
    padding: 20px;
}

select option {
    padding: 0;
    background: #1E2029;
    color: #fff;
}

::placeholder {
    color: #959BA5;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #959BA5;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #959BA5;
}

.rounded-corner{
    border-radius: 0;
}

.accordion-button::after {
    content: none;
}

.accordion-body {
    border: 1px solid var(--adm-light-gray);
    border-radius: 10px;
}



