<div class="container-fluid m-auto h-auto px-0 px-sm-3" >

    <app-table
        tableTitle="REGISTERED USERS"
        subTitle="VALUED CUSTOMERS"
        [tableHead]="true"
        tableContainerClass="p-4 table-container"
        tableChildContainer="table-child-container"
        [paginate]="false"
        
        [tableTools]="true"
        [searchBar]="true"
        [tableAction]="true"
        [banBtn]="true"
        
        [tableHeader]="['USER ID','EMAIL', 'DATE CREATED', 'LAST LOGIN']"
        [tableRows]="['user_id', 'email','created_at', 'last_login']"
        [tableData]="users"
        [bannedStatus]="bannedStatus"
        [bannedBtn]="true"
        (rowDataSelected)="onRowDataSelected($event)"
    ></app-table>
    
    <div class="position-absolute w-50 end-0 bottom-0 mb-5 mx-4 h-auto">
        <div class="position-relative mb-5">
            <app-toast toastClass="end-0" [toastTheme]="this.toastTheme" [toastTitle]="this.toastHeader" [toastContent]="this.toastContent"></app-toast>
        </div>
    </div>
    
    <!-- <app-chats
        [size]="'chat-body-lg'"
    ></app-chats> -->
    <app-toast-notification></app-toast-notification>
</div>

    <app-modal
        modalId="ban"
        modalClass="modal-md"
        [modalTitle]="modalTitle"
        modalSubTitle="ACCOUNT MANAGEMENT"
        (RefreshTable)="refreshTableData()"
        [modalBanAccounts]="modalBanAccounts"
        [modalUnBanAccounts]="modalUnBanAccounts"
        [selectedRowData]="selectedRowData"
        (SuccessToast)="SuccessToast($event)"
        (WarningToasts)="WarningToast($event)"
        (ErrorToasts)="ErrorToast($event)"
    ></app-modal>


