<div class="container-md m-auto h-auto p-2" >
    <app-table
        tableTitle="REGISTERED USERS"
        subTitle="VALUED CUSTOMERS"
        
        [tableTools]="true"
        [searchBar]="true"
        [tableAction]="true"
        [banBtn]="true"
        
        [tableHeader]="['USER ID','EMAIL', 'DATE CREATED', 'LAST LOGIN']"
        [tableRows]="['user_id', 'email','created_at', 'last_login']"
        [tableData]="users"
        [bannedStatus]="bannedStatus"
        
        (rowDataSelected)="onRowDataSelected($event)"
    ></app-table>
</div>

    <app-admin-parent-form
        modalID="ban"
        [modalTitle]="modalTitle"
        modalSubTitle="ACCOUNT MANAGEMENT"
        (RefreshTable)="refreshTableData()"
        [modalBanAccounts]="modalBanAccounts"
        [modalUnBanAccounts]="modalUnBanAccounts"
        [selectedRowData]="selectedRowData"
    ></app-admin-parent-form>


