<app-modal-client [mode]="this.mode" [modalSize]="'modal-md'"></app-modal-client>
<div class="container-md" id="homeContainer">
    <!-- <a [routerLink]="['/my-styles']" class="button-primary">My Styles</a> -->
    <!-- Banners -->
    <div class="d-flex justify-content-center align-items-center my-5 flex-column">
        <a href="#" *ngFor="let banner of banners | async">
            <img class="img-fluid mb-2" [src]="banner.path" [alt]="banner.label">
        </a>
    </div>

    <!-- Category -->
    <div class="d-flex justify-content-start mt-5">
        <span class="blue-accent me-3"></span><p class="m-0 fs-3 fw-bold">Shop by Category</p>
    </div>

    <div class="row mt-3">
        <div class="col-6 col-lg-4 col-xl-3 mb-3" *ngFor="let category of categories | async"> 
            <a [routerLink]="['/category', category.id]" class="text-reset text-decoration-none">
                <div class="category-card px-5 py-5 d-flex justify-content-center align-items-center" [style.background-image]="category.images ? 'url(' + category.images + ')' : 'url(' + 'https://picsum.photos/800' +')'">
                    <p class="m-0 fs-4 fw-bold text-white">{{category.name}}</p>
                </div>
            </a>
        </div>
    </div>

    <!-- Trending -->

    <div>
        <div class="d-flex justify-content-between align-items-center mt-5 mb-3">
            <div class="d-flex">
                <span class="blue-accent me-3"></span>
                <p class="m-0 fs-3 fw-bold">Trending Now</p>
            </div>
            <!-- <a [routerLink]="['/home']">View All</a> -->
        </div>

        <app-outline-circle-spinner class="ms-3" [isBlue]="true" [size]="'medium'" *ngIf="isLoading"></app-outline-circle-spinner>
        <app-product-carousel [products]="trending" [itemsPerPage]="itemsPerPage" [hidden]="isLoading"></app-product-carousel>
    </div>



    <!-- Best Sellers -->

    <div class="d-flex justify-content-between align-items-center mt-5 mb-3">
        <div class="d-flex">
            <span class="blue-accent me-3"></span>
            <p class="m-0 fs-3 fw-bold">Best Sellers</p>
        </div>
        <!-- <a [routerLink]="['/home']">View All</a> -->
    </div>

    <app-outline-circle-spinner class="ms-3" [isBlue]="true" [size]="'medium'" *ngIf="isLoading"></app-outline-circle-spinner>
    <app-product-carousel [products]="products" [itemsPerPage]="itemsPerPage"[hidden]="isLoading"></app-product-carousel>

    <!-- <button class="btn btn-primary mt-5" (click)="toastRand()">Toast!</button> -->
</div>