
.table-container{
    font-family: 'Mulish', sans-serif;
}

.header-sub-title{
    color: #C1C1C1;
}

.bg-theme-blue{
    background: #0064C0;
}

.bg-header-dark{
    background: #16181F;
}

table th:first-child{
    border-radius: 16px 0 0 16px;
}

table th:last-child{
    border-radius:0 16px 16px 0;
}

.max-text{
    max-width: 10rem;
}

.tooltip-container {
    position: relative;
  }
  
  .tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 1;
    top: calc(100% + 5px);
    left: 0;
    display: none;
  }
  
  .tooltip-container:hover .tooltip {
    display: block;
  }
  
  ::placeholder {
    color: #959BA5;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #959BA5;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #959BA5;
  }
  
  