
<div class="container-fluid position-relative pb-4 " >

    <div class="table-border {{tablebordercolor}} box-shadow">
    
        <div class="{{tableContainerClass}} table-container overflow-hidden w-100 position-relative rounded-4  {{table_container_bg}}  ">
        
            <div class="table-header d-flex justify-content-between align-items-center pb-2 pt-2 mb-3" *ngIf="tableHead">
                <div class="row w-100 mx-0 ">
                    <div class="col-lg-5 px-0">
                        <div class="table-title text-start">
                            <h1 class="header-title fw-bold fs-4 mb-2 {{tabletitlecolor}}">{{tableTitle}}</h1>
                            <h3 class="header-sub-title fw-bold fs-6 mt-0 {{tablesubtitlecolor}}">{{subTitle}}</h3>
                        </div>
                    </div>
                    
                    <div class=" pe-1 col-lg-7 px-0 d-flex align-items-center justify-content-end ">          
                        <div 
                            class="table-tools w-100 d-flex mt-2 mt-lg-0 justify-content-lg-end justify-content-between"
                            *ngIf="tableTools"
                        >
                            <div *ngIf="Btntools" class="button-container  mt-sm-0 p-0 mt-2 w-auto d-flex justify-content-start justify-content-lg-end">
                                <button
                                    *ngIf="addProdBtn"
                                    type="button" 
                                    class="add-btn btn btn-primary text-nowrap rounded-4 text-white mx-2 border-0 py-2 px-4 {{btncolor}} {{addBtnclass}}" 
                                    (click)="showAddForm()"
                                    >
                                    <i class="bi bi-plus-lg fw-bold"></i>
                                    {{addbtnName}}
                                </button>
                                <button
                                    *ngIf="addBtn"
                                    type="button" 
                                    class="add-btn btn btn-primary text-nowrap rounded-4 p-3  text-white mx-1 border-0 py-2 px-3 {{btncolor}} {{addBtnclass}}" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#add"
                                    >
                                    <i class="bi bi-plus-lg fw-bold"></i>
                                    {{addbtnName}}
                                </button>
                                
                                <!-- <button
                                    *ngIf="addSubBtn"
                                    type="button" 
                                    class="btn btn-primary text-nowrap text-white mx-1 border-0 p-2 {{btncolor}} {{addSubBtnclass}}"
                                    (click)="showAddSubForm()"
                                    >{{addSubtnName}}
                                </button> -->
                                
                                <button 
                                    *ngIf="restockBtn"
                                    type="button" 
                                    class="btn btn-primary text-nowrap text-white mx-1 border-0 p-2 {{btncolor}} {{restockBtnclass}}"
                                    
                                    >RESTOCK</button>
                            </div>
    
                            <div class="searchbar-container w-auto px-0 {{searchBarclass}}" *ngIf="searchBar">
                                <div  class="input-group mx-1 bg-transparent" >
                                    
                                    <span class="input-group-text {{textcolor}} searchbar-btn bg-transparent rounded-4 rounded-end-0 border border-1 border-end-0  {{borders}}" id="basic-addon2">
                                        <i class="bi bi-search"></i>
                                    </span>
                                    
                                    <input 
                                    
                                        class="form-control search-field {{textcolor}} rounded-4 rounded-start-0 border border-1 border-start-0 p-2 {{borders}} bg-transparent" 
                                        name="searchString" 
                                        type="search" 
                                        placeholder="Search Items Here"
                                        [(ngModel)]="searchFilter"
                                        (ngModelChange)="applySearchFilter()"
                                        *ngIf="paginate === true"
                                    >
                                    
                                    <input 
                                    
                                        class="table-search form-control {{textcolor}} search-field rounded-4 rounded-start-0 border border-1 border-start-0 bg-transparent p-2 {{borders}}" 
                                        name="searchString" 
                                        type="search" 
                                        placeholder="Search Items Here"
                                        [(ngModel)]="searchString"
                                        *ngIf="paginate === false"
                                    >
                                        
        
                                </div>
                            </div>
                            
    
                        
                        </div>
                    </div>
                </div>
            </div>
    
        
            <div class="{{tableChildContainer}} overflow-x-auto  ">
                <!--With Pagination-->
                <table class="table table-striped" *ngIf="paginate === true">
                    <thead>
                        <tr >
                            <th class=" bg-theme-blue th fw-bold fs-6 text-center text-white p-3 text-nowrap" *ngFor="let item of tableHeader">{{item}}</th>
                            
                            <!--Enable this tableHeader Action-->
                            <th *ngIf="tableAction"
                                class="th bg-theme-blue fw-bold fs-6 text-center dataTools text-white p-3"
                            >       
                            ACTIONS
                            </th>
                        </tr>
                    </thead>
                    <tbody class="position-relative">
            
                        <ng-container *ngIf="(displayedItems$ | async ) as displayedItems">
                            <tr *ngFor="let item of displayedItems">
                                <td class=" pt-3 text-center text-nowrap max-text text-truncate overflow-hidden" *ngFor="let row of tableRows" >
                                        {{ item[row] }}
                                </td>
                                <!--Enable this table Actions-->
                                <td *ngIf="tableAction"
                                    class="dataTools d-flex justify-content-center align-items-center pt-3"
                                >       
                                
                                    <!--EDIT BTN-->
                                    <button 
                                        (click)="sendRowData(item)"
                                        *ngIf="editBtn"
                                        type="button" 
                                        class="{{editBtnclass}} btn btn-primary bg-none text-primary border-primary rounded-3 mx-2 w-20 px-2 pt-1 pb-1 d-flex align-items-center"
                                        (click)="showEditForm()"
                                        [title]="'Edit'"
                                    >
                                        <i class="bi bi-pencil-square fs-5"></i>
                                    </button>
                                    
                                    <button 
                                        (click)="sendRowData(item)"
                                        *ngIf="editSubBtn"
                                        type="button" 
                                        class="{{editBtnclass}} btn btn-primary bg-none text-primary border-primary rounded-3 mx-2 w-20 px-2 pt-1 pb-1 d-flex align-items-center"
                                        (click)="showEditSubForm()"
                                        [title]="'Edit'"
                                    >
                                        <i class="bi bi-pencil-square fs-5"></i>
                                    </button>
                                    
                                    <!--DELETE BTN-->
                                    <button 
                                        (click)="sendRowData(item)"
                                        *ngIf="deleteBtn"
                                        type="button" 
                                        class="{{deleteBtnclass}} btn btn-primary bg-none text-primary border-primary rounded-3 mx-2 w-20 px-2 pt-1 pb-1 d-flex align-items-center"
                                        data-bs-toggle="modal" data-bs-target="#delete"
                                        [title]="'Delete'"
                                    >
                                        <i class="bi bi-trash fs-5"></i>
                                    </button>
                                    
                                    <button 
                                        (click)="sendRowData(item)"
                                        *ngIf="deleteSubBtn"
                                        type="button" 
                                        class="{{deleteBtnclass}} btn btn-primary bg-none text-primary border-primary rounded-3 mx-2 w-20 px-2 pt-1 pb-1 d-flex align-items-center"
                                        data-bs-toggle="modal" data-bs-target="#deleteSub"
                                        [title]="'Delete'"
                                    >
                                        <i class="bi bi-trash fs-5"></i>
                                    </button>
                                    
                                    <!--VIEW BTN-->
                                    <button
                                        (click)="sendRowData(item)"
                                        *ngIf="viewBtn"
                                        type="button" 
                                        class="{{viewBtnclass}} btn btn-primary bg-none text-primary border-primary rounded-3 mx-2 w-20 px-2 pt-1 pb-1 d-flex align-items-center"
                                        data-bs-toggle="modal" data-bs-target="#view"
                                        [title]="'View'"
                                    >
                                        <i class="bi bi-eye fs-5"></i>
                                    </button>
                                    
                                    <button
                                        (click)="sendRowData(item)"
                                        *ngIf="viewBtn2"
                                        type="button" 
                                        class="{{viewBtnclass}} btn btn-primary bg-none text-primary border-primary rounded-3 mx-2 w-20 px-2 pt-1 pb-1 d-flex align-items-center"
                                        data-bs-toggle="modal" data-bs-target="#view2"
                                        [title]="'View'"
                                    >
                                        <i class="bi bi-eye fs-5"></i>
                                    </button>
                                    
                                    <!--BAN BTN-->

                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                
                <!--Without Pagination -->
                <table class="table " *ngIf="paginate === false">
                    <thead >
                        <tr class="border border-dark">
                            <th *ngIf="showMultipleSelection" colspan="1"  class=" {{tableHeaderbg}} " >
    
                                <div  class="container position-relative cursor-pointer d-flex align-content-center justify-content-center">
                                    <label class="position-relative p-0 cursor-pointer m-auto">
                                        <input 
                                            #checkboxInput
                                            [checked]="isAllChecked"
                                            class="form-check-input visually-hidden" 
                                            type="checkbox"  
                                            (change)="selectAll()"
                                        />
                                        <span class="custom-checkbox rounded-1 bg-none mt-0 cursor-pointer {{checkboxcolor}}"></span>
                                        <span *ngIf="showMinus" class="minus position-absolute" ></span>
                                    </label>
                                </div>
    
                            </th>
        
                            <th colspan="2" class=" {{tableHeaderbg}} table-header-dark th fw-bold fs-6 text-center text-white text-nowrap" *ngFor="let item of tableHeader">{{item}}</th>
                        
                            <!--Enable this tableHeader Action-->
                            <th colspan="1" *ngIf="tableAction"
                                class="th {{tableHeaderbg}}  fw-bold fs-6 text-center dataTools text-white"
                            >       
                            </th>
                        </tr>
                    </thead>
                    
                    <tbody class="">
                        <tr class="border-0  {{bordercolor}}" *ngFor="let item of (tableData | async | searchFilter: searchString)  let i = index" >
                            <td *ngIf="showMultipleSelection" colspan="1" class="{{textcolor}} ">
                                <div class=" m-auto d-flex align-items-center justify-content-center p-2">
                                    <label class="position-relative p-0 cursor-pointer">
                                        <input 
                                            [checked]="isChecked(item.id || item.product_id)" 
                                            (change)="toggleSelection(item, $event)" 
                                            class="visually-hidden form-check-input rounded-1 bg-none mt-0 cursor-pointer {{checkboxcolor}}" 
                                            type="checkbox"  
                                        />
                                        <span class="custom-checkbox rounded-1 bg-none mt-0 cursor-pointer {{checkboxcolor}}"></span>
                                        <span class="check position-absolute" ><i *ngIf="isChecked(item.id || item.product_id)" class="bi bi-check"></i></span>
                                    </label>
                                </div>
                            </td>
                            
                            <td colspan="2" class="m-auto text-center" *ngFor="let row of tableRows">
                                <ng-container *ngIf="row === 'preview_image'; else notImage">
                                    <img [src]="item[row]" alt="Product Image" class="img-thumbnail" />
                                </ng-container>
                                <ng-template #notImage>
                                    <label [ngClass]="{'text-uppercase': row === 'id' || row === 'product_id'}" class="text-center mt-1 {{textcolor}}">
                                        <ng-container *ngIf="row === 'price'; else notPrice">{{ 'Php ' + (item[row] | number: '1.2-2') }}</ng-container>
                                        <ng-template #notPrice>{{ item[row] }}</ng-template>
                                    </label>
                                </ng-template>
                            </td>
                            
                            <!--Enable this table Actions-->
                            <td colspan="1" *ngIf="tableAction" class="{{textcolor}} position-relative ">
                                <div *ngIf="actionBtn" class=" m-auto d-flex align-items-center p-2">
                                    <button 
                                        id="actionBtn" 
                                        class="actionbtn m-auto position-relative btn d-flex align-items-center justify-content-center p-2  border {{bordercolor}} {{textcolor}}"
                                        [class.activebtn]="activeButtonIndex === i"
                                        (click)="showAction(i)"
            
                                        > 
                                        <i class="bi bi-three-dots fs-5"></i> 
                                    </button>
                                </div>

                                <!--SHIPPED STATUS BTN-->
                                <ng-container *ngIf="orderBtn">
                                    <button
                                        (click)="sendRowData(item)"
                                        *ngIf="item.status === paymentStatus"
                                        type="button"
                                        class="btn btn-primary bg-none text-primary border-primary rounded-3 mx-2 w-20 px-2 pt-1 pb-1 d-flex align-items-center"
                                        data-bs-toggle="modal" data-bs-target="#confirm"
                                        [title]="'Confirm Payment'"
                                    >
                                        <i class="bi bi-check-lg fs-5"></i>
                                    </button>
                                    <button
                                        (click)="sendRowData(item)"
                                        *ngIf="item.status === shipStatus"
                                        type="button"
                                        class="btn btn-primary bg-none text-primary border-primary rounded-3 mx-2 w-20 px-2 pt-1 pb-1 d-flex align-items-center"
                                        data-bs-toggle="modal" data-bs-target="#ship"
                                        [title]="'Ship Order'"
                                    >
                                        <i class="bi bi-box-seam fs-5"></i>
                                    </button>
                                    
                                    <button
                                        (click)="sendRowData(item)"
                                        *ngIf="item.status === deliverStatus"
                                        type="button"
                                        class="btn btn-primary bg-none text-primary border-primary rounded-3 mx-2 w-20 px-2 pt-1 pb-1 d-flex align-items-center"
                                        data-bs-toggle="modal" data-bs-target="#deliver"
                                        [title]="'Deliver Order'"
                                    >
                                        <i class="bi bi-truck fs-5"></i>
                                    </button>
                                    
                                    <button
                                        (click)="sendRowData(item)"
                                        *ngIf="item.status === 200"
                                        type="button"
                                        class="btn btn-primary bg-none text-white border-primary rounded-3 mx-2 w-20 px-2 pt-1 pb-1 d-flex align-items-center"
                                        data-bs-toggle="modal" data-bs-target="#deliver"
                                        [title]="'Delivered'"
                                    >
                                        <i class="bi bi-truck fs-5"></i>
                                    </button>
                                    
                                </ng-container>   

                                <!--ACCOUNT STATUS BTN-->
                                <ng-container *ngIf="bannedBtn">
                                    <button
                                        (click)="sendRowData(item)"
                                        *ngIf="banBtn"
                                        type="button"
                                        [class]="bannedStatus[item.user_id] ? 'btn btn-danger bg-banned text-white border-danger rounded-3 mx-2 w-20 px-2 pt-1 pb-1 d-flex align-items-center' : 'btn btn-primary bg-none text-primary border-primary rounded-3 mx-2 w-20 px-2 pt-1 pb-1 d-flex align-items-center'"
                                        data-bs-toggle="modal" data-bs-target="#ban"
                                        [title]="bannedStatus[item.user_id] ? 'Unban':'Ban'"
                                    >
                                        <i class="bi bi-hammer fs-5"></i>
                                    </button>
                                </ng-container>
                            </td>

                            <div (mouseleave)="showAction(i)" *ngIf="rowActionVisibility[i]" class="z-3 bg-none rounded-3 position-absolute  p-0 end-0 me-1">
                                <div class="action-container m-0 position-relative p-0 d-block bg-none rounded-3 mt-0 hover-div">
                                    <button 
                                        type="button"
                                        data-bs-toggle="modal" data-bs-target="#edit"
                                        class="edit-btn px-4 py-1 border-0 actn-btn w-100 mt-0 rounded-3 rounded-bottom-0 "
                                        (click)="sendRowData(item)"
                                        > 
                                        Edit
                                    </button>
                                    <div class="action-border"></div>
                                    <button 
                                        type="button"
                                        data-bs-toggle="modal" data-bs-target="#delete"
                                        class="delete-btn px-4 py-1 border-0 actn-btn w-100 rounded-3 rounded-top-0 "
                                        (click)="sendRowData(item)"
                                        > 
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </tr>
                        
                    </tbody>
                </table>
                
            </div>
        
        
            <nav class="align-items-center row mt-2" *ngIf="paginate">
            
                <div class="col-lg-6 d-flex">
                    <label for="pageSize" class="mx-2 text-nowrap">Items per page:</label>
                    <select id="pageSize" (change)="changePageSize($event)">
                        <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
                    </select>
                </div>
                <div class="col-lg-6 d-flex justify-content-start justify-content-lg-end">
                    <ul class="pagination d-flex flex-wrap align-items-center mt-3 mx-2">
                        <li class="page-item ">
                            <button  class="page-link bg-white" (click)="goToPreviousPage()" [disabled]="currentPage === 1">Previous</button>
                        </li>
                        <li class="page-item"><a class="page-link text-nowrap">Page {{ currentPage }} of {{ totalPages }}</a></li>
                        <li class="page-item">
                            <button class="page-link bg-white" (click)="goToNextPage()" [disabled]="currentPage === totalPages">Next</button>
                        </li>
                    </ul>
                </div>
            
        
            </nav>
            
        
        </div>
    </div>
    <div *ngIf="selectedIds.length > 0" class="actionbar  w-100 m-0 ms-0 start-0 position-absolute  d-flex justify-content-center  bottom-0 mb-3">
        <div class="bar rounded-5 p-2 box-shadow">
            <div class="row align-items-center p-2">
                <div class="col-sm-6 d-flex align-items-center">
                    <button (click)="removeAllSelected()" class="btn "><i class="bi bi-x {{tabletitlecolor}}"></i></button>
                    <div class="content d-flex align-items-center">
                        <label class="mx-2 lh-1 item-selected rounded-5 p-1 px-2 {{tabletitlecolor}}" > {{selectedIds.length}} </label>
                        <label class=" lh-1 {{tabletitlecolor}}" >Items Selected</label>
                    </div>
                </div>
                <div class="col-sm-6 d-flex justify-content-end">
                    <button  
                        type="button"
                        data-bs-toggle="modal" data-bs-target="#deleteMultiple"
                        [title]="'Delete'"
                        class="btn rounded-5 {{tabletitlecolor}} {{actionbarbtnbg}}"
                    >
                        <i class="bi bi-trash"></i>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>