
.table-container{
    font-family: 'Mulish', sans-serif;
}

.header-sub-title{
    color: #C1C1C1;
}

.bg-theme-blue{
    background: #0064C0;
}

table th:first-child{
    border-radius: 8px 0 0 8px;
}

table th:last-child{
    border-radius:0 8px 8px 0;
}

