<div class="container-md mt-5">
    <nav style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb ">
            <li class="breadcrumb-item active"><a href="#" class="text-reset text-decoration-none">Shopping Cart</a></li>
            <li class="breadcrumb-item"><a href="#" class="text-reset text-decoration-none">Pay</a></li>
            <li class="breadcrumb-item"><a href="#" class="text-reset text-decoration-none">Order Complete</a></li>
        </ol>
    </nav>
    
    <div class="carousel slide" id="shoppingCartCarousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-8">
                        <!-- table tag-->
                        <div class="p-3 pb-1 table-group">
                            <p class="fs-3 fw-bold">Item Summary ( {{cartContents.length}} )</p>
                            <table class="table table-hover">
                                <thead>
                                    <tr class="m-0 p-0">
                                        <th scope="col">Select</th>
                                        <th scope="col">Preview</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="cartContents.length == 0" class="table-group-divider">
                                    <td colspan="6"><div class="p-3 text-center">You do not have items in your cart.</div></td>
                                </tbody>

                                <tbody *ngIf="cartContents.length != 0" class="table-group-divider">
                                    <tr *ngFor="let item of cartContents; let i = index" class="item-row">
                                        <app-cart-item class="cart-item-row" [cartItem]="item" id="{{'cart-item-' + i}}" componentId="{{'cart-item-' + i}}" [index]=i (addOrderList)="addToOrder($event)" (removeOrderList)="removeFromOrder($event)"></app-cart-item>

                                    </tr>
                                    
                                    <tr>
                                        <td *ngFor="let item of orderList">
                                            <p>{{item.product.id + item.variant}}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="table-group p-3">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <h3 class="m-0"><i class="bi bi-geo-alt-fill color-primary"></i> Delivery Address</h3>
                                <a href="#" class="fs-3"><i class="bi bi-pencil-fill color-primary"></i></a>
                            </div>
                            <hr class="muted-text">
                            <div class="p-2">
                                <div class="fw-bold">Hardcoded John Smith</div>
                                <div>HRDCD-912-123</div>
                                <div>#69 Lampin Avenue, New Heights Village, City of Texas, United States of America</div>
                            </div>
                        </div>
                        <div class="table-group p-3 mt-3">
                            <div class="d-flex flex-row align-items-center">
                                <h3 class="m-0"><i class="bi bi-cash color-primary"></i> Payment Options</h3>
                            </div>
                            <hr class="muted-text">
                            <div class="p-2">
                                <div>
                                    <div class="d-flex form-check ps-0">
                                        <label for="cod" class="w-100">
                                            <div class="d-flex flex-row align-items-center">
                                                <i class="bi bi-box-seam-fill me-3 fs-3 color-primary"></i>
                                                <div>
                                                    <p class="m-0 fw-bold">Cash On Delivery</p>
                                                    <p class="m-0">Pay when you receive the parcel.</p>
                                                </div>
                                            </div>
                                        </label>
                                        <input type="radio" name="paymentMethod" value="cashOnDelivery" id="cod" class="form-check-input">
                                    </div>
                                    <hr class="my-3">
                                    <div class="d-flex form-check ps-0">
                                        <label for="gcash" class="w-100">
                                            <div class="d-flex flex-row align-items-center">
                                                <i class="bi bi-wallet-fill me-3 fs-3 color-primary"></i>
                                                <div>
                                                    <p class="m-0 fw-bold">GCash</p>
                                                    <p class="m-0">Pay with your GCash E-Wallet.</p>
                                                </div>
                                            </div>
                                        </label>
                                        <input type="radio" name="paymentMethod" value="gcash" id="gcash" class="form-check-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-group mt-3 p-3">
                            <div class="d-flex flex-row align-items-center">
                                <h3 class="m-0"><i class="bi bi-file-post color-primary"></i> Order Summary</h3>
                            </div>
                            <hr class="muted-text">
                            <div class="d-flex flex-row justify-content-between">
                                <p class="fw-bold">SUBTOTAL</p>
                                <div class="text-end">
                                    <p class="fs-3 fw-bold m-0">{{this.subtotal | currency}}</p>
                                    <p class="color-primary">Saved 100.00 dont mind me</p>
                                </div>
                            </div>
                            <hr class="muted-tex">
                            <button type="button" class="button-primary w-100" data-bs-target="#shoppingCartCarousel" data-bs-slide="next">Checkout</button>
                        </div>
                    </div>

                </div>
                
            </div>

            <div class="carousel-item">
                payment form
                <button type="button" class="button-primary" data-bs-target="#shoppingCartCarousel" data-bs-slide="prev">Previous</button>
                <button type="button" class="button-primary" data-bs-target="#shoppingCartCarousel" data-bs-slide="next">Proceed</button>
            </div>

            <div class="carousel-item">
                order complete form
                <button type="button" class="button-primary" data-bs-target="#shoppingCartCarousel" data-bs-slide="prev">Complete</button>
            </div>
        </div>
    </div>
</div>