<div class="container m-auto p-2 h-auto" *ngIf="formConfirm">
    <form class="w-100" (ngSubmit)="confirmPayment()" >
        
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img [src]="imageSrc" class="img-container h-100 w-100 mt-2 mb-2 border m-auto" alt="Confirm Payment" srcset="">
                </div>
                
                <div class="col-lg-6 mt-lg-0 mt-4">
                    <div class="container overflow-y-auto m-auto p-0" *ngIf="modalData; let items" >
                        <h1 class="form-title fs-4 fw-bolder mb-4 {{titleColor}}" >Customer Information</h1>
                        <div class="modal-sub-title fs-6 fw-bold {{titleColor}}">{{selectedRowData?.user_id}}</div>
                        <div class="modal-info-title text-dark-emphasis fs-6 pt-1 " >
                            <p class="user-info m-0 p-o lh-1 text-wrap {{itemColor}}" *ngIf="selectedRowData?.address_line_1">{{selectedRowData?.address_line_1}}</p>
                            <p class="user-info m-0 p-o lh-1 text-wrap {{itemColor}}" *ngIf="selectedRowData?.address_line_2">{{selectedRowData?.address_line_2}}</p>
                            <p class="user-info m-0 p-o lh-1 text-wrap {{itemColor}}" *ngIf="selectedRowData?.city">city of {{selectedRowData?.city}},</p>
                            <p class="user-info m-0 p-o lh-1 text-wrap {{itemColor}}" *ngIf="selectedRowData?.province">{{selectedRowData?.province}}</p>
                        </div>
                        <hr class="divider border {{bordercolor}}">
                        <h1 class="form-title fs-4 fw-bolder mb-4 {{titleColor}}" >Order Summarry</h1>
                        <ul class="list-unstyled" *ngFor="let item of modalConfirmData | async">
                            <li class="text-decoration-none row mb-2">
                                <div class="col-sm-8 text-start">
                                    <p class="product-name m-0 p-o lh-sm text-nowrap text-truncate {{itemColor}}">{{item.product_id}}</p>
                                    <p class="product-quantity m-0 p-o lh-sm text-nowrap text-truncate {{itemColor}}">variant</p>
                                    <p class="product-quantity m-0 p-o lh-sm text-nowrap text-truncate {{itemColor}}">x{{item.quantity}}</p>
                                </div>
                                <div class="col-sm-4 text-end d-flex align-items-center justify-content-end">
                                    <h1 class="product_price fs-4 fw-bolder {{titleColor}}" >₱{{item.sub_price}}</h1>
                                </div>
                            </li>
                            <li class="text-decoration-none row mb-2">
                                <div class="col-sm-8 text-start">
                                    <p class="product-name m-0 p-o lh-sm text-nowrap text-truncate {{itemColor}}">{{item.product_id}}</p>
                                    <p class="product-quantity m-0 p-o lh-sm text-nowrap text-truncate {{itemColor}}">variant</p>
                                    <p class="product-quantity m-0 p-o lh-sm text-nowrap text-truncate {{itemColor}}">x{{item.quantity}}</p>
                                </div>
                                <div class="col-sm-4 text-end d-flex align-items-center justify-content-end">
                                    <h1 class="product_price fs-4 fw-bolder {{titleColor}}" >₱{{item.sub_price}}</h1>
                                </div>
                            </li>
                            <li class="text-decoration-none row mb-2">
                                <div class="col-sm-8 text-start">
                                    <p class="product-name m-0 p-o lh-sm text-nowrap text-truncate {{itemColor}}">{{item.product_id}}</p>
                                    <p class="product-quantity m-0 p-o lh-sm text-nowrap text-truncate {{itemColor}}">variant</p>
                                    <p class="product-quantity m-0 p-o lh-sm text-nowrap text-truncate {{itemColor}}">x{{item.quantity}}</p>
                                </div>
                                <div class="col-sm-4 text-end d-flex align-items-center justify-content-end">
                                    <h1 class="product_price fs-4 fw-bolder {{titleColor}}" >₱{{item.sub_price}}</h1>
                                </div>
                            </li>

                            <li class="text-decoration-none row mb-2">
                                <div class="col-sm-8 text-start">
                                    <p class="product-name m-0 p-o lh-sm text-nowrap text-truncate {{itemColor}}">{{item.product_id}}</p>
                                    <p class="product-quantity m-0 p-o lh-sm text-nowrap text-truncate {{itemColor}}">variant</p>
                                    <p class="product-quantity m-0 p-o lh-sm text-nowrap text-truncate {{itemColor}}">x{{item.quantity}}</p>
                                </div>
                                <div class="col-sm-4 text-end d-flex align-items-center justify-content-end">
                                    <h1 class="product_price fs-4 fw-bolder {{titleColor}}" >₱{{item.sub_price}}</h1>
                                </div>
                            </li>
                            <li class="text-decoration-none row mb-2">
                                <div class="col-sm-8 text-start">
                                    <p class="product-name m-0 p-o lh-sm text-nowrap text-truncate {{itemColor}}">{{item.product_id}}</p>
                                    <p class="product-quantity m-0 p-o lh-sm text-nowrap text-truncate {{itemColor}}">variant</p>
                                    <p class="product-quantity m-0 p-o lh-sm text-nowrap text-truncate {{itemColor}}">x{{item.quantity}}</p>
                                </div>
                                <div class="col-sm-4 text-end d-flex align-items-center justify-content-end">
                                    <h1 class="product_price fs-4 fw-bolder {{titleColor}}" >₱{{item.sub_price}}</h1>
                                </div>
                            </li>
                            <li class="text-decoration-none row mb-2">
                                <div class="col-sm-8 text-start">
                                    <p class="product-name m-0 p-o lh-sm text-nowrap text-truncate {{itemColor}}">{{item.product_id}}</p>
                                    <p class="product-quantity m-0 p-o lh-sm text-nowrap text-truncate {{itemColor}}">variant</p>
                                    <p class="product-quantity m-0 p-o lh-sm text-nowrap text-truncate {{itemColor}}">x{{item.quantity}}</p>
                                </div>
                                <div class="col-sm-4 text-end d-flex align-items-center justify-content-end">
                                    <h1 class="product_price fs-4 fw-bolder {{titleColor}}" >₱{{item.sub_price}}</h1>
                                </div>
                            </li>
                        </ul>
                        <hr class="divider mb-4 border {{bordercolor}}">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="fs-5 fw-bold {{titleColor}}">Subtotal</h3>
                            </div>
                            <div class="col-sm-6 d-flex justify-content-end align-content-center">
                                <h1 class="form-title fs-2 fw-bolder mb-4 {{titleColor}}" >₱{{selectedRowData?.total_price}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer border-0 px-0 mt-4">
            <button type="button" class="btn btn-dark bg-none btn-muted cancel-btn rounded-3"  data-bs-dismiss="modal">CANCEL</button>
            <button 
                type="submit" 
                class="btn btn-primary bg-light-primary "
                
            >
                CONFIRM
            </button>
        </div>
    </form>
</div>

<div class="container m-auto p-2 overflow-y-auto" *ngIf="formShip">
    <form  (ngSubmit)="shipPackage()" >
        <div class="modal-body text-center pt-0 pb-0">
            <p class="fs-5 fw-bold mb-1 {{textcolor}}">Are you sure you want to this order to mark as ship?</p>
            <h1 class="text-primary fs-4 fw-bolder text-truncate" >{{selectedRowData?.id}}</h1>
        </div>
        
        <div class="modal-footer border-0 justify-content-center mb-3">
            <button type="button" class="btn btn-dark bg-none btn-muted cancel-btn rounded-3"  data-bs-dismiss="modal">CANCEL</button>
            <button 
                type="submit" 
                class="btn btn-primary bg-light-primary glow-primary"

            >
                CONFIRM
            </button>
        </div>
    </form>
</div>

<div class="container m-auto p-2 overflow-y-auto" *ngIf="formDelivered">
    <form  (ngSubmit)="delivered()" >
        <div class="modal-body text-center pt-0 pb-0">
            <p class="fs-5 fw-bold mb-1 {{textcolor}}">Are you sure you want to this order to mark as delivered?</p>
            <h1 class="text-primary fs-4 fw-bolder text-truncate" >{{selectedRowData?.id}}</h1>
        </div>
        
        <div class="modal-footer border-0 justify-content-center mb-3">
            <button type="button" class="btn btn-dark bg-none btn-muted cancel-btn rounded-3"  data-bs-dismiss="modal">CANCEL</button>
            <button 
                type="submit" 
                class="btn btn-primary bg-light-primary glow-primary"

            >
                CONFIRM
            </button>
        </div>
    </form>
</div>