<div class="container m-auto p-2 h-auto" *ngIf="formConfirm">
    <form class="w-100" (ngSubmit)="confirmPayment()" >
        
        <img [src]="imageSrc" class="img-container h-100 w-100 mt-2 mb-2 border m-auto" alt="Confirm Payment" srcset="">
        
        <div class="modal-footer border-0 px-0">
            <button type="button" class="btn btn-muted" data-bs-dismiss="modal">CANCEL</button>
            <button 
                type="submit" 
                class="btn btn-primary bg-light-primary "
                
            >
                CONFIRM
            </button>
        </div>
    </form>
</div>

<div class="container m-auto p-2 overflow-y-auto" *ngIf="formShip">
    <form  (ngSubmit)="shipPackage()" >
        <div class="modal-body text-center pt-0 pb-0">
            <p class="fs-5 fw-bold mb-1">Are you sure you want to this order to mark as ship?</p>
            <h1 class="text-primary fs-4 fw-bolder" >{{selectedRowData?.id}}</h1>
        </div>
        
        <div class="modal-footer border-0 justify-content-center mb-3">
            <button type="button" class="btn btn-muted" data-bs-dismiss="modal">CANCEL</button>
            <button 
                type="submit" 
                class="btn btn-primary bg-light-primary "

            >
                CONFIRM
            </button>
        </div>
    </form>
</div>

<div class="container m-auto p-2 overflow-y-auto" *ngIf="formDelivered">
    <form  (ngSubmit)="delivered()" >
        <div class="modal-body text-center pt-0 pb-0">
            <p class="fs-5 fw-bold mb-1">Are you sure you want to this order to mark as delivered?</p>
            <h1 class="text-primary fs-4 fw-bolder" >{{selectedRowData?.id}}</h1>
        </div>
        
        <div class="modal-footer border-0 justify-content-center mb-3">
            <button type="button" class="btn btn-muted" data-bs-dismiss="modal">CANCEL</button>
            <button 
                type="submit" 
                class="btn btn-primary bg-light-primary "

            >
                CONFIRM
            </button>
        </div>
    </form>
</div>