<div class="d-flex position-relative">

    <header  class="dashboard-header z-3 position-fixed d-flex align-items-center {{header_bg}}" >
        <div class="container-fluid header-container h-100 d-flex align-items-center " [ngClass]="salesHeader ? 'justify-content-between':'justify-content-end'">
            <div [class.active-header]="isClassToggled" class="burger-container header-tools h-auto px-3 ">
                <div [class.change]="isClassToggled" class="burger" (click)="toggleClass()">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
            <div *ngIf="salesHeader" class="sales-report px-3 py-0 w-100 d-flex justify-content-between align-items-center">
                <div class="title ">
                    <h4 class="my-0 fw-bolder font-grey" *ngIf="salesProductTitle">Product Statistics of {{salesProductTitle}}</h4>
                    <p class="my-0 font-grey">Statistics from '{{from}}' to '{{to}}'</p>
                </div>
                <button 
                    class="px-3 btn glow-primary bg-light-primary btn-primary fw-light rounded-4"
                    type="button" 
                    data-bs-toggle="modal" 
                    data-bs-target="#filter"
                >
                <i class="bi bi-calendar me-2"></i>
                Filter by Date</button >
            </div>
            <div class="header-tools h-auto d-md-flex justify-content-between px-1 ">
                <div class="dropdown" >
                    <div [title]="'Notifications'" data-bs-toggle="dropdown" data-bs-auto-close="outside" class="header-icon-container mx-1 position-relative rounded-circle sidebar-bg-dark d-flex justify-content-center align-items-center cursor-pointer">
                        <i class="bi bi-bell-fill text-white fs-6"></i>
                        <ng-container *ngIf="notifications | async as items">
                            <ng-container *ngIf="calculateUnreadCount(items)">
                                <span class="position-absolute top-0 start-50 ms-2 mt-2 translate-middle p-1 bg-primary border border-light rounded-circle">
                                    <span class="visually-hidden">Notification</span>
                                </span>
                            </ng-container>
                        </ng-container>
                    </div>
                    <app-notification-dropdown #notification [data]="notifications" (markAllRead)="getAllNotifationIds($event)" (getNotifationData)="getNotifationData($event)"></app-notification-dropdown>
                </div>
                <div [routerLink]="'/profile'" [title]="'User Profile'" class="d-none d-md-flex header-icon-container mx-1 position-relative rounded-circle sidebar-bg-dark d-flex justify-content-center align-items-center cursor-pointer">
                    <img src="" alt="img">
                </div>
            </div>
        </div>
    </header>
    
    <!-- <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul> -->
    

    <div [class.active-button]="isClassToggled" class="sidebar z-2 d-flex flex-column flex-shrink-0 start-0 position-fixed h-100 overflow-auto">
        <div [class.active-header]="isClassToggled" class="burger-container header-tools h-auto px-4 pt-2 ms-2">
            <div [class.change]="isClassToggled" class="burger" (click)="toggleClass()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>
        
        <ul class="nav flex-column mb-auto " *ngIf="admin">
            <!-- Overview -->
            <div [ngClass]="isManageProductActive() ? admin_bg :''">
                <div [class]="isManageProductActive() ? 'active-rounded-bottom item-container ' + sidebar_bg :''  " routerLinkActive="{{active_link}}">
                    <li [routerLink]="'/admin/overview'" (click)="closeAllMenu()"  class="d-flex align-items-center nav-item p-2 ps-2 mx-0">
                        
                        <div routerLinkActive="{{active_link_icon}}" class="icon-container rounded-3 d-flex justify-content-center align-item-center pt-1" >
                            <i routerLinkActive=" text-white" class="bi bi-microsoft text-dark-subtle-grey"></i>
                        </div>

                        <a class="nav-link text-dark-subtle-grey text-decoration-none" aria-current="page">
                            Overview
                        </a>
                    </li>
                </div>
            </div>

            <!-- Product management -->
            <div [ngClass]=" isOverviewActive() ? admin_bg :''   " >
                <div [ngClass]=" isManageOrderActive() ? admin_bg :''   " >
                    <div  [ngClass]="  isManageProductActive() ? active_link :'link-container' && isManageOrderActive() ? admin_bg :''">
                        <div [ngClass]=" isOverviewActive() ?  'active-rounded-top item-container ' + sidebar_bg : isManageOrderActive() ? 'active-rounded-bottom ' + sidebar_bg  :''   " >
                            <div >
                                
                                <li (click)="showProduct()"  [ngClass]="isManageProductActive() ? ' d-flex align-items-center nav-item p-2 ps-2 mx-0 ' + active_link:'d-flex align-items-center nav-item p-2 ps-2 mx-0'   "  >
                                    <div [class]="isManageProductActive() ? active_link_icon + ' icon-container icon-container rounded-3 d-flex justify-content-center align-item-center pt-1' :'icon-container icon-container rounded-3 d-flex justify-content-center align-item-center pt-1'  " >
                                        <i [class]="isManageProductActive() ? 'bi bi-folder2-open text-white':'bi bi-folder2-open text-dark-subtle-grey'"></i>
                                    </div>
                                    <a [class]="toggleProduct ? 'nav-link text-decoration-none text-dark-subtle-grey':'nav-link text-dark-subtle-grey text-decoration-none'" >
                                        Product Management
                                    </a>
                                </li>
                                
                                <div *ngIf="isManageProductActive()" class=" p-0 m-0 ps-2 pb-3">
                                
                                    <li [routerLink]="'/admin/attribute-management'" routerLinkActive="text-dark-subtle-grey" class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                                        <!-- <i routerLinkActive="text-white" class="bi bi-gear text-dark-subtle-grey"></i> -->
                                        <a  routerLinkActive="text-white" class="nav-link ms-4 text-dark-subtle-noactive text-decoration-none">
                                            Attributes
                                        </a>
                                    </li>
                
                                    <li [routerLink]="'/admin/category-management'"  routerLinkActive="text-dark-subtle-grey" class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                                        <!-- <i routerLinkActive="text-white" class="bi bi-gear text-dark-subtle-grey"></i> -->
                                        <a  routerLinkActive="text-white" class="nav-link ms-4 text-dark-subtle-noactive text-decoration-none">
                                            Category
                                        </a>
                                    </li>
                                    
                                    <li [routerLink]="'/admin/product-management'"  routerLinkActive="text-dark-subtle-grey" class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                                        <!-- <i routerLinkActive="text-white" class="bi bi-bag text-dark-subtle-grey"></i> -->
                                        <a routerLinkActive="text-white" class="nav-link ms-4 text-dark-subtle-noactive text-decoration-none">
                                            Products
                                        </a>
                                    </li>

                                    <li [routerLink]="'/admin/stocks-management'"  routerLinkActive="text-dark-subtle-grey" class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                                        <!-- <i routerLinkActive="text-white" class="bi bi-bag text-dark-subtle-grey"></i> -->
                                        <a routerLinkActive="text-white" class="nav-link ms-4 text-dark-subtle-noactive text-decoration-none">
                                            Stocks
                                        </a>
                                    </li>

                                    <li [routerLink]="'/admin/discounts-management'"  routerLinkActive="text-dark-subtle-grey" class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                                        <!-- <i routerLinkActive="text-white" class="bi bi-bag text-dark-subtle-grey"></i> -->
                                        <a routerLinkActive="text-white" class="nav-link ms-4 text-dark-subtle-noactive text-decoration-none">
                                            Discounts
                                        </a>
                                    </li>
                                
                                    
                                    
                                
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            
            <!-- Order management -->
            <div [ngClass]="isManageProductActive() ? admin_bg : isManageContentActive() ? admin_bg : '' ">  
                <div [class]="isManageOrderActive() ? active_link : isManageProductActive() ? 'active-rounded-top border-0 item-container ' +sidebar_bg  : isManageContentActive() ? 'active-rounded-bottom border-0 ' + sidebar_bg :'' ">
                
                    <li  (click)="showOrders()" [ngClass]="isManageOrderActive() ? 'd-flex align-items-center nav-item p-2 ps-2 mx-0':'d-flex align-items-center nav-item p-2 ps-2 mx-0'"  >
                        <div [class]="isManageOrderActive() ? 'active-link-icon icon-container icon-container rounded-3 d-flex justify-content-center align-item-center pt-1':'icon-container icon-container rounded-3 d-flex justify-content-center align-item-center pt-1'  " >
                            <i [class]="isManageOrderActive() ? 'bi bi-bag text-white':'bi bi-bag text-dark-subtle-grey' "></i>
                        </div>
                    
                        <a [class]="isManageOrderActive() ? 'nav-link text-decoration-none nav-link text-dark-subtle-grey':'nav-link text-dark-subtle-grey text-decoration-none'" >
                            Order Management
                        </a>
                    </li>
                    
                    <div *ngIf="isManageOrderActive() " class=" p-0 m-0 ps-2 pb-3">
                    
                        <li [routerLink]="'/admin/order-management'" routerLinkActive="text-dark-subtle-grey"  class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                            <!-- <i routerLinkActive="text-white" class="bi bi-list-check text-dark-subtle-grey"></i> -->
                            <a routerLinkActive="text-white" class="nav-link ms-4 text-dark-subtle-noactive text-decoration-none">
                                Pending
                            </a>
                        </li>
                        <li [routerLink]="'/admin/order-packed'" routerLinkActive="text-dark-subtle-grey"  class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                            <!-- <i routerLinkActive="text-white" class="bi bi-list-check text-dark-subtle-grey"></i> -->
                            <a routerLinkActive="text-white" class="nav-link ms-4 text-dark-subtle-noactive text-decoration-none">
                                To Pack
                            </a>
                        </li>
                        <li [routerLink]="'/admin/order-ship'" routerLinkActive="text-dark-subtle-grey"  class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                            <!-- <i routerLinkActive="text-white" class="bi bi-list-check text-dark-subtle-grey"></i> -->
                            <a routerLinkActive="text-white" class="nav-link ms-4 text-dark-subtle-noactive text-decoration-none">
                                To Ship
                            </a>
                        </li>
                        <li [routerLink]="'/admin/order-shipping'" routerLinkActive="text-dark-subtle-grey"  class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                            <!-- <i routerLinkActive="text-white" class="bi bi-list-check text-dark-subtle-grey"></i> -->
                            <a routerLinkActive="text-white" class="nav-link ms-4 text-dark-subtle-noactive text-decoration-none">
                                Shipping
                            </a>
                        </li>
                        <li [routerLink]="'/admin/order-delivered'" routerLinkActive="text-dark-subtle-grey"  class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                            <!-- <i routerLinkActive="text-white" class="bi bi-list-check text-dark-subtle-grey"></i> -->
                            <a routerLinkActive="text-white" class="nav-link ms-4 text-dark-subtle-noactive text-decoration-none">
                                Delivered
                            </a>
                        </li>
                        <li [routerLink]="'/admin/order-cancelled'" routerLinkActive="text-dark-subtle-grey"  class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                            <!-- <i routerLinkActive="text-white" class="bi bi-list-check text-dark-subtle-grey"></i> -->
                            <a routerLinkActive="text-white" class="nav-link ms-4 text-dark-subtle-noactive text-decoration-none">
                                Cancelled
                            </a>
                        </li>
                        <!-- * Disabled  -->
                        <!-- <li [routerLink]="'/admin/order-cancel'" routerLinkActive="text-dark-subtle-grey"  class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                            <i routerLinkActive="text-white" class="bi bi-list-check text-dark-subtle-grey"></i>
                        <li [routerLink]="'/admin/order-cancel'" routerLinkActive="text-dark-subtle-grey"  class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                            <a routerLinkActive="text-white" class="nav-link ms-4 text-dark-subtle-noactive text-decoration-none">
                                Cancel Request
                            </a>
                        </li> -->
                        <li [routerLink]="'/admin/order-on-hold'" routerLinkActive="text-dark-subtle-grey"  class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                            <!-- <i routerLinkActive="text-white" class="bi bi-list-check text-dark-subtle-grey"></i> -->
                            <a routerLinkActive="text-white" class="nav-link ms-4 text-dark-subtle-noactive text-decoration-none">
                                On Hold
                            </a>
                        </li>
                    </div>
                    
                </div>
            </div>
            
            <!-- Content management -->
            <div [ngClass]="isManageOrderActive() ? admin_bg: isManageSalesReportActive() ? admin_bg :''">
                <div [class]="isManageContentActive() ? active_link: isManageOrderActive() ? 'active-rounded-top border-0 item-container ' + sidebar_bg : isManageSalesReportActive() ? 'active-rounded-bottom border-0 ' + sidebar_bg :'link-container' ">
                
                    <li  (click)="showContent()" [ngClass]="isManageContentActive() ? 'd-flex align-items-center nav-item p-2 ps-2 mx-0':'d-flex align-items-center nav-item p-2 ps-2 mx-0'"  >
                        <div [class]="isManageContentActive() ?  active_link_icon + ' icon-container icon-container rounded-3 d-flex justify-content-center align-item-center pt-1':'icon-container icon-container rounded-3 d-flex justify-content-center align-item-center pt-1' " >
                            <i [class]="isManageContentActive() ? 'bi bi-sliders text-white':'bi bi-sliders text-dark-subtle-grey' "></i>
                        </div>
                    
                        <a [class]="isManageContentActive() ? 'nav-link text-decoration-none nav-link text-dark-subtle-grey':'nav-link text-dark-subtle-grey text-decoration-none'" >
                            Manage Contents
                        </a>
                    </li>
                    
                    <div *ngIf="isManageContentActive() " class=" p-0 m-0 ps-2 pb-3">
                    
                        <li [routerLink]="'/admin/site-settings'" class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                            <a *ngIf="isSiteSettingsActive()" class="ms-4 text-white nav-link text-decoration-none">
                                Site Settings
                            </a>
                            <a *ngIf="!isSiteSettingsActive()" class="ms-4 text-dark-subtle-noactive nav-link text-decoration-none">
                                Site Settings
                            </a>
                        </li>
                        
                        <li  [routerLink]="'/admin/manage-about-us'"  class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                            <a *ngIf="isAboutSiteActive()" class="ms-4 text-white nav-link text-decoration-none">
                                About Us
                            </a>
                            <a *ngIf="!isAboutSiteActive()" class="ms-4 text-dark-subtle-noactive nav-link text-decoration-none">
                                About Us
                            </a>
                        </li>
                        
                        <li [routerLink]="'/admin/manage-tos'"  class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                            <a *ngIf="isTermsSiteActive()" class="ms-4 nav-link text-white text-decoration-none">
                                Terms Of Service
                            </a>
                            <a *ngIf="!isTermsSiteActive()" class="ms-4 nav-link text-dark-subtle-noactive text-decoration-none">
                                Terms Of Service
                            </a>
                        </li>

                        <li [routerLink]="'/admin/manage-hold-deny-reasons'"  class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                            <a *ngIf="isReasonSiteActive()" class="ms-4 nav-link text-white text-decoration-none">
                                Hold/Deny Reason
                            </a>
                            <a *ngIf="!isReasonSiteActive()" class="ms-4 nav-link text-dark-subtle-noactive text-decoration-none">
                                Hold/Deny Reason
                            </a>
                        </li>

                        <li [routerLink]="'/admin/manage-product-group'"  class="d-flex align-items-center nav-item p-1 ps-4 mx-0">
                            <a *ngIf="isGroupSiteActive()" class="ms-4 nav-link text-white text-decoration-none">
                                Product Group
                            </a>
                            <a *ngIf="!isGroupSiteActive()" class="ms-4 nav-link text-dark-subtle-noactive text-decoration-none">
                                Product Group
                            </a>
                        </li>
            
                    </div>
                    
                </div>
            </div>
            
            <!-- Sales Report -->
            <div [ngClass]="isManageContentActive() ? admin_bg : isManageInquiriesActive() ? admin_bg :''">
                <div [class]="isManageContentActive() ? 'active-rounded-top item-container ' + sidebar_bg : isManageInquiriesActive() ? 'active-rounded-bottom border-0 ' + sidebar_bg : '' "  routerLinkActive="{{active_link}}">
                    <li [class]=" isManageSalesReportActive() ? active_link :''" [routerLink]="'/admin/sales-management'" (click)="closeAllMenu()" routerLinkActive="text-dark-subtle-grey" class="d-flex align-items-center nav-item p-2 ps-2 mx-0">

                        <div [class]=" isManageSalesReportActive() ? active_link_icon :''"  class="icon-container icon-container rounded-3 d-flex justify-content-center align-item-center pt-1" >
                            <i routerLinkActive=" text-white" class="bi bi-graph-up text-dark-subtle-grey"></i>
                        </div>
                        
                        <a class="nav-link text-dark-subtle-grey text-decoration-none" aria-current="page">
                            Sales Report
                        </a>
                    </li>
                </div>
            </div>
            
            <!-- Inquiries -->
            <div [ngClass]="isManageSalesReportActive() ? admin_bg : isManageAccountsActive() ? admin_bg :'' ">
                <div [class]="isManageSalesReportActive() ? 'active-rounded-top item-container ' + sidebar_bg : isManageAccountsActive() ? 'active-rounded-bottom ' + sidebar_bg :''  " routerLinkActive="{{active_link}}">
                    <li [routerLink]="'/admin/inquiry'" (click)="closeAllMenu()" routerLinkActive="text-dark-subtle-grey" class="d-flex align-items-center nav-item p-2 ps-2 mx-0">

                        <div routerLinkActive="{{active_link_icon}}" class="icon-container icon-container rounded-3 d-flex justify-content-center align-item-center pt-1" >
                            <i routerLinkActive=" text-white" class="bi bi-envelope text-dark-subtle-grey"></i>
                        </div>
                        
                        <a class="nav-link text-dark-subtle-grey text-decoration-none" aria-current="page">
                            Inquiries
                        </a>
                    </li>
                </div>
            </div>
            <!-- Manage Accounts -->
            <div [ngClass]="isManageInquiriesActive() ? admin_bg : isChatsActive() ? admin_bg :'' ">
                <div [class]="isManageInquiriesActive() ? 'active-rounded-top item-container ' + sidebar_bg : isChatsActive() ? 'active-rounded-bottom ' + sidebar_bg :''  " routerLinkActive="{{active_link}}">
                    <li [routerLink]="'/admin/accounts-management'" (click)="closeAllMenu()" routerLinkActive="text-dark-subtle-grey" class="d-flex align-items-center nav-item p-2 ps-2 mx-0">

                        <div routerLinkActive="{{active_link_icon}}" class="icon-container icon-container rounded-3 d-flex justify-content-center align-item-center pt-1" >
                            <i routerLinkActive=" text-white" class="bi bi-people text-dark-subtle-grey"></i>
                        </div>
                        
                        <a class="nav-link text-dark-subtle-grey text-decoration-none" aria-current="page">
                            Manage Accounts
                        </a>
                    </li>
                </div>
            </div>



            <div [ngClass]="isManageAccountsActive() ? admin_bg :''">
                <div [class]="isManageAccountsActive() ? 'active-rounded-top item-container ' + sidebar_bg :''  " routerLinkActive="{{active_link}}">
                    <li [routerLink]="'/admin/chats'" (click)="closeAllMenu()" routerLinkActive="text-dark-subtle-grey" class="d-flex align-items-center nav-item p-2 ps-2 mx-0">

                        <div routerLinkActive="{{active_link_icon}}" class="icon-container icon-container rounded-3 d-flex justify-content-center align-item-center pt-1" >
                            <i routerLinkActive=" text-white" class="bi bi-chat-left-dots text-dark-subtle-grey"></i>
                        </div>
                        
                        <a class="nav-link text-dark-subtle-grey text-decoration-none" aria-current="page">
                            Chats
                        </a>
                    </li>
                </div>
            </div>
            
            <div [ngClass]="isChatsActive() ? admin_bg :''">
                <div [class]="isChatsActive() ? 'p-3 active-rounded-top item-container ' + sidebar_bg :''  " >
                    
                </div>
            </div>

            <li [routerLink]="'/profile'" routerLinkActive="active-link"  class="d-md-none d-flex align-items-center nav-item p-2 ps-4 mx-0">
                <div routerLinkActive="{{active_link_icon}}" class="icon-container icon-container rounded-3 d-flex justify-content-center align-item-center pt-1" >
                    <i routerLinkActive="text-white" class="bi bi-person-fill text-dark-subtle-grey"></i>
                </div>
                <a class="nav-link text-dark-subtle-grey text-decoration-none">
                    User Profile
                </a>
            </li>
            
            <li (click)="closeAllMenu()" data-bs-toggle="modal" data-bs-target="#confirmLogout" class="logout position-absolute bottom-0 d-flex align-items-center nav-item p-2 ps-2 mx-0">

                <div routerLinkActive="{{active_link_icon}}" class="icon-container icon-container rounded-3 d-flex justify-content-center align-item-center pt-1" >
                    <i routerLinkActive="text-white" class="bi bi-box-arrow-right text-dark-subtle-grey"></i>
                </div>
                
                <a class="nav-link text-dark-subtle-grey text-decoration-none" aria-current="page">
                    Logout
                </a>
            </li>

            

            
            <!-- <li [routerLink]="'notifications'" (click)="setFalse()" routerLinkActive="active-link" class="d-md-none d-flex align-items-center nav-item p-2 ps-4 mx-0">
                <i routerLinkActive="text-white" class="bi bi-bell-fill text-dark"></i>
                <a routerLinkActive="text-white" class="nav-link text-dark text-decoration-none">
                    Notifications
                </a>
            </li> -->
            <!-- <app-toggleswitch></app-toggleswitch> -->
        </ul>

    </div>
    
    <div class=" w-100 h-100" [class.dim]="isClassToggled">

    </div>
    

</div>



