


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/*Header Style*/

.dashboard-header{
    
    min-height: 72px;                                                                                                                  
}
.dashboard-container{
    min-height: inherit;
}

.mobile-button{
    display: none;
}

.button-icon{
    min-width: 40px;
}

.title{
    font-family: 'Montserrat', sans-serif;
}

.icon-container{
    width: 36px;
    height: 36px;
    box-shadow: -1px 2px 6px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}


/*Sidebar style*/
.sidebar{
    max-width: 260px;
    width: 100%;
    transition: .1s ease-in;
    padding-top: 5rem;
}
.active-link{
    background: linear-gradient(90deg, #2898FF -5.79%, #2898FF -5.77%, #0064C0 138.89%);
}



li, a{
    cursor: pointer;
}

button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

img{
    max-width: 40px;
    width: 100%;
    height: 40px;
}

/*Active Button Styling*/



.sidebar{
    transform: translateX(0%);
}
.active-button{
    max-width: 260px;
    transform: translateX(-100%);
}
.active-button ul li a{
    display: flex;
}

.active-header{
    margin-left: 20px;
    transition: .1s ease-in;
}



@media screen and (max-width: 984px) {

    .title{
        margin-left: 0px; 
    }

    .button-title{
        display: none;
    }

}
