.contact-form {
    width: 75%;
}

@media screen and (max-width: 996px) {
    .contact-form {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .contact-form {
        width: 90%;
    }
}