<div class="container-fluid position-relative m-auto h-auto text-center px-0 px-sm-3" >

    <app-table
        tableTitle="Discounts Management"
        subTitle="Product Management"
        [tableHead]="true"
        tableContainerClass="p-4 table-container"
        tableChildContainer="table-child-container"
        searchBarclass="me-0"
        [paginate]="false"

        addbtnName="Add New"
        [addBtn]="true"
        [tableAction]="true"
        [viewBtn]="true"
        [actionForOrderBtn]="true"
        [orderBtnSet]="true"
        [tableHeaderActions]="true"
        [paymentStatus]="paymentStatus"
        [shipStatus]="shipStatus"
        [deliverStatus]="deliverStatus"
        [packStatus]="packStatus"
        [setFirstUpper]="true"
        [tableHeader]="['Start Date','End Date', 'Discount', 'Type']"
        [tableRows]="['created_at', 'end_at', 'discount', 'type']"
        [tableData]="attributes"

        (rowDataSelected)="onRowDataSelected($event)"
    ></app-table>

    <app-toaster #toaster [positionClasses]="'bottom-0 end-0 me-3 mb-2'"></app-toaster>
    <!--MAIN-->

     
</div>

<app-modal
    modalId="view"
    modalTitle="Customer Information"
    modalTitleClass="mb-3"
    modalSubTitle="{{selectedRowData?.user_id}}"
    modalSubTitleClass="mt-3 fs-5 fw-bold"
    modalClass="modal-md "
    [modalHideIcon]="true"
    modalIcon="view"
    [allowAnotherSub]="true"
    [modalViewOrders]="true"
    (RefreshTable)="refreshTableData()"
    [selectedRowData]="selectedRowData"
></app-modal>

<app-modal
    modalId="add"
    modalTitle="Add Discounts"
    [modalHideIcon]="true"
    [modalHideCloseBtn]="false"
    modalIcon="add"
    (SuccessToast)="SuccessToast($event)"
    (WarningToasts)="WarningToast($event)"
    (ErrorToasts)="ErrorToast($event)"

    [modalAddDiscounts]="true"
    [selectedRowData]="selectedRowData"
    [selectedRowDataForDelete]="selectedRowDataForDelete"
    (RefreshTable)="refreshTableData()"
></app-modal> 