

<div class="container-md border border-primary border-2 m-auto h-auto p-2" >
    <app-table
        tableTitle="DISCOUNT LIST"
        subTitle="MANAGEMENT"
        
        [tableTools]="true"
        [searchBar]="true"
        [Btntools]="true"
        [addBtn]="true"
        addbtnName="ADD DISCOUNT"
        addBtnclass="ms-3"
        
        [tableHeader]="['ITEM ID','ITEM NAME','STOCKS', 'PRICE', 'SOLD']"
        
    ></app-table>
</div>


<app-modal
    modalID="addproduct"
    modalTitle="ADD DISCOUNT"
    modalSubTitle="MANAGEMENT"
    [modalDiscount]="true"
    [modalAddDiscount]="true"
></app-modal>


