<div class="container-md h-auto p-2 text-center" >
    <div class="row">
        <div class="col-lg-4 p-2">
            <div class="container inset-shadow p-5 container-height text-center d-flex justify-content-center align-items-center">
                <div class="panel-body">
                    <h1 class="heading-color heading-title-fs-92 fw-bolder ">438</h1>
                    <p class="sub-text-color fs-5 fw-medium">SOLD ITEMS TODAY</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-2">
            <div class="container inset-shadow p-5 container-height text-center d-flex justify-content-center align-items-center">
                <div class="panel-body ">
                    <div class="icon-container rounded-circle m-auto d-flex align-items-center justify-content-center">
                        <i class="bi bi-graph-up-arrow fs-1"></i>
                    </div>
                    <h1 class="heading-color heading-title-fs-64 fw-bolder">P10K</h1>
                    <p class="sub-text-color fs-5 fw-medium">OVERALL PROFIT</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-2">
            <div class="container inset-shadow p-5 container-height text-center d-flex justify-content-center align-items-center">
                <div class="panel-body">
                    <div class="icon-container rounded-circle m-auto d-flex align-items-center justify-content-center">
                        <i class="bi bi-hourglass-split fs-1"></i>
                    </div>
                    <h1 class="heading-color heading-title-fs-64 fw-bolder">420</h1>
                    <p class="sub-text-color fs-5 fw-medium">PENDING ORDERS</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 p-2">
            <div class="container inset-shadow p-5 container-height text-center d-flex justify-content-center align-items-center">               
                <div class="panel-body">
                    <div class="icon-container rounded-circle m-auto d-flex align-items-center justify-content-center">
                        <i class="bi bi-box-seam fs-1"></i>
                    </div>
                    <h1 class="heading-color heading-title-fs-64 fw-bolder">1342</h1>
                    <p class="sub-text-color fs-5 fw-medium">PRODUCTS FOR SALE</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 p-2">
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="container inset-shadow p-5 container-height text-center d-flex justify-content-center align-items-center">
                        <div class="panel-body">
                            <div class="icon-container rounded-circle m-auto d-flex align-items-center justify-content-center">
                                <i class="bi bi-truck fs-1"></i>
                            </div>
                            <h1 class="heading-color heading-title-fs-64 fw-bolder">321</h1>
                            <p class="sub-text-color fs-5 fw-medium">TO BE DELIVER</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mt-3 mt-sm-0">
                    <div class="container inset-shadow p-5 container-height text-center d-flex justify-content-center align-items-center">
                        <div class="panel-body">
                            <div class="icon-container rounded-circle m-auto d-flex align-items-center justify-content-center">
                                <i class="bi bi-box2 fs-1"></i>
                            </div>
                            <h1 class="heading-color heading-title-fs-64 fw-bolder">4620</h1>
                            <p class="sub-text-color fs-5 fw-medium">TO BE PACKED</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
