<div class="component-container overflow-y-auto">
    <div class="container-fluid m-auto h-auto text-center px-0 px-sm-3 ">
        <div class="row w-100 m-auto">
            <div class="col-lg-3">
                <app-counters 
                    title="New Customers" 
                    [total]="product_sold.current_month" 
                    [percent]="product_sold.percent"
                    [success]="product_sold.increase"
                ></app-counters>
            </div>
            <div class="col-lg-3">
                <app-counters 
                    title="Visits"
                    [rating]="rating.current_month" 
                    [percent]="rating.percent"
                    [success]="rating.increase"
                ></app-counters>
            </div>
            <div class="col-lg-3">
                <app-counters 
                    title="New Orders"
                    [total]="orders.current_month" 
                    [percent]="orders.percent"
                    [success]="orders.increase"
                ></app-counters>
            </div>
            <div class="col-lg-3">
                <app-counters 
                    title="Sales this month"
                    [total]="orders.current_month" 
                    [percent]="orders.percent"
                    [success]="orders.increase"
                ></app-counters>
            </div>
        </div>
        <div class="row m-auto w-100 ">
            <div class="col-lg-8">
                <div class=" w-100">

                </div>
                <div class=" w-100 mt-4">
                    <div class="box-shadow linear-gradient-border">
                        <div class="container rounded-4 p-3 {{bgColor}}">
                            <div class="select-data-container p-2 text-center">
                                <div class="select-container text-center mb-2 cursor-pointer position-relative d-flex align-items-center justify-content-center">
                                    <div class="dropdown w-100">
                                        <button class="border-0 d-flex justify-content-between align-items-center btn px-4 w-100 bg-transparent btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          {{selectedOption}}
                                        </button>
                                        <ul class="dropdown-menu box-shadow bg-dark">
                                            <li class="select-item {{titleColor}} py-2 ps-4" (click)="selectOption('Weekly')">Weekly</li>
                                            <li class="select-item {{titleColor}} py-2 ps-4" (click)="selectOption('Monthly')">Monthly</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="data-text-container ">
                                    <h1 class="fs-3 fw-bold mb-0 {{titleColor}}">{{totalIncome | currency: 'PHP'}}</h1>
                                </div>
                            </div>
                            
                            <app-line-graph
                                width="1000"
                                height="300"
                            >
                            </app-line-graph>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <app-donut-chart
                    title="Best Sellers"
                    subTitle="By Category"
                    [colors]="colors"
                ></app-donut-chart>
            </div>
        </div>
            
        <div class="container-fluid px-0 mt-4">
            <app-table
                tableTitle="Recent Orders"
                [tableHead]="true"
                tableContainerClass="p-4 table-container-md"
                tableChildContainer="table-child-container"
                [paginate]="false"

                [tableHeader]="['Date','Customer', 'Product', 'Price', ]"
                [tableRows]="['product_id', 'name', 'price']"

                
            ></app-table>
        </div>
    </div>
</div>