.fave-button {
    border-radius: 50%;
    border: none;
    padding: .5rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    color: var(--body-text);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.faved {
    background-color: var(--primary);
    color: #FFFFFF;
}


.discount {
    background-color: var(--primary);
    color: #FFFFFF;
}

.product-border-bottom {
    border-bottom: 1px solid var(--muted-gray);
}

#productDescOptions .product-description-accordion {
    background-color: var(--light-gray) !important;
    color: var(--body-text) !important;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233c3c3c'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); ;
}

.select-container {
    gap: 3rem;
}

.select-container input{
    margin: 0;
    padding: 0;
    appearance: none;
}

.color-select-round {
    cursor: pointer;
    display: flex;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    transition: all .4s;
}

.select-container input:checked + .color-select-round {
    border: 3px solid var(--primary);
    box-shadow:inset 0px 0px 0px 3px #FFFFFF;
}

.size-select-box {
    cursor: pointer;
    display: flex;
    height: 3rem;
    width: 3rem;
    color: #FFFFFF;
    background-color: var(--muted-gray);
    transition: all .4s;
}

.select-container input:checked + .size-select-box {
    background-color: var(--primary);
}

.reviews-overview {
    background-color: var(--light-gray);
    border-radius: 10px;
}

.rating-details {
    gap: 1rem;
    margin-top: 1rem;
}

.rating-details div {
    width:100%;
    align-items: center;
    gap: 2rem;
}

gallery-image {
    z-index: 0;
}

.product-gallery {
    background-color: rgba(0,0,0,0);
}

.review-image {
    width: 6rem;
    height: auto;
    padding: 0 1rem;
}

@media screen and (min-width: 992px) {
    .rating-details {
        margin-top: 0;
    }
}