<app-sidebar
    headerName="DASHBOARD"
    [admin]="true"
></app-sidebar>

<div class="page-container position-relative" >
    <div class="header-spacer"></div>
    <router-outlet></router-outlet>
    <app-toaster #toaster [positionClasses]="'position-absolute bottom-0 end-0 me-3 mb-3 position-relative'"></app-toaster>
    <app-modal
        [modalId]="'confirmLogout'"
        modalTitle="Account Management"
        modalClass="modal-md"
        [modalHideCloseBtn]="true"
        [modalLogout]="true"
        (confirm)="logout()"
    ></app-modal>
    
</div>

