<div class="page-container container-fluid bg-light" >
    
    <app-sidebar></app-sidebar>
    <router-outlet></router-outlet>
    <!--
    <app-table
        tableTitle="PRODUCT LIST"
        subTitle="MANAGEMENT"
        [tableTools]="true"
        [tableAction]="true"
        
        [addBtn]="true"
        addbtnName="ADD ITEMS"
        
        [editBtn]="true"
        [deleteBtn]="true"
        
        [tableHeader]="['ID','ITEM NAME', 'STOCK', 'STOCK LIMIT', 'PRICE', 'SUB CATEGORY ID', 'DESCRIPTION']"
        [tableRows]="['id','name', 'stock', 'stock_limit', 'price', 'sub_category_id', 'description']"
        [tableData]="products"
    >
    
    </app-table>
    
        <app-modal
        modalID="addProduct"
        modaLContent="addkaproduct"
        ></app-modal>
        
        <app-modal
        modalID="reStock"
        modaLContent="restock"
        ></app-modal>
        
        <app-modal
        modalID="edit"
        modaLContent="edit"
        ></app-modal>
        
        <app-modal
        modalID="delete"
        modaLContent="delete mo yan"
        ></app-modal>
    
    -->
    
</div>

