
<div class="container-fluid m-auto h-auto text-center" >
    <app-table
        tableTitle="Attribute Management"
        subTitle="Product Management"
        [tableHead]="true"
        tableContainerClass="p-4 table-container"
        tableChildContainer="table-child-container"
        [paginate]="false"
        
        [searchBar]="true"
        [tableTools]="true"
        [tableAction]="true"
        [Btntools]="true"
        
        [addBtn]="true"
        addbtnName="Add New"
        addBtnclass="me-2"
        [actionBtn]="true"
        (rowDataSelected)="onRowDataSelected($event)"
        (rowDataForDelete)="onRowDataForDelete($event)"
        [tableHeader]="['ID','Name', 'Products']"
        [tableRows]="['id', 'name', 'products']"
        [tableData]="attributes"
    
    ></app-table>

    <!--MAIN-->

    <app-modal
        modalId="add"
        modalTitle="Add Attributes"
        modalClass="modal-md"
        [modalHideIcon]="true"
        [modalHideCloseBtn]="true"
        modalIcon="add"
        
        [modalAddAttribute]="true"
        [selectedRowData]="selectedRowData"
        [selectedRowDataForDelete]="selectedRowDataForDelete"
        (RefreshTable)="refreshTableData()"
    ></app-modal> 
    
    <app-modal
        modalId="edit"
        modalTitle="Edit Attributes"
        modalClass="modal-md"
        [modalHideIcon]="true"
        modalIcon="edit"
        [modalEditAttribute]="true"
        [selectedRowData]="selectedRowData"
        [selectedRowDataForDelete]="selectedRowDataForDelete"
        (RefreshTable)="refreshTableData()"
    ></app-modal>
    
    <app-modal
        modalId="delete"
        modalTitle="Delete Attributes"
        modalClass="modal-md"
        [modalHideIcon]="true"
        modalIcon="delete"
        
        [modalDeleteAttribute]="true"
        [selectedRowData]="selectedRowData"
        [selectedRowDataForDelete]="selectedRowDataForDelete"
        (RefreshTable)="refreshTableData()"
    ></app-modal>  
    
    <app-modal
        modalId="deleteMultiple"
        modalTitle="Delete Attributes"
        modalClass="modal-md"
        [modalHideIcon]="true"
        modalIcon="delete"
        
        [modalMultipleDeleteAttribute]="true"
        [selectedRowData]="selectedRowData"
        [selectedRowDataForDelete]="selectedRowDataForDelete"
        (RefreshTable)="refreshTableData()"
    ></app-modal>  
</div>
