
<div class="container-md m-auto h-auto p-2 text-center" >
    <app-table
        tableTitle="Attribute Management"
        subTitle="Product Management"
        [tableHead]="true"
        tableContainerClass="p-4"
        [paginate]="false"
        
        [searchBar]="true"
        [tableTools]="true"
        [tableAction]="true"
        [Btntools]="true"
        
        [addBtn]="true"
        addbtnName="Add New"

        
        [tableHeader]="['ID','Name', 'Products']"
        [tableRows]="['id', 'name', 'products']"
        [tableData]="categories"
    
    ></app-table>

    <!--MAIN-->

    <app-modal
        modalId="add"
        modalTitle="Add Attributes"
        modalClass="modal-md"
        [modalHideIcon]="true"
        
        (RefreshTable)="refreshTableData()"
    ></app-modal> 
    

</div>
