    <!--ADD DISCOUNT FORM-->

    <div [ngClass]="formProductSelect ? 'maxheight ':''" class="container h-100 position-relative m-auto p-2 d-flex overflow-hidden" *ngIf="formAddDiscount">
        <div class="w-100 transition" [ngClass]="formProductSelect ? 'active-hold transition':''"  >
            <form [formGroup]="addDiscountForm"  (ngSubmit)="onDiscountAddSubmit()">
                <div  class="modal-body pt-0 pb-0">
                    <!-- <div class="mb-3">
                        <label for="addDiscountName" class="form-label">Discount Code</label>
                        <input type="text"  class="form-control" id="addDiscountName" name="addDiscountName"  required>
                    </div> -->
                    <div class="row">    
                        <div class="col-sm-6 mb-3">
                            <label for="addDiscountType" class="{{textcolor}} form-label">Discount Type</label>
                            <select 
                                class="{{textcolor}} form-select bg-none border-secondary"  
                                id="addDiscountType" 
                                name="addDiscountType  "  
                                formControlName="type"
                                required
                            >
                                <option value=301 >Fixed</option>
                                <option value=302 >Percentage</option>

                            </select>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="addDiscountValue" class="{{textcolor}} form-label">Discount Value</label>
                            <input 
                                type="number"  
                                class="{{textcolor}} form-control bg-none border-secondary" 
                                id="addDiscountValue" 
                                name="addDiscountValue"  
                                formControlName="value"
                                max="100"
                                min="1"
                                required
                            >
                        </div>
                    </div>
                    <div class="row">   
                        <label for="addDiscountDate" class="{{textcolor}} form-label">Discount Date</label>
                        <div class="col-sm-6 mb-3 ">
                            <div class="input-group position-relative cursor-pointer border border-2 border-secondary rounded-3 w-100" (click)="selectFromDate()">
                                <button (click)="selectFromDate()" class="input-group-text  btn btn-primary bg-primary-subtles border-0 text-white " >
                                    <i class="bi bi-calendar"></i>
                                </button>
                                <input formControlName="duration_from" type="date" class="visually-hidden " (change)="getDateFromValue($event)" #date1>
                                <div class="input-date-container form-control pe-5 pb-0 bg-none border-0 py-1 {{textcolor}}  ">
                                    <label class="text-nowrap text-truncate mb-0  {{textcolor}}">{{from}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3 ">
                            <div class="input-group position-relative cursor-pointer border border-2 border-secondary rounded-3 w-100" (click)="selectToDate()">
                                <button (click)="selectToDate()" class="input-group-text btn btn-primary bg-primary-subtles  border-0  text-white  " >
                                    <i class="bi bi-calendar"></i>
                                </button>
                                <input formControlName="duration_to" type="date" class="visually-hidden " (change)="getDateToValue($event)" #date2>
                                <div class="input-date-container form-control pe-5 pb-0 bg-none border-0 py-1 {{textcolor}}  ">
                                    <label class="text-nowrap text-truncate mb-0  {{textcolor}}">{{to}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0 justify-content-end">
                    <button type="button" class="btn btn-dark bg-none btn-muted cancel-btn rounded-3"  data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary bg-light-primary text-white glow-primary">Confirm</button>
                </div>
            </form>
        </div>      
        <div class="w-100  h-100 hold transition position-absolute start-0 top-0" [ngClass]="formProductSelect ? 'toleft transition':''">
            <div class="container overflow-y-auto position-relative m-auto px-4 h-100"  >
                <div  class="modal-body p-0 mb-3">
                    <app-table
            
                        [showMultipleSelection]="true"
                        [tableFrameLessProductGroup]="true"
                        [tableHeader]="['Category', 'Product Name']"
                        [tableRows]="['category','name']"
                        [tableData]="products"

                        (getSelectedGroup)="setProductGroup($event)"
                    ></app-table>
                    
                </div>
                <div class="modal-footer px-4 w-100 start-0 position-absolute bottom-0 border-0 justify-content-end mb-0">
                    <button type="button" class="btn btn-dark bg-none btn-muted cancel-btn rounded-3" (click)="backtoconfirm()" >Back</button>
                    <button type="button" class="btn btn-primary bg-light-primary text-white glow-primary" (click)="addDiscountSubmit()">Confirm</button>
                </div>
            </div>
            
        </div>
    </div>
    <!--EDIT DISCOUNT FORM-->
    <div *ngIf="formEditDiscount" class="modal-body text-center pt-0 pb-0">
        
    </div>
    
    <!--DELETE DISCOUNT FORM-->
    <div *ngIf="formDeleteDiscount" class="modal-body text-center pt-0 pb-0">
        <input type="hidden" [value]="selectedRowData?.id">
        <p class="fs-5 fw-bold mb-1">Are you sure to remove this Discount?</p>
        <h1 class="text-primary fs-4 fw-bolder">{{selectedRowData?.name}}</h1>
    </div>