    <!--ADD DISCOUNT FORM-->
    <form *ngIf="formAddDiscount" [formGroup]="addDiscountForm"  (ngSubmit)="onDiscountAddSubmit()">
        <div  class="modal-body pt-0 pb-0">
            <!-- <div class="mb-3">
                <label for="addDiscountName" class="form-label">Discount Code</label>
                <input type="text"  class="form-control" id="addDiscountName" name="addDiscountName"  required>
            </div> -->
            <div class="row">    
                <div class="col-sm-6 mb-3">
                    <label for="addDiscountType" class="{{textcolor}} form-label">Discount Type</label>
                    <select 
                        class="{{textcolor}} form-select bg-none border-secondary"  
                        id="addDiscountType" 
                        name="addDiscountType  "  
                        formControlName="type"
                        required
                    >
                        <option value="php">Percentage</option>
                        <option value="usd">Fixed</option>
                    </select>
                </div>
                <div class="col-sm-6 mb-3">
                    <label for="addDiscountValue" class="{{textcolor}} form-label">Discount Value</label>
                    <input 
                        type="number"  
                        class="{{textcolor}} form-control bg-none border-secondary" 
                        id="addDiscountValue" 
                        name="addDiscountValue"  
                        formControlName="value"
                        required
                    >
                </div>
            </div>
            <div class="row">   
                <label for="addDiscountDate" class="{{textcolor}} form-label">Discount Type</label>
                <div class="col-sm-6 mb-3">
                    <div class="input-group position-relative cursor-pointer border border-2 border-secondary rounded-3 w-100" (click)="selectFromDate()">
                        <button (click)="selectFromDate()" class="input-group-text bg-none border-0  {{textcolor}}  " >
                            <i class="bi bi-calendar"></i>
                        </button>
                        <input formControlName="duration_from" type="date" class="visually-hidden " (change)="getDateFromValue($event)" #date1>
                        <div class="input-date-container form-control pe-5 pb-0 bg-none border-0 py-1 {{textcolor}}  ">
                            <label class="text-nowrap text-truncate mb-0  {{textcolor}}">{{from}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-3">
                    <div class="input-group position-relative cursor-pointer border border-2 border-secondary rounded-3 w-100" (click)="selectToDate()">
                        <button (click)="selectToDate()" class="input-group-text bg-none border-0  {{textcolor}}  " >
                            <i class="bi bi-calendar"></i>
                        </button>
                        <input formControlName="duration_to" type="date" class="visually-hidden " (change)="getDateToValue($event)" #date2>
                        <div class="input-date-container form-control pe-5 pb-0 bg-none border-0 py-1 {{textcolor}}  ">
                            <label class="text-nowrap text-truncate mb-0  {{textcolor}}">{{to}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer border-0 justify-content-end">
            <button type="button" class="btn btn-dark bg-none btn-muted cancel-btn rounded-3"  data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary bg-light-primary text-white glow-primary">Confirm</button>
        </div>
    </form>


    <!--EDIT DISCOUNT FORM-->
    <div *ngIf="formEditDiscount" class="modal-body text-center pt-0 pb-0">
        
    </div>
    
    <!--DELETE DISCOUNT FORM-->
    <div *ngIf="formDeleteDiscount" class="modal-body text-center pt-0 pb-0">
        <input type="hidden" [value]="selectedRowData?.id">
        <p class="fs-5 fw-bold mb-1">Are you sure to remove this Discount?</p>
        <h1 class="text-primary fs-4 fw-bolder">{{selectedRowData?.name}}</h1>
    </div>