<div>
    <h2 class="text-center">Sign-In</h2>
    <form [formGroup]="signInForm" (submit)="onSubmit()">
        <div class="mb-4">
            <label for="signInEmail" class="form-label">Email Address</label>
            <input type="email" class="form-control form-control-lg rounded-0" id="signInEmail" formControlName="signInEmail" required/>
            <div *ngIf="signInEmail?.invalid && (signInEmail?.dirty || signInEmail?.touched)"> 
                <div *ngIf="signInEmail?.errors?.['required']">
                    <span class="text-danger">This field is required.</span>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <label for="signInPassword" class="form-label">Password</label>
            <app-input-with-toggle [parent]="signInForm" [componentName]="'signInPassword'"></app-input-with-toggle>
            <div *ngIf="signInPassword?.invalid && (signInPassword?.dirty || signInPassword?.touched)"> 
                <div *ngIf="signInPassword?.errors?.['required']">
                    <span class="text-danger">This field is required.</span>
                </div>
            </div>
        </div>
        <div class="mb-4 d-flex justify-content-between">
            <div class="form-check">
                <input type="checkbox" value="" class="form-check-input" id="signInRememberMe" formControlName="signInRememberMe"> 
                <label for="signInRememberMe" class="form-check-label">Remember me</label>
            </div>
            <div>
                <a href="#" class="text-reset text-center forgot-pass">Forgot your password?</a>
            </div>
        </div>
        <hr class="mb-4 w-75 w-md-100 mx-auto">
        <div class="row mb-3 px-3">
            <button type="submit" class="button-primary rounded-0 mb-3">SIGN IN <app-outline-circle-spinner class="ms-3" *ngIf="isLoading"></app-outline-circle-spinner></button>
            <p class="m-0 text-center">No account yet? Register <a [routerLink]="['/register']">here</a>.</p> 

        </div>
    </form>
</div>