.toast-custom {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.15);
    transition: opacity 0.3s ease-in-out, margin-top 0.4s ease-in-out;
    border: 1px solid var(--primary);
    border-radius: 12px;
    opacity: 0;
    width: 25vw;
    min-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    
}

.toast-body p {
    width: calc(25vw * 0.65);
    white-space: nowrap !important; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.toast-stripe {
    min-width: 5px;
    display: block;
    border-radius: 10px;
}

.toast-dismiss-btn {
    background: none;
    border: none;
    display: block;
}

@media screen and (max-width: 990px) {
    .toast-body p {
        width: calc(400px * 0.65);
    }
}

@media screen and (max-width: 576px) {
    .toast-container-custom {
        width: 90%;
    }

    .toast-dismiss-btn {
        justify-self: end;
    }
}