<div class="container-fluid position-relative m-auto h-auto text-center px-0 px-sm-3" >

    <app-table
        tableTitle="Product Groups"
        subTitle="Content Management"
        [tableHead]="true"
        tableContainerClass="p-4 table-container"
        tableChildContainer="table-child-container"
        [paginate]="false"
        
        [searchBar]="true"
        [tableTools]="true"
        [Btntools]="true"
        dropdowdnClass="dropdown-menu-sm"
        [addBtn]="true"
        [editBtn]="true"
        [showMinus]="false"
        addbtnName="Edit Product Group"
        addBtnclass="me-2"
        [actionBtn]="true"
        
        (rowDataSelected)="onRowDataSelected($event)"
        (rowDataForDelete)="onRowDataForDelete($event)"
        [tableHeader]="['Tops','Bottoms']"
        [tableRows]="['tops', 'bottoms']"
        [tableData]="productGroup$"
        #triggerFunction
    ></app-table>
    
    <app-toaster #toaster [positionClasses]="'bottom-0 end-0 me-3 mb-2'"></app-toaster>
    <!--MAIN-->

    <app-modal
        modalId="add"
        modalTitle="Edit Group Categories"
        modalClass="modal-lg"
        [modalHideIcon]="true"
        [modalHideCloseBtn]="false"
        modalIcon="edit"
        (SuccessToast)="SuccessToast($event)"
        (WarningToasts)="WarningToast($event)"
        (ErrorToasts)="ErrorToast($event)"
        
        [modalAddProductGroup]="true"
        [selectedRowData]="selectedRowData"
        [selectedRowDataForDelete]="selectedRowDataForDelete"
        (RefreshTable)="refreshTableData()"
    ></app-modal> 
    

</div>