<div class="d-flex flex-row justify-content-start align-items-center">
    <div class="input-group">
        <button class="btn btn-outline-secondary input-group-btn" (click)="change(-1)"><i class="bi bi-dash"></i></button>
        <input type="number" class="form-control input-group-border quantity-control text-center" [(ngModel)]="quantity" [max]="max" (ngModelChange)="check()" #quantity_input />
        <button class="btn btn-outline-secondary" (click)="change(1)"><i class="bi bi-plus"></i></button> 
    </div>

    <div *ngIf="showStock">
        <p class="ms-3 text-muted m-0">{{max}} pieces in stock.</p>
    </div>
</div>

