<div class="row p-4 bg-light-gray d-flex flex-column flex-lg-row">
    <!--
        <p *ngFor="let user of this.users | async">
        {{user.fname}}
    </p> -->
    <div class="col d-flex align-items-center justify-content-center justify-content-lg-start">
        <div class="d-flex flex-column flex-lg-row align-items-center mt-3 mt-lg-0">
            <div>
                <img src="https://picsum.photos/200" class="user-image">
            </div>
            <div class="d-flex flex-column align-items-center align-items-lg-start justify-content-center m-0 mt-3 mt-lg-0 ms-lg-4">
                <a [href]="['profile']" class="text-decoration-none"><p class="color-primary fw-bold fs-3 m-0"></p></a>
                <p class="text-muted m-0 text-center text-lg-start">{{ this.user.email }}</p>
            </div>
        </div>
    </div>
    <div class="col d-flex mt-3 mt-lg-0 justify-content-center justify-content-lg-end">
        <div class="d-flex flex-row position-relative">
            <a [href]="['profile/orders']"><span class="link-span"></span></a>
            <div class="d-flex flex-column p-5 border-0 border-lg-start align-items-center">
                <p class="m-0 color-primary fs-2 fw-bold">39</p>
                <p class="m-0 text-muted">ORDERS</p>
                <p class="m-0 text-muted">COMPLETED</p>
            </div>
            <div class="d-flex flex-column p-5 border-start align-items-center">
                <p class="m-0 color-primary fs-2 fw-bold">31</p>
                <p class="m-0 text-muted">ORDERS</p>
                <p class="m-0 text-muted">REVIEWED</p>
            </div>
        </div>
    </div>
</div>