<div class="container-fluid m-auto "  >
    
    <div class="row px-4">
        <div class="col-xl-3 col-lg-4 p-2 px-0 pe-md-2 pt-0">
            <div class="panel-store-container store-container  overflow-hidden gray-gradient-border box-shadow">
                <div class="{{counter_bg}}  pt-2 store-container h-10 text-center d-flex flex-column justify-content-center ">
                    <div class="panel-body position-relative">
                        <!-- <div class="position-absolute icon-linear icon-container m-auto mx-2 d-flex justify-content-center p-0 pt-0 mt-0">
                            <div class="{{counter_bg}} rounded-4 h-100 w-100 d-flex align-items-center justify-content-center  mt-0">
                                <i class="bi bi-bag-fill fs-3 glow"></i>
                            </div>
                        </div> -->
                        <div class="title-container mt-1">
                            <h1 class="card-title {{counter_heading_text_color}} fw-bolder lh-1 glow">25</h1>
                            <p class="card-sub-title {{text_color}} fs-5 fw-bold lh-1">Products</p>
                        </div>
                    </div>
    
                </div>
            </div>
        </div> 
        <div class="col-xl-3 col-lg-4 p-2 px-0 ps-md-2 pt-0">
            <div class="panel-store-container store-container gray-gradient-border box-shadow">
                <div class="{{counter_bg}} pt-2 store-container h-100 rounded-4 text-center d-flex flex-column justify-content-center ">
                    <div class="panel-body position-relative">
                        <!-- <div class="position-absolute icon-linear icon-container m-auto mx-2 d-flex justify-content-center p-0 pt-0 mt-0">
                            <div class="{{counter_bg}} rounded-4 h-100 w-100 d-flex align-items-center justify-content-center  mt-0">
                                <i class="bi bi-bag-fill fs-3 glow"></i>
                            </div>
                        </div> -->
                        <div class="title-container mt-1">
                            <h1 class="card-title {{counter_heading_text_color}} fw-bolder lh-1 glow">25</h1>
                            <p class="card-sub-title {{text_color}} fs-5 fw-bold lh-1">Products</p>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    
    <app-table
        tableTitle="Manage Products"
        subTitle="Product Management"
        [tableHead]="true"
        tableContainerClass="p-4 table-container-lg"
        tableChildContainer="table-child-container"
        [paginate]="false"
        
        [tableTools]="true"
        [tableAction]="true"
        [searchBar]="true"
        [Btntools]="true"
        [addProdBtn]="true"
        addbtnName="Add New"
        
        [searchBarclass]="margin"
        [addBtnclass]="size"
        
        [restockBtn]="false"
        [tableAction]="true"
        [editBtn]="true"
        [deleteBtn]="true"

        [tableHeader]="['ID','Name','Stocks','Price','Category']"
        [tableRows]="['id', 'name','stock','price','category']"
        [tableData]="products"
        [actionBtn]="true"
        
        (rowDataSelected)="onRowDataSelected($event)"
        (ShowAddForm)="showAddForm()"
        (ShowEditForm)="showEditForm()"
    ></app-table>
    
    
</div>



<app-modal
    modalId="delete"
    modalTitle="DELETE PRODUCT"
    modalSubTitle="PRODUCT CONTROL"
    modalClass="modal-md"
    
    [modalDeleteProduct]="true"
    (RefreshTable)="refreshTableData()"
    [selectedRowData]="selectedRowData"
></app-modal>






    
