<div class="container-fluid position-relative m-auto px-0 px-sm-3"  >
    <div class="row px-4 mb-2">
        <div class="col-xl-3 col-lg-4 p-2 px-0 pe-lg-2 pt-0">
            <div class="panel-store-container store-container  overflow-hidden gray-gradient-border box-shadow">
                <div class="{{counter_bg}}  py-3 store-container h-10 text-center d-flex flex-column justify-content-center ">
                    <div class="panel-body position-relative">
                        <div class="position-absolute icon-linear  m-auto mx-2 d-flex justify-content-center mt-0">
                            <div class="{{counter_bg}} icon-container d-flex align-items-center justify-content-center  mt-0">
                                <i class="bi bi-bag-fill fs-3 glow"></i>
                            </div>
                        </div>
                        <div class="title-container mt-1">
                            <h1 class="card-title {{counter_heading_text_color}} fw-bolder lh-1 glow">25</h1>
                            <p class="card-sub-title {{text_color}} fs-5 fw-bold lh-1">Products</p>
                        </div>
                    </div>
    
                </div>
            </div>
        </div> 
        <div class="col-xl-3 col-lg-4 p-2 px-0 ps-lg-2 pt-0">
            <div class="panel-store-container store-container gray-gradient-border box-shadow">
                <div class="{{counter_bg}}  py-3 store-container h-100 rounded-4 text-center d-flex flex-column justify-content-center ">
                    <div class="panel-body position-relative">
                        <div class="position-absolute icon-linear  m-auto mx-2 d-flex justify-content-center mt-0">
                            <div class="{{counter_bg}} icon-container d-flex align-items-center justify-content-center  mt-0">
                                <i class="bi bi-bag-fill fs-3 glow"></i>
                            </div>
                        </div>
                        <div class="title-container mt-1">
                            <h1 class="card-title {{counter_heading_text_color}} fw-bolder lh-1 glow">25</h1>
                            <p class="card-sub-title {{text_color}} fs-5 fw-bold lh-1">Low Stocks</p>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    
    <app-table
        tableTitle="Manage Products"
        subTitle="Product Management"
        [tableHead]="true"
        tableContainerClass="p-4 table-container-lg"
        tableChildContainer="table-child-container"
        [paginate]="false"
        
        [tableTools]="true"
        [tableAction]="true"
        [searchBar]="true"
        [Btntools]="true"
        [addProdBtn]="true"
        addbtnName="Add New"
        [showMinus]="showMinus"
        
        [searchBarclass]="margin"
        [addBtnclass]="size"
        
        [restockBtn]="false"
        [tableAction]="true"
        [editBtn]="true"
        [deleteBtn]="true"

        [tableHeader]="['ID','Name','Price']"
        [tableRows]="['product_id', 'name','price']"
        [tableData]="products"
        [actionBtn]="true"
        [showMultipleSelection]="true"
        (rowDataSelected)="onRowDataSelected($event)"
        (rowDataForDelete)="onRowDataForDelete($event)"
        (ShowAddForm)="showAddForm()"
        (ShowEditForm)="showEditForm()"
        #triggerFunction
    ></app-table>
    
    <div class="position-absolute w-50 end-0 bottom-0 mb-5 mx-4 h-auto">
        <div class="position-relative mb-5">
            <app-toast toastClass="end-0" [toastTheme]="this.toastTheme" [toastTitle]="this.toastHeader" [toastContent]="this.toastContent"></app-toast>
        </div>
    </div>
</div>

<app-modal
    modalId="delete"
    modalTitle="Delete Product"
    modalClass="modal-md"
    [modalHideIcon]="true"
    modalIcon="delete"
    (SuccessToast)="SuccessToast($event)"
    (WarningToasts)="WarningToast($event)"
    (ErrorToasts)="ErrorToast($event)"
    (hideMinus)="showMinusFunction()"
    (RefreshTable)="refreshTableData()"
    [modalDeleteProduct]="true"
    
    [selectedRowData]="selectedRowData"
    [selectedRowDataForDelete]="selectedRowDataForDelete"

></app-modal>

<app-modal
    modalId="deleteMultiple"
    modalTitle="Delete Product"
    modalClass="modal-md"
    [modalHideIcon]="true"
    modalIcon="delete"
    (SuccessToast)="SuccessToast($event)"
    (WarningToasts)="WarningToast($event)"
    (ErrorToasts)="ErrorToast($event)"
    (hideMinus)="showMinusFunction()"
    (RefreshTable)="refreshTableData()"
    [modalMultipleDeleteProduct]="true"

    [selectedRowData]="selectedRowData"
    [selectedRowDataForDelete]="selectedRowDataForDelete"


></app-modal>  






    
