<div class="container-md m-auto h-auto p-2" >
    
    <div class="row p-3">
        <div class="col-xl-3 col-lg-4 p-2 px-0 pe-md-2 ">
            <div class=" rounded-4 pt-4 panel-container text-center d-flex flex-column justify-content-center ">
                <div class="panel-body">
                    <div class="icon-container rounded-circle m-auto d-flex align-items-center justify-content-center">
                        <i class="bi bi-box-fill fs-1"></i>
                    </div>
                    <h1 class="heading-color heading-title-fs-64 fw-bolder ">438</h1>
                    <p class="sub-text-color fs-6 fw-medium">SOLD ITEMS TODAY</p>
                </div>
                <div class="wave-container position-relative mt-3 mt-lg-0 mt-sm-5">
                    <svg class="w-100 p-0 position-absolute start-0 bottom-0" viewBox="0 0 258 92" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_182_275)">
                            <path class="stroke-bg" d="M0.157227 9.19995L42.9906 27.6L85.8239 64.4L128.657 36.8L171.491 64.4L214.324 46L257.157 18.4V92H214.324H171.491H128.657H85.8239H42.9906H0.157227V9.19995Z" fill="#1C92FF" fill-opacity="0.5"/>
                            <path class="stroke-slant" d="M0.157227 9L43.5614 27.0852" stroke="#1C92FF" stroke-width="2" stroke-linecap="round"/>
                            <path class="stroke-down" d="M43.8094 27.2419L86.8094 64.2419" stroke="#1C92FF" stroke-width="2" stroke-linecap="round"/>
                            <path class="stroke-up" d="M87.1572 64L128.157 37" stroke="#1C92FF" stroke-width="2" stroke-linecap="round"/>
                            <line class="stroke-down-slight" x1="128.538" y1="36.6932" x2="170.85" y2="63.6195" stroke="#1C92FF" stroke-width="2" stroke-linecap="round"/>
                            <path class="stroke-up-slight" d="M171.157 64L215.768 45.0789" stroke="#1C92FF" stroke-width="2" stroke-linecap="round"/>
                            <path class="stroke-up"  d="M215.607 45.1648L256.607 18.1648" stroke="#1C92FF" stroke-width="2" stroke-linecap="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_182_275">
                            <path d="M0.157227 0H257.157V76C257.157 84.8366 249.994 92 241.157 92H16.1572C7.32067 92 0.157227 84.8366 0.157227 76V0Z" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
        </div> 
        <div class="col-xl-3 col-lg-4 p-2 px-0 ps-md-2">
            <div class=" rounded-4 pt-4 panel-container text-center d-flex flex-column justify-content-center align-items-center">
                <div class="panel-body">
                    <div class="icon-container rounded-circle m-auto d-flex align-items-center justify-content-center">
                        <i class="bi bi-boxes fs-1"></i>
                    </div>
                    <h1 class="heading-color heading-title-fs-64 fw-bolder ">438</h1>
                    <p class="sub-text-color fs-6 fw-medium">LOW STOCK ITEMS</p>
                </div>
                <div class="wave-container position-relative  mt-3 mt-lg-0 mt-sm-5">
                    <svg class="w-100 p-0 position-absolute start-0 bottom-0" viewBox="0 0 258 92" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_182_275)">
                            <path class="stroke-bg" d="M0.157227 9.19995L42.9906 27.6L85.8239 64.4L128.657 36.8L171.491 64.4L214.324 46L257.157 18.4V92H214.324H171.491H128.657H85.8239H42.9906H0.157227V9.19995Z" fill="#1C92FF" fill-opacity="0.5"/>
                            <path class="stroke-slant" d="M0.157227 9L43.5614 27.0852" stroke="#1C92FF" stroke-width="2" stroke-linecap="round"/>
                            <path class="stroke-down" d="M43.8094 27.2419L86.8094 64.2419" stroke="#1C92FF" stroke-width="2" stroke-linecap="round"/>
                            <path class="stroke-up" d="M87.1572 64L128.157 37" stroke="#1C92FF" stroke-width="2" stroke-linecap="round"/>
                            <line class="stroke-down-slight" x1="128.538" y1="36.6932" x2="170.85" y2="63.6195" stroke="#1C92FF" stroke-width="2" stroke-linecap="round"/>
                            <path class="stroke-up-slight" d="M171.157 64L215.768 45.0789" stroke="#1C92FF" stroke-width="2" stroke-linecap="round"/>
                            <path class="stroke-up"  d="M215.607 45.1648L256.607 18.1648" stroke="#1C92FF" stroke-width="2" stroke-linecap="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_182_275">
                            <path d="M0.157227 0H257.157V76C257.157 84.8366 249.994 92 241.157 92H16.1572C7.32067 92 0.157227 84.8366 0.157227 76V0Z" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    
    <app-table
        tableTitle="PRODUCT LIST"
        subTitle="MANAGEMENT"
        
        [tableTools]="true"
        [searchBar]="true"
        [Btntools]="true"
        [addBtn]="true"
        addbtnName="ADD ITEM"
        [searchBarclass]="margin"
        [addBtnclass]="size"
        
        [restockBtn]="false"
        [tableAction]="true"
        [editBtn]="true"
        [deleteBtn]="true"

        [tableHeader]="['ITEM NAME','DESCRIPTION']"
        [tableRows]="['name', 'description']"
        [tableData]="products"
        
        (rowDataSelected)="onRowDataSelected($event)"
        (ShowAddForm)="showAddForm()"
        (ShowEditForm)="showEditForm()"
    ></app-table>
    
    
</div>



<app-modal
    modalId="delete"
    modalTitle="DELETE PRODUCT"
    modalSubTitle="PRODUCT CONTROL"

    [modalDeleteProduct]="true"
    (RefreshTable)="refreshTableData()"
    [selectedRowData]="selectedRowData"
></app-modal>



    
