<div class="container-md">
    <app-modal-client [mode]="this.mode" [modalSize]="'modal-md'"></app-modal-client>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="dark-subtle-bg p-3">
                <p class="fw-bold text-white fs-5 m-0">Tops</p> 
            </div>
            <div class="bg-dark-grey p-3">
                <div class="input-group border-1">
                    <span class="input-group-text border-end-0 pe-1 py-1 bg-body-bg"><i class="bi bi-search"></i></span>
                    <input type="text" class="form-control border-start-0" placeholder="Search for items...">
                </div>                  
            </div>
            <div class="bg-light-gray p-3">
                <app-outline-circle-spinner class="ms-3" [isBlue]="true" [size]="'medium'" *ngIf="isLoading"></app-outline-circle-spinner>
                <div *ngIf="!isLoading">
                    <form [formGroup]="product1Select" class="row px-3">
                        <div class="col-4 mb-3 d-flex justify-content-center align-items-center" *ngFor="let variant of variantsTop">
                            <label for={{variant.variant_id}} class="variant-label">
                                <input type="radio" class="variant-select" value={{variant.variant_id}} id={{variant.variant_id}} formControlName="variant1" (click)="selectVariant1(variant)" />
                                <div class="d-flex flex-row rounded-1 p-3 variant-box">
                                    <img [src]="variant.images[0]" class="img-fluid">
                                </div>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="dark-subtle-bg p-3 mt-3">
                <p class="fw-bold text-white fs-5 m-0">Bottoms</p> 
            </div>
            <div class="bg-dark-grey p-3">
                <div class="input-group border-1">
                    <span class="input-group-text border-end-0 pe-1 py-1 bg-body-bg"><i class="bi bi-search"></i></span>
                    <input type="text" class="form-control border-start-0" placeholder="Search for items...">
                </div>                  
            </div>
            <div class="bg-light-gray p-3">
                <app-outline-circle-spinner class="ms-3" [isBlue]="true" [size]="'medium'" *ngIf="isLoading"></app-outline-circle-spinner>
                <div *ngIf="!isLoading">
                    <form [formGroup]="product2Select" class="row px-3">
                        <div class="col-4 mb-3 d-flex justify-content-center align-items-center" *ngFor="let variant of variantsTop">
                            <label for={{variant.variant_id}} class="variant-label">
                                <input type="radio" class="variant-select" value={{variant.variant_id}} id={{variant.variant_id}} formControlName="variant2" (click)="selectVariant2(variant)" />
                                <div class="d-flex flex-row rounded-1 p-3 variant-box">
                                    <img [src]="variant.images[0]" class="img-fluid">
                                </div>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="dark-subtle-bg p-3">
                <p class="fw-bold text-white fs-5 m-0">Outfit Preview</p> 
            </div>
            <div class="bg-light-gray p-3 preview-panel d-flex flex-column justify-content-center align-items-center">
                <div class="preview-image" *ngIf="selectedVariant1" cdkDragBoundary=".preview-panel" cdkDrag>
                    <img [src]="selectedVariant1.images[0]" class="img-fluid">
                </div>
                <div class="preview-image mt-3" *ngIf="selectedVariant1" cdkDragBoundary=".preview-panel" cdkDrag>
                    <img [src]="selectedVariant1.images[0]" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dark-subtle-bg p-3">
                <p class="fw-bold text-white fs-5 m-0">Summary</p> 
            </div>
            <div class="bg-light-gray p-3">
                <div class="d-flex justify-content-between align-items-center" *ngIf="selectedVariant1 as var1">
                    <div class="d-flex flex-column">
                        <p class="m-0 fw-bold fs-5">{{this.matchVariantProductName(var1)}}</p>
                        <p class="m-0 muted-text">{{var1.variant_name}}</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="m-0 fw-bold">{{var1.price | currency}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="carousel slide" id="shoppingCartCarousel" #carousel>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex flex-column mt-5">
                    <div class="d-flex justify-content-start">
                        <span class="blue-accent me-3"></span>
                        <p class="m-0 fs-3 fw-bold">My Styles</p>
                    </div>
                    <p class="ms-4">Select the first item of your outfit.</p>
                </div>
                <div *ngIf="product1?.invalid && (product1?.dirty || product1?.touched)"> 
                    <div *ngIf="product1?.errors?.['required']" class="bg-danger-subtle rounded-1 p-3">
                        <span class="text-danger">Please select a product from the list.</span>
                    </div>
                </div>
                <div *ngIf="variant1?.invalid && (variant1?.dirty || variant1?.touched)" class="mt-3"> 
                    <div *ngIf="variant1?.errors?.['required']" class="bg-danger-subtle rounded-1 p-3">
                        <span class="text-danger">Please select a variant from the list.</span>
                    </div>
                </div>
                <div class="mt-3">
                    <form [formGroup]="product1Select" class="row">
                        <div class="col-md-7 px-4">
                            <div class="row">
                                <div *ngFor="let product of products | async" class="col-6 col-lg-4 col-xl-4 mb-3" (click)="selectProduct1(product)">
                                    <label class="w-100 product-label" [for]="product.id">
                                        <input type="radio" class="product-select" value={{product.id}} id={{product.id}} formControlName="product1" />
                                        <div class="card product-card h-100">
            
                                            <div class="card-img-container d-flex align-items-center" [ngStyle]=" product.variants[0].images[0] ? { 'background-image': 'url(' + product.variants[0].images[0] + ')' } : { 'background-image': 'url(https://picsum.photos/700)'}">
                                                
                                            </div>
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <div class="card-title m-0">{{product.name}}</div>
                            
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="d-flex flex-column">
                                <div class="dark-subtle-bg p-3">
                                    <p class="fw-bold text-white fs-5 m-0">Product Description</p> 
                                </div>
                                <div class="bg-light-gray p-3">
                                    <p *ngIf="!selectedProduct1" class="text-center m-0">No product selected.</p>
                                    <div *ngIf="selectedProduct1 as selected" class="row" >
                                        <div class="col-6">
                                            <img [src]="selected.variants[0].images[0]" class="product-desc-img">
                                        </div>
                                        <div class="col-6 d-flex flex-column align-items-start">
                                            <p class="fw-bold m-0">{{selected.name}}</p>
                                            <p class="m-0 muted-text">{{selected.category}}</p>
                                            <p class="m-0" [innerHTML]="domSanitizer.bypassSecurityTrustHtml(selected.description)"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-column mt-3">
                                <div class="dark-subtle-bg p-3">
                                    <p class="fw-bold text-white fs-5 m-0">Product Variants</p> 
                                </div>
                                <div class="bg-light-gray p-3">
                                    <p *ngIf="!selectedProduct1" class="text-center m-0">No product selected.</p>
                                    <div *ngIf="selectedProduct1 as selected" class="row" >
                                        <div *ngFor="let variant of selected.variants" class="select-container">
                
                                            <label for={{variant.variant_id}} class="w-100 variant-label">
                                                <input type="radio" class="variant-select" value={{variant.variant_id}} id={{variant.variant_id}} formControlName="variant1" (click)="selectVariant1(variant.variant_id)" />
                                                <div class="d-flex flex-row rounded-1 p-3 variant-box" *ngIf="variant.attributes as attr">
                                                    
                                                    <div class="">
                                                        <img src={{variant.images[0]}} class="variant-image rounded-1">
                                                    </div>
                                                    
                                                    <div class="d-flex flex-column ms-3 justify-content-center">
                                                        <p class="m-0 fw-bold fs-5">{{variant.variant_name}}</p>
                                                        <p class="m-0 fw-bold">{{variant.price  | currency}}</p>
                                                        <p class="m-0">{{variant.stock}} {{ variant.stock > 1 ? 'pieces' : 'piece'}} available.</p>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>                                
                                    </div>
                                </div>

                                <div class="d-flex justify-content-end mt-3">
                                    <button class="button-primary" (click)="validatePage1()">Proceed</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="carousel-item">
                <div class="d-flex flex-column mt-5">
                    <div class="d-flex justify-content-start">
                        <span class="blue-accent me-3"></span>
                        <p class="m-0 fs-3 fw-bold">My Styles</p>
                    </div>
                    <p class="ms-4">Select the second item of your outfit.</p>
                    
                </div>
                <div *ngIf="product2?.invalid && (product2?.dirty || product2?.touched)"> 
                    <div *ngIf="product2?.errors?.['required']" class="bg-danger-subtle rounded-1 p-3">
                        <span class="text-danger">Please select a product from the list.</span>
                    </div>
                </div>
                <div *ngIf="variant2?.invalid && (variant2?.dirty || variant2?.touched)" class="mt-3"> 
                    <div *ngIf="variant2?.errors?.['required']" class="bg-danger-subtle rounded-1 p-3">
                        <span class="text-danger">Please select a variant from the list.</span>
                    </div>
                </div>
                <div class="mt-3">
                    <form [formGroup]="product2Select" class="row">
                        <div class="col-md-7 px-4">
                            <div class="row">
                                <div *ngFor="let product of products | async" class="col-6 col-lg-4 col-xl-4 mb-3" (click)="selectProduct2(product)">
                                    <label class="w-100 product-label" [for]="product.id">
                                        <input type="radio" class="product-select" value={{product.id}} id={{product.id}} formControlName="product2" />
                                        <div class="card product-card h-100">
            
                                            <div class="card-img-container d-flex align-items-center" [ngStyle]=" product.variants[0].images[0] ? { 'background-image': 'url(' + product.variants[0].images[0] + ')' } : { 'background-image': 'url(https://picsum.photos/700)'}">
                                                
                                            </div>
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <div class="card-title m-0">{{product.name}}</div>
                                            
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="d-flex flex-column">
                                <div class="dark-subtle-bg p-3">
                                    <p class="fw-bold text-white fs-5 m-0">Product Description</p> 
                                </div>
                                <div class="bg-light-gray p-3">
                                    <p *ngIf="!selectedProduct2" class="text-center m-0">No product selected.</p>
                                    <div *ngIf="selectedProduct2 as selected" class="row" >
                                        <div class="col-6">
                                            <img [src]="selected.variants[0].images[0]" class="product-desc-img">
                                        </div>
                                        <div class="col-6 d-flex flex-column align-items-start">
                                            <p class="fw-bold m-0">{{selected.name}}</p>
                                            <p class="m-0 muted-text">{{selected.category}}</p>
                                            <p class="m-0" [innerHTML]="domSanitizer.bypassSecurityTrustHtml(selected.description)"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-column mt-3">
                                <div class="dark-subtle-bg p-3">
                                    <p class="fw-bold text-white fs-5 m-0">Product Variants</p> 
                                </div>
                                <div class="bg-light-gray p-3">
                                    <p *ngIf="!selectedProduct2" class="text-center m-0">No product selected.</p>
                                    <div *ngIf="selectedProduct2 as selected" class="row" >
                                        <div *ngFor="let variant of selected.variants" class="select-container">
                
                                            <label for={{variant.variant_id}} class="w-100 variant-label">
                                                <input type="radio" class="variant-select" value={{variant.variant_id}} id={{variant.variant_id}} formControlName="variant2" (click)="selectVariant2(variant.variant_id)" />
                                                <div class="d-flex flex-row rounded-1 p-3 variant-box" *ngIf="variant.attributes as attr">
                                                    
                                                    <div class="">
                                                        <img src={{variant.images[0]}} class="variant-image rounded-1">
                                                    </div>
                                                    
                                                    <div class="d-flex flex-column ms-3 justify-content-center">
                                                        <p class="m-0 fw-bold fs-5">{{variant.variant_name}}</p>
                                                        <p class="m-0 fw-bold">{{variant.price  | currency}}</p>
                                                        <p class="m-0">{{variant.stock}} {{ variant.stock > 1 ? 'pieces' : 'piece'}} available.</p>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>                                
                                    </div>
                                </div>

                                <div class="d-flex justify-content-end mt-3">
                                    <button class="button-secondary-outline me-3" (click)="prevPage()">Previous</button>
                                    <button class="button-primary" (click)="validatePage2()">Proceed</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="carousel-item">
                <div class="d-flex flex-column mt-5">
                    <div class="d-flex justify-content-start">
                        <span class="blue-accent me-3"></span>
                        <p class="m-0 fs-3 fw-bold">My Styles</p>
                    </div>
                    <p class="ms-4">Review your chosen items.</p>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="row p-3 bg-grey" *ngIf="(selectedProduct1) && (selectedVariant1) as variant1">
                            <div class="d-flex">
                                <div class="col-5 me-3">
                                    <img [src]="variant1.images[0]" class="img-fluid">
                                    <div class="dark-subtle-bg p-1">
                                        <p class="text-center text-white m-0">{{selectedProduct1.name}}</p> 
                                    </div>
                                </div>
                                <div class="col-7 d-flex flex-column">
                                    <div class="dark-subtle-bg p-3">
                                        <p class="fw-bold text-white fs-5 m-0">Recommended Products</p> 
                                    </div>
                                    <div class="p-3 bg-light-gray">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dark-subtle-bg p-3">
                            <p class="fw-bold text-white fs-5 m-0">Payment</p> 
                        </div>
                        <div class="p-3 bg-light-gray">
                            
                        </div>
                    </div>
                </div>
                <button class="button-primary" (click)="prevPage()">Previous</button>
            </div>
        </div>
    </div> -->
</div>