#searchDiv {
    gap: 2rem;
}


#navbarInfoBg {
    background-color: #F7F7F7;
}

#navbarInfo {
    gap: 1rem;
}

#navbarContainer {
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.10);
}

.nav-item a:hover {
    text-decoration: underline;
}

.activeLink {
    color: var(--primary);
}

#categoryDetailsDiv > div {
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.10);
}

#modalBackground {
    display: none;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
}

.dropdown.show:before{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(100,100,100,0.5);
    content: '';
    z-index: 1;
}

.cartBadge {
    font-size: .75rem;
    transform: translate(-50%, 0);
    background-color: var(--primary);
}

.dropdown-menu {
    width: 48rem;
}

.navbar-profile-pic {
    width: 1.5rem;
    height: auto;
    border-radius: 50%;
}

.navbar-profile-pic-lg {
    width: 5rem;
    height: auto;
    border-radius: 50%;
}

.navbar-logo {
    max-height: 60px;
}

/* disable modalBackground on mobile */
@media screen and (max-width: 768px) {
    #modalBackground {
        display: none !important; 
    }

    #navbarInfoBg {
        display: none !important;
    }

    .navbar-logo {
        max-height: 40px;
    }
}