.dark-border {
    border: 1px solid var(--adm-light-gray)
}

.cart-item-img {
    
    width: 100%;
}

.item-row {
    padding: 1rem 0;
}

td {
    padding: .5rem 0 .5rem .5rem;
    vertical-align: middle;
}

.td-quantity {
    text-align: center;
}

.cart-item-action {
    color: var(--body-text);
    cursor: pointer;
}

.cart-item-action:hover {
    color: var(--primary);
}