<form *ngIf="formAddAttribute" [formGroup]="addAttributeForm" (ngSubmit)="onAttributeAddSubmit()" >
    <div class="container">
        <div class=" w-100 px-1">
            <input formControlName="name" type="text" class="form-control form-control-lg text-white bg-transparent tex border rounded-3" placeholder="Enter Attribute Name">
        </div> 
        <div class="modal-footer mt-2 mb-2 p-0 border-0" >
            <button 
                type="button" 
                data-bs-dismiss="modal"
                class="btn btn-primary bg-light-primary rounded-3" 
            >
                Cancel
            </button>
            <button 
                type="submit" 
                class="btn btn-primary bg-light-primary rounded-3" 
            >
                Confirm
            </button>
        </div> 
    </div> 
</form>

<form *ngIf="formEditAttribute" [formGroup]="editAttributeForm" (ngSubmit)="onAttributeEditSubmit()" >
    <div class="container">
        <div class=" w-100 px-1">
            <input 
                formControlName="name" 
                type="text" 
                class="form-control form-control-lg text-white bg-transparent tex border rounded-3" 
                [value]="selectedRowData?.name"
            >
        </div> 
        <div class="modal-footer mt-2 mb-2 p-0 border-0" >
            <button 
                type="button" 
                data-bs-dismiss="modal"
                class="btn btn-primary bg-light-primary rounded-3" 
            >
                Cancel
            </button>
            <button 
                type="submit" 
                class="btn btn-primary bg-light-primary rounded-3" 
            >
                Confirm
            </button>
        </div> 
    </div> 
</form>

<form *ngIf="formDeleteAttribute" (ngSubmit)="onAttributeDeleteSubmit()">
    <div  class="modal-body text-center pt-0 pb-0">
        <p class="fs-5 fw-bold mb-1 {{textcolor}}">Are you sure to delete this?</p>
        <h1 class="text-primary fs-4 fw-bolder text-truncate">{{selectedRowData?.name}}</h1>
    </div>
    <div class="modal-footer border-0 justify-content-center">
        <button type="button" class="btn btn-muted btn-primary" data-bs-dismiss="modal">CANCEL</button>
        <button type="submit" class="btn btn-primary bg-light-primary text-white">CONFIRM</button>
    </div>
</form>

