<div class="modal fade" id={{modalId}}  tabindex="-1" #modalRef>
    
    <div class="position-relative w-100 mt-3">
        <app-toast [toastTheme]="this.toastTheme" [toastTitle]="this.toastHeader" [toastContent]="this.toastContent"></app-toast>
    </div>
    
    <div class="modal-dialog  modal-dialog-centered rounded-0 {{modalClass}}" >
        <div class="modal-content rounded-0 p-2">

            <div class="modal-title-container mb-0 container">
                <div class="modal-header px-0 d-flex justify-content-between align-items-start border-0">
                    <div class="modal-title text-start">
                        <h1 class="modal-title fs-4 fw-bolder lh-1 {{modalTitleClass}}">{{modalTitle}}</h1>
                        <div class="modal-sub-title text-dark-emphasis fs-6  {{modalSubTitleClass}}">{{modalSubTitle}}</div>
                        <div class="modal-info-title text-dark-emphasis fs-6 pt-1 mb-3" *ngIf="allowAnotherSub">
                            <p class="user-info m-0 p-o lh-1 text-wrap text-body-tertiary" *ngIf="selectedRowData?.address_line_1">{{selectedRowData?.address_line_1}}</p>
                            <p class="user-info m-0 p-o lh-1 text-wrap text-body-tertiary " *ngIf="selectedRowData?.address_line_2">{{selectedRowData?.address_line_2}}</p>
                            <p class="user-info m-0 p-o lh-1 text-wrap text-body-tertiary " *ngIf="selectedRowData?.city">city of {{selectedRowData?.city}},</p>
                            <p class="user-info m-0 p-o lh-1 text-wrap text-body-tertiary " *ngIf="selectedRowData?.province">{{selectedRowData?.province}}</p>
                        </div>
                    </div>  
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                
                </div>
                <hr class="divider m-0 mb-3">
            </div>
            
            
                <app-category-form 
                    *ngIf="modalDeleteCategory"
                    [formDeleteCategory]="true"
                    [selectedRowData]="selectedRowData"
                    (CategorySuccess)="deleteSuccessToast($event)"
                    (CategoryWarn)="WarningToast($event)"
                    (CategoryError)="ErrorToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                    (CloseModal)="closeModal()"
                ></app-category-form>
                
                
                <app-category-form 
                    *ngIf="modalDeleteSubCategory"
                    [formDeleteSubCategory]="true"
                    [selectedRowData]="selectedRowData"
                    (CategorySuccess)="deleteSuccessToast($event)"
                    (CategoryWarn)="WarningToast($event)"
                    (CategoryError)="ErrorToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                    (CloseModal)="closeModal()"
                ></app-category-form>
                
                <app-product-form
                    *ngIf="modalDeleteProduct"
                    [formDeleteProduct]="true"
                    [selectedRowData]="selectedRowData"
                    (ProductSuccess)="deleteSuccessToast($event)"
                    (ProductError)="ErrorToast($event)"
                    (ProductWarning)="WarningToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                    (CloseModal)="closeModal()"
                >
                </app-product-form> 
                
                <app-accounts-form
                    *ngIf="modalBanAccounts"
                    [formBanAccount]="true"
                    [selectedRowData]="selectedRowData"
                    (BanSuccess)="banSuccessToast($event)"
                    (BanError)="ErrorToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                    (CloseModal)="closeModal()"
                ></app-accounts-form>
                
                <app-accounts-form
                    *ngIf="modalUnBanAccounts"
                    [formUnBanAccount]="true"
                    [selectedRowData]="selectedRowData"
                    (BanSuccess)="unbanSuccessToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                    (CloseModal)="closeModal()"
                ></app-accounts-form>
                
                <div class="container m-auto P-2 overflow-y-auto" *ngIf="modalData">
                    <h1 class="form-title fs-4 fw-bolder mb-4" >Order Summarry</h1>
                    <ul class="list-unstyled" *ngFor="let item of modalSubData | async">
                        <li class="text-decoration-none row">
                            <div class="col-sm-8 text-start">
                                <p class="product-name m-0 p-o lh-sm text-nowrap text-truncate">{{item.product_id}}</p>
                                <p class="product-quantity m-0 p-o lh-sm text-nowrap text-truncate">variant</p>
                                <p class="product-quantity m-0 p-o lh-sm text-nowrap text-truncate">x{{item.quantity}}</p>
                            </div>
                            <div class="col-sm-4 text-end d-flex align-items-center justify-content-end">
                                <h1 class="product_price fs-4 fw-bolder" >₱{{item.sub_price}}</h1>
                            </div>
                        </li>
                    </ul>
                    <hr class="divider mb-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="fs-5 fw-bold">Subtotal</h3>
                        </div>
                        <div class="col-sm-6 d-flex justify-content-end align-content-center">
                            <h1 class="form-title fs-2 fw-bolder mb-4" >₱{{selectedRowData?.total_price}}</h1>
                        </div>
                    </div>
                </div>
                
                <div class="container m-auto P-2 overflow-y-auto" *ngIf="modalConfirm">
                    <form class="w-100" (ngSubmit)="confirmPayment()" >
                        <img src="" class="img-container h-100 w-100 mt-2 mb-2 border m-auto" alt="Confirm Payment" srcset="">
                        <div class="modal-footer border-0 ">
                            <button type="button" class="btn btn-muted" data-bs-dismiss="modal">CANCEL</button>
                            <button 
                                type="submit" 
                                class="btn btn-primary bg-light-primary "
                                
                            >
                                CONFIRM
                            </button>
                        </div>
                    </form>
                </div>
                <div class="container m-auto P-2 overflow-y-auto" *ngIf="modalShip">
                    <form  (ngSubmit)="shipPackage()" >
                        <div class="modal-body text-center pt-0 pb-0">
                            <p class="fs-5 fw-bold mb-1">Are you sure you want to this order to mark as ship?</p>
                            <h1 class="text-primary fs-4 fw-bolder" >{{selectedRowData?.name}}</h1>
                        </div>
                        
                        <div class="modal-footer border-0 justify-content-center">
                            <button type="button" class="btn btn-muted" data-bs-dismiss="modal">CANCEL</button>
                            <button 
                                type="submit" 
                                class="btn btn-primary bg-light-primary "

                            >
                                CONFIRM
                            </button>
                        </div>
                    </form>
                </div>
        </div> 

    </div>
</div>

