<div class="modal fade" id={{modalId}}  tabindex="-1" >
    
    <div class="position-relative w-100 mt-3">
        <app-toast [toastTheme]="this.toastTheme" [toastTitle]="this.toastHeader" [toastContent]="this.toastContent"></app-toast>
    </div>
    
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header mb-0 d-flex justify-content-between align-items-start border-0">
                <div class="modal-title text-start">
                    <h1 class="modal-title fs-4 fw-bolder" >{{modalTitle}}</h1>
                    <div class="modal-sub-title text-dark-emphasis fs-6">{{modalSubTitle}}</div>
                </div>
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            
            </div>
            <hr class="divider m-0 mb-3">
            
                <app-category-form 
                    *ngIf="modalDeleteCategory"
                    [formDeleteCategory]="true"
                    [selectedRowData]="selectedRowData"
                    (CategorySuccess)="deleteSuccessToast($event)"
                    (CategoryWarn)="WarningToast($event)"
                    (CategoryError)="ErrorToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                    (CloseModal)="closeModal()"
                ></app-category-form>
                
                
                <app-category-form 
                    *ngIf="modalDeleteSubCategory"
                    [formDeleteSubCategory]="true"
                    [selectedRowData]="selectedRowData"
                    (CategorySuccess)="deleteSuccessToast($event)"
                    (CategoryWarn)="WarningToast($event)"
                    (CategoryError)="ErrorToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                    (CloseModal)="closeModal()"
                ></app-category-form>
                
                <app-product-form
                    *ngIf="modalDeleteProduct"
                    [formDeleteProduct]="true"
                    [selectedRowData]="selectedRowData"
                    (ProductSuccess)="deleteSuccessToast($event)"
                    (ProductError)="ErrorToast($event)"
                    (ProductWarning)="WarningToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                    (CloseModal)="closeModal()"
                >
                </app-product-form> 
                
                <app-accounts-form
                    *ngIf="modalBanAccounts"
                    [formBanAccount]="true"
                    [selectedRowData]="selectedRowData"
                    (BanSuccess)="banSuccessToast($event)"
                    (BanError)="ErrorToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                    (CloseModal)="closeModal()"
                ></app-accounts-form>
                
                <app-accounts-form
                    *ngIf="modalUnBanAccounts"
                    [formUnBanAccount]="true"
                    [selectedRowData]="selectedRowData"
                    (BanSuccess)="unbanSuccessToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                    (CloseModal)="closeModal()"
                ></app-accounts-form>
                
                </div> 
    </div>
</div>

