<!--ADD CATEGORY FORM-->    

<form *ngIf="formAddCategory" [formGroup]="addCategoryForm" (ngSubmit)="onCategoryAddSubmit()" >
    <div class="container">
        <div class=" w-100 px-1">
            <input formControlName="category" type="text" class="form-control form-control-lg text-white bg-transparent tex border rounded-3" placeholder="Enter Category Name">
        </div> 
        <div class="modal-footer mt-2 mb-2 p-0 border-0" >
            <button 
                type="button" 
                data-bs-dismiss="modal"
                class="btn btn-primary bg-light-primary rounded-3" 
            >
                Cancel
            </button>
            <button 
                type="submit" 
                class="btn btn-primary bg-light-primary rounded-3" 
            >
                Confirm
            </button>
        </div> 
    </div> 
</form>

<!--EDIT CATEGORY FORM-->
<form *ngIf="formEditCategory" [formGroup]="editCategoryForm" (ngSubmit)="onCategoryEditSubmit()" >
    <div class="container">
        <div class=" w-100 px-1">
            <input 
                formControlName="category" 
                type="text" 
                class="form-control form-control-lg text-white bg-transparent tex border rounded-3" 
                placeholder="Enter Category Name"
                [value]="selectedRowData?.name"
            >
        </div> 
        <div class="modal-footer mt-2 mb-2 p-0 border-0" >
            <button 
                type="button" 
                data-bs-dismiss="modal"
                class="btn btn-primary bg-light-primary rounded-3" 
            >
                Cancel
            </button>
            <button 
                type="submit" 
                class="btn btn-primary bg-light-primary rounded-3" 
            >
                Confirm
            </button>
        </div> 
    </div> 
</form>

<!--DELETE CATEGORY FORM-->
<form *ngIf="formDeleteCategory"  (ngSubmit)="onCategoryDeleteSubmit()">
    <div  class="modal-body text-center pt-0 pb-0">
        <p class="fs-5 fw-bold mb-1 {{formTextColor}}">Are you sure to delete this?</p>
        <h1 class="text-primary fs-4 fw-bolder text-truncate">{{selectedRowData?.name}}</h1>
    </div>
    <div class="modal-footer border-0 justify-content-center">
        <button type="button" class="btn btn-muted" data-bs-dismiss="modal">CANCEL</button>
        <button type="submit" class="btn btn-primary bg-light-primary text-white">CONFIRM</button>
    </div>
</form>

<form *ngIf="formMultipleDeleteCategory" (ngSubmit)="onCategoryDeleteMultipleSubmit()">
    <div  class="modal-body text-center pt-0 pb-0">
        <p class="fs-5 fw-bold mb-1 {{formTextColor}}">Are you sure to delete this?</p>
        <h1 class="text-primary fs-4 fw-bolder text-truncate">{{ selectedRowDataForDelete ? (selectedRowDataForDelete.length === 1 ? selectedRowDataForDelete[0] : selectedRowDataForDelete.length + ' items') : 'N/A' }}</h1>
    </div>
    <div class="modal-footer border-0 justify-content-center">
        <button type="button" class="btn btn-muted btn-primary" data-bs-dismiss="modal">CANCEL</button>
        <button type="submit" class="btn btn-primary bg-light-primary text-white">CONFIRM</button>
    </div>
</form>


