<div class="modal fade" id="modal-client" tabindex="-1" #modal>
    <!-- <app-toaster [positionClasses]="'top-0 start-50 translate-middle-x position-fixed'"></app-toaster> -->
    <div class="position-fixed vh-100 pe-none z-3 toast-container-parent m-5">
        
    </div>
    <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered" [ngClass]="modalSize">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-3 fw-bold">{{this.modalTitle}}</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body" [ngSwitch]="this.mode"> 
                <app-review-form *ngSwitchCase="'add-review'" [product]="this.product" (activateToast)="activateToast($event)" (dismiss)="dismiss()" (reviewSuccess)="emitReviewSuccess()"></app-review-form>
                <app-confirm-dialog *ngSwitchCase="'confirm-dialog'" [product]="this.product" [operation]="this.operation" [context]="this.context" (activateToast)="activateToast($event)" (dismiss)="dismiss()" (emitDeleteTrue)="passConfirmDialogOutput($event)"></app-confirm-dialog>
                <app-edit-cart-item *ngSwitchCase="'edit-cart-item'" [product]="this.product" (dismiss)="dismiss()" (editCartItem)="emitEditCartItem($event)"></app-edit-cart-item>
                <app-cancel-order *ngSwitchCase="'cancel-order'" [order]="this.order" (dismiss)="dismiss()" (emitCancel)="emitCancelOrder($event)"></app-cancel-order>
                <app-setup-reminder *ngSwitchCase="'setup-reminder'" (dismiss)="dismiss()"></app-setup-reminder>
                <app-my-styles-primer *ngSwitchCase="'my-styles-primer'" (dismiss)="dismissMyStyles($event)"></app-my-styles-primer>
                <app-upload-shipping-proof *ngSwitchCase="'upload-shipping-proof'" (dismiss)="dismiss()"></app-upload-shipping-proof>
                <app-return-order *ngSwitchCase="'return-order'" [order]="order" (emitReturn)="emitReturnOrder($event)" (dismiss)="dismiss()"></app-return-order>
            </div>
        </div>
    </div>
</div>