
<div class="dropdown-menu rounded-4 overflow-auto dropdown-container p-4 mt-2 box-shadow {{bg_dark}}">
    <div class="title-container">
        <h1 class="fs-2 fw-bolder {{font_dark}}">Notifications</h1>

        <ng-container *ngIf="data | async as items">
            <ng-container *ngIf="calculateUnreadCount(items) > 0">
                <p class="fs-6 {{font_dark_subtle}} mt-0" *ngIf="calculateUnreadCount(items) > 0">
                    You have <span class="text-primary-subtle fs-6">{{calculateUnreadCount(items)}} Unread Notification<span *ngIf="calculateUnreadCount(items) > 1">'s</span></span>.
                </p>
            </ng-container>
        </ng-container>
    </div>
    <div class="realtime-sort-container mt-4" *ngIf="todayItems.length > 0">
        <h4 class="fs-4 fw-bolder {{font_dark}}">Today</h4>
        <ul class="list-unstyled">
            <li 
                *ngFor="let item of todayItems" class="text-decoration-none dropdown-item mx-0 d-flex align-items-center row px-0 rounded-3 cursor-pointer"
                (click)="route(item.id, item.type)"
                >
                <div class="col-md-2 position-relative p-2 px-0 d-flex justify-content-center">
                    <div class="icon-container border border-2 rounded-circle d-flex justify-content-center align-items-center img-container">
                        <ng-container>
                        
                        </ng-container>
                        <i class="bi bi-bag text-dark-subtle-grey fs-2"></i>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="body">
                        <p class=" fs-5 text-wrap {{font_dark_subtle}} mb-0">{{item.content}}</p>
                        <span class="fs-6 text-primary-subtle">{{ getRelativeTime(item.created_at) }}</span>
                    </div>
                </div> 
                <div class="col-md-1 d-flex p-0 justify-content-center align-items-center">
                    <div class="bg-notification-tip notification-tip-glow rounded-circle glow-primary" *ngIf="!item.is_read"></div>
                </div>
            </li>
        </ul>
    </div>
    
    <div class="realtime-sort-container mt-4" *ngIf="earlierThisWeekItems.length > 0">
        <h4 class="fs-4 fw-bolder {{font_dark}}">Earlier This Week</h4>
        <ul class="list-unstyled">
            <li 
                *ngFor="let item of earlierThisWeekItems" class="text-decoration-none dropdown-item mx-0 d-flex align-items-center row px-0 rounded-3 cursor-pointer"
                (click)="route(item.id, item.type)"
                >
                <div class="col-md-2 position-relative p-2 px-0 d-flex justify-content-center">
                    <div class="icon-container border border-2 rounded-circle d-flex justify-content-center align-items-center img-container">
                        <i class="bi bi-bag text-dark-subtle-grey fs-2"></i>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="body">
                        <p class=" fs-5 text-wrap {{font_dark_subtle}} mb-0">{{item.content}}</p>
                        <span class="fs-6 text-primary-subtle">{{ getRelativeTime(item.created_at) }}</span>
                    </div>
                </div> 
                <div class="col-md-1 d-flex p-0 justify-content-center align-items-center">
                    <div class="bg-notification-tip notification-tip-glow rounded-circle glow-primary" *ngIf="!item.is_read"></div>
                </div>
            </li>
        </ul>
    </div>
    
    <!-- <div class="realtime-sort-container mt-4" >
        <h4 class="fs-4 fw-bolder {{font_dark}}">Today</h4>
        <ul class="list-unstyled">
            <li  *ngFor="let item of data | async" class="text-decoration-none dropdown-item mx-0 d-flex align-items-center row px-0 rounded-3">
                <div class="col-md-2 position-relative p-2 px-0 d-flex justify-content-center">
                    <div class="icon-container border border-2 rounded-circle d-flex justify-content-center align-items-center img-container">
                        <i class="bi bi-bag text-dark-subtle-grey fs-2"></i>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="body">
                        <p class=" fs-5 text-wrap {{font_dark_subtle}} mb-0">{{item.content}}</p>
                        <span class="fs-6 text-primary-subtle">{{ getRelativeTime(item.created_at) }}</span>
                    </div>
                </div> 
                <div class="col-md-1 d-flex p-0 justify-content-center align-items-center">
                    <div class="bg-notification-tip notification-tip-glow rounded-circle glow-primary" *ngIf="!item.is_read"></div>
                </div>
            </li>
        </ul>
    </div>

    <div class="realtime-sort-container mt-4" >
        <h4 class="fs-4 fw-bolder {{font_dark}}">Earlier This Week</h4>
        <ul class="list-unstyled">
            <li  *ngFor="let item of data | async" class="text-decoration-none dropdown-item mx-0 d-flex align-items-center row px-0 rounded-3">
                <div class="col-md-2 position-relative p-2 px-0 d-flex justify-content-center">
                    <div class="icon-container border border-2 rounded-circle d-flex justify-content-center align-items-center img-container">
                        <i class="bi bi-bag text-dark-subtle-grey fs-2"></i>
                    </div>
                    
                </div>
                <div class="col-md-9">
                    <div class="body">
                        <p class=" fs-5 text-wrap {{font_dark_subtle}} mb-0">{{item.content}}</p>
                        <span class="fs-6 text-primary-subtle">{{ getRelativeTime(item.created_at) }}</span>
                    </div>
                </div> 
                <div class="col-md-1 d-flex p-0 justify-content-center align-items-center">
                    <div class="bg-notification-tip notification-tip-glow rounded-circle glow-primary" *ngIf="!item.is_read"></div>
                </div>
            </li>
        </ul>
    </div>
    -->
</div>
