<div class="dropdown-menu rounded-4 overflow-auto dropdown-container p-4 mt-2 box-shadow {{bg_dark}}">
    <div class="title-container">
        <h1 class="fs-2 fw-bolder {{font_dark}}">Notifications</h1>
        <p class="fs-6 {{font_dark_subtle}} mt-0">
            You have <span class="text-primary-subtle fs-6">4 Notification</span> today
        </p>
    </div>
    <div class="realtime-sort-container mt-4">
        <h4 class="fs-4 fw-bolder {{font_dark}}">Today</h4>
    </div>
    <ul class="list-unstyled" >
        <li class="text-decoration-none dropdown-item mx-0 d-flex align-items-center row px-0 rounded-3">
            <div class="col-md-2 position-relative p-2 px-0 d-flex justify-content-center">
                <img class="bg-white img-container  m-auto" src="" alt="">
                <div class="position-absolute bg-notification-tip bottom-0 end-0 notification-tip rounded-circle"></div>
            </div>
            <div class="col-md-9">
                <div class="body">
                    <p class=" fs-5 text-wrap {{font_dark_subtle}} mb-0">Wendell Ravago placed an order on item Zipp Hoodie.</p>
                    <span class="fs-6 text-primary-subtle">a minute ago</span>
                </div>
            </div>
            <div class="col-md-1 d-flex p-0 justify-content-center align-items-center">
                <div class="bg-notification-tip notification-tip-glow rounded-circle glow-primary"></div>
            </div>
            <!-- <a class="dropdown-item {{font_dark_subtle}}" >Action</a> -->
        </li>
        <li class="text-decoration-none dropdown-item mx-0 d-flex align-items-center row px-0 rounded-3">
            <div class="col-md-2 position-relative p-2 px-0 d-flex justify-content-center">
                <img class="bg-white img-container  m-auto" src="" alt="">
                <div class="position-absolute bg-notification-tip bottom-0 end-0 notification-tip rounded-circle"></div>
            </div>
            <div class="col-md-9">
                <div class="body">
                    <p class=" fs-5 text-wrap {{font_dark_subtle}} mb-0">Wendell Ravago placed an order on item Zipp Hoodie.</p>
                    <span class="fs-6 text-primary-subtle">24 minute ago</span>
                </div>
            </div>
            <div class="col-md-1 d-flex p-0 justify-content-center align-items-center">
                <div class="bg-notification-tip notification-tip-glow rounded-circle glow-primary"></div>
            </div>
        </li>
        <li class="text-decoration-none dropdown-item mx-0 d-flex align-items-center row px-0 rounded-3">
            <div class="col-md-2 position-relative p-2 px-0 d-flex justify-content-center">
                <img class="bg-white img-container  m-auto" src="" alt="">
                <div class="position-absolute bg-notification-tip bottom-0 end-0 notification-tip rounded-circle"></div>
            </div>
            <div class="col-md-9">
                <div class="body">
                    <p class=" fs-5 text-wrap {{font_dark_subtle}} mb-0">Wendell Ravago placed an order on item Zipp Hoodie.</p>
                    <span class="fs-6 text-primary-subtle">1 hour ago</span>
                </div>
            </div>
            <div class="col-md-1 d-flex p-0 justify-content-center align-items-center">
                <div class="bg-notification-tip notification-tip-glow rounded-circle glow-primary"></div>
            </div>
        </li>
    </ul>
    <div class="realtime-sort-container mt-4">
        <h4 class="fs-4 fw-bolder {{font_dark}}">Earlier This Week</h4>
    </div>
    <ul class="list-unstyled" >
        <li class="text-decoration-none dropdown-item mx-0 d-flex align-items-center row px-0 rounded-3">
            <div class="col-md-2 position-relative p-2 px-0 d-flex justify-content-center">
                <img class="bg-white img-container  m-auto" src="" alt="">
                <div class="position-absolute bg-notification-tip bottom-0 end-0 notification-tip rounded-circle"></div>
            </div>
            <div class="col-md-9">
                <div class="body">
                    <p class=" fs-5 text-wrap {{font_dark_subtle}} mb-0">Wendell Ravago placed an order on item Zipp Hoodie.</p>
                    <span class="fs-6 text-primary-subtle">1 week</span>
                </div>
            </div>
            <div class="col-md-1 d-flex p-0 justify-content-center align-items-center">
                <div class="bg-notification-tip notification-tip-glow rounded-circle glow-primary"></div>
            </div>
            <!-- <a class="dropdown-item {{font_dark_subtle}}" >Action</a> -->
        </li>
        <li class="text-decoration-none dropdown-item mx-0 d-flex align-items-center row px-0 rounded-3">
            <div class="col-md-2 position-relative p-2 px-0 d-flex justify-content-center">
                <img class="bg-white img-container  m-auto" src="" alt="">
                <div class="position-absolute bg-notification-tip bottom-0 end-0 notification-tip rounded-circle"></div>
            </div>
            <div class="col-md-9">
                <div class="body">
                    <p class=" fs-5 text-wrap {{font_dark_subtle}} mb-0">Wendell Ravago placed an order on item Zipp Hoodie.</p>
                    <span class="fs-6 text-primary-subtle">2 weeks</span>
                </div>
            </div>
            <div class="col-md-1 d-flex p-0 justify-content-center align-items-center">
                <div class="bg-notification-tip notification-tip-glow rounded-circle glow-primary"></div>
            </div>
        </li>
        <li class="text-decoration-none dropdown-item mx-0 d-flex align-items-center row px-0 rounded-3">
            <div class="col-md-2 position-relative p-2 px-0 d-flex justify-content-center">
                <img class="bg-white img-container  m-auto" src="" alt="">
                <div class="position-absolute bg-notification-tip bottom-0 end-0 notification-tip rounded-circle"></div>
            </div>
            <div class="col-md-9">
                <div class="body">
                    <p class=" fs-5 text-wrap {{font_dark_subtle}} mb-0">Wendell Ravago placed an order on item Zipp Hoodie.</p>
                    <span class="fs-6 text-primary-subtle">3 weeks</span>
                </div>
            </div>
            <div class="col-md-1 d-flex p-0 justify-content-center align-items-center">
                <div class="bg-notification-tip notification-tip-glow rounded-circle glow-primary"></div>
            </div>
        </li>
    </ul>
</div>
