<form class="flex-grow-1" [formGroup]="searchForm">
    <div class="d-flex flex-row align-items-center" id="navSearch">
        <div class="input-group">
            <input 
                class="form-control" 
                type="text" 
                placeholder="Type to start searching now..." 
                id="navSearchBar"
                name="navSearchBar"
                formControlName="searchTerm"
            />
            <button class="gradientButton search-button" (click)="search()"><i class="bi bi-search"></i></button>
        </div>
    </div>
</form>