<div class="component-container overflow-y-auto">
  <div class="container-fluid m-auto h-auto pb-4 px-0 px-sm-3">
    <app-table
      tableTitle="Inquiries"
      subTitle="Messages from customers"

      [tableHead]="true"
      tableContainerClass="p-4 table-container"
      tableChildContainer="table-child-container"
      [paginate]="false"
      
      [tableTools]="true"
      [searchBar]="true"
      [tableAction]="true"
      [viewBtn]="true"
      [actionForOrderBtn]="true"

      [tableHeader]="['Name', 'Email', 'Sent on']"
      [tableRows]="['name', 'email', 'created_at']"
      [tableData]="inquiries"
      [tableAction]="true"

      [viewBtn]="true"

      (rowDataSelected)="getRowData($event)"

    ></app-table>
  </div>  
</div>





<div class="modal fade" id="view"  tabindex="-1">
  <div class="modal-dialog  modal-dialog-centered  modal-dialog-scrollable modal-lg" >
      <div class="modal-content content-form">
          <div class="modal-header mb-0 d-flex justify-content-between align-items-start border-0">
              <div class="modal-title text-start">
                  <h1 class="modal-title fs-4 fw-bolder {{titleColor}}" >Inquiry #{{ inquiryContent.id | uppercase }}</h1>
                  <div class="modal-sub-title text-dark-emphasis fs-6">Content Management</div>
              </div>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="text-white">
              {{ inquiryContent.message }}
            </p>
          </div>
          <div class="modal-footer border-0">
            <button type="button" class="btn btn-dark bg-none btn-muted cancel-btn rounded-3 me-2" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div> 
  </div>
</div>

