<div class="component-container overflow-y-auto">
    <div class="container-fluid m-auto h-auto text-center px-0 px-sm-3 ">
        <div class="row m-auto w-100 ">
            <div class="col-lg-8">
                <div class=" w-100">
                    <div class="row">
                        <div class="col-lg-4">
                            <app-counters 
                                title="Product Sold" 
                                [total]="product_sold.current_month" 
                                [percent]="product_sold.percent"
                                [success]="product_sold.increase"
                            ></app-counters>
                        </div>
                        <div class="col-lg-4">
                            <app-counters 
                                title="Average Rating"
                                [rating]="rating.current_month" 
                                [percent]="rating.percent"
                                [success]="rating.increase"
                            ></app-counters>
                        </div>
                        <div class="col-lg-4">
                            <app-counters 
                                title="Completed Orders"
                                [total]="orders.current_month" 
                                [percent]="orders.percent"
                                [success]="orders.increase"
                            ></app-counters>
                        </div>
                    </div>
                </div>
                <div class=" w-100 mt-4">
                    <div class="box-shadow linear-gradient-border">
                        <div class="container rounded-4 p-0 {{bgColor}}">
                            <div class="select-data-container p-2 text-center">
                                <div class="select-container text-center mb-2 cursor-pointer position-relative d-flex align-items-center justify-content-center">
                                    <h6 class="fs-6 fw-bold mb-0 {{titleColor}}">Yearly Total Income</h6>
                                </div>
                                <div class="data-text-container ">
                                    <h1 class="fs-3 fw-bold mb-0 {{titleColor}}">₱ {{totalIncome}}</h1>
                                </div>
                            </div>
                            
                            <app-line-graph
                                width="1000"
                                height="300"
                            >
                            </app-line-graph>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <app-donut-chart
                    [colors]="colors"
                ></app-donut-chart>
            </div>
        </div>
    </div>
</div>

