<div class="component-container overflow-y-auto">
    <div class="container-fluid m-auto h-auto px-0 px-sm-3" >
        <app-chats
            [size]="'chat-body-xl'"
            [admin]="true"
            [channels]="users"
            (rowData)="this.onRowDataSelected($event)"
        ></app-chats>
    </div>    
</div>

    
<app-modal
    modalId="view"
    modalTitle="Customer Information"
    modalTitleClass="mb-3"
    modalSubTitle="{{selectedRowData?.user_id}}"
    modalSubTitleClass="mt-3 fs-5 fw-bold"
    modalClass="modal-md "
    [modalHideIcon]="true"
    modalIcon="view"
    [allowAnotherSub]="true"
    [modalViewOrders]="true"
    (RefreshTable)="refreshTableData()"
    [selectedRowData]="selectedRowData"
    [modalData]="orders"
    [modalSubData]="ordersContents$"
></app-modal>