<div class="panel-store-container store-container  overflow-hidden gray-gradient-border box-shadow">
    <div class="{{counter_bg}}  py-3 store-container h-10 text-center d-flex flex-column justify-content-center ">
        <div class="panel-body position-relative p-3 py-2">
            <div class="title-container mt-1 text-start">
                <p class="card-sub-title {{text_color}} fs-5 fw-bolder lh-1">{{title}}</p>
                <h1 class="card-title {{counter_heading_text_color}} fw-bolder lh-1 text-truncate">69,420</h1>
                <div class="rate d-flex align-items-center mt-2">
                    <i class="bi bi-caret-up-fill text-success fs-4"></i>
                    <h6 class="card-sub-title {{text_color}} fs-6 m-0 ms-2">69% vs last month</h6>
                </div>
            </div>
        </div>

    </div>
</div>