




<div class="position-relative">
  <div *ngIf="!showAddSectionForm">
    <div class="container-fluid m-auto h-auto pb-4 px-0 px-sm-3">
      <app-table
        tableTitle="Manage Terms of Service"
        subTitle="Content Management"
        
        [tableHead]="true"
        tableContainerClass="p-4 table-container"
        tableChildContainer="table-child-container"
        [paginate]="false"
  
        [tableHeader]="['Section Header', 'Information']"
        [tableRows]="['title', 'content']"
        [tableAction]="true"
        [Btntools]="true"
        [tableTools]="true"
        [tableData]="aboutUsSections"
        
        (rowDataSelected)="getSelectedSection($event)"
        [actionBtn]="true"
        
        [addProdBtn]="true"
        addbtnName="Add Section"
        (ShowAddForm)="toggleAddSectionForm()"
        
        [deleteBtn]="true">
      </app-table>
    </div>
  </div>
  
  <div class="modal fade" id="delete"  tabindex="-1">
    <div class="modal-dialog modal-dialog-centered " >
      <form (ngSubmit)="deleteToSSection()">
        <div class="modal-content ">
          <div class="modal-header mb-0 d-flex justify-content-between align-items-start border-0">
              <div class="modal-title text-start">
                  <h1 class="modal-title fs-4 fw-bolder {{titleColor}}" >DELETE SECTION {{ this.selectedSection.title | uppercase }}</h1>
                  <div class="modal-sub-title text-dark-emphasis fs-6">CONTENT MANAGEMENT</div>
              </div>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #confirmDeleteModal></button>
          </div>
          <hr class="divider m-0 mb-3">
          <div class="modal-body">
            <p class="fs-5 fw-bold mb-1 text-center {{textColor}}">Are you sure you want to delete this section?</p>
      
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-muted" data-bs-dismiss="modal">CANCEL</button>
            <button type="submit" class="btn btn-primary bg-light-primary ">CONFIRM</button>
          </div>
      </div> 
      </form>
    </div>
  </div>
  
  <div *ngIf="showAddSectionForm">
    <div class="container-fluid m-auto h-auto pb-4 px-0 px-sm-3">
      <div class="row">
        <div class="col-xxl-6 px-3">
          <div class="card-container linear-gradient-border mx-2">
            <div class="content-form p-4 rounded-4 mx-3 mx-lg-0">
              <h1 class="fw-bold fs-4 mb-0">ADD SECTION</h1>
              <h3 class="fw-bold fs-6 mt-0 sub-title">MANAGE CONTENT</h3>
    
              <form [formGroup]="tosAddSectionForm" (ngSubmit)="submitAddSectionForm()">
                <div class="row row-cols-1 gy-3">
                  <div class="col">
                    <label for="sectionHeader" class="form-label mb-1 {{textColor}}">Section Header*</label>
                    <input type="text" class="form-control bg-transparent border-1 {{textColor}}" id="sectionHeader" formControlName="sectionHeader" placeholder="Section Title">
                  </div>
                  <div class="col">
                    <label for="sectionContent" class="form-label mb-1 {{textColor}}">Section Content*</label>
                    <app-rich-text-editor 
                      (value)="getRTFValue($event)"
                      #rte
                    >
                    </app-rich-text-editor>
                  </div>
                  <div class="col d-flex justify-content-end">
                    <button type="button" class="btn btn-dark bg-none btn-muted cancel-btn rounded-3 me-3" (click)="toggleAddSectionForm()">Cancel</button>
                    <button type="submit" class="btn-save bg-theme-blue btn px-4 {{btncolor}} text-light ">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-toaster #toaster [positionClasses]="'bottom-0 end-0 me-3 mb-2'"></app-toaster>
    
</div>