


<div class="dropup  position-absolute end-0 mb-5 me-2">
    <button 
        class="btn btn-primary rounded-circle glow-primary py-2 p-3"
        data-bs-toggle="dropdown"
        data-bs-auto-close="false" 
        aria-expanded="false"
        #closeDropdown
    >
        <i class="bi bi-chat-left-dots text-white fs-3"></i>
    </button>
    <ul class="dropdown-menu p-0 me-5 box-shadow border-0">
        <app-chats  
            [size]="'chat-body-lg'"
            [client]="true"
            (closeModal)="close()"
        >
        </app-chats>
    </ul>
  </div>