<div class="accordion accordion-flush " id="accordionVariantDesc" [ngClass]="selectedVariantAttributes ? 'd-block' : 'd-none'" >
    <div class="accordion-item">
        <h3 class="accordion-header fw-bold">
            <button class="accordion-button fw-bold" (click)="toggleAccordion()" type="button">
                Variant Description
            </button>
        </h3>
        <div class="accordion-collapse show collapse bg-light-gray" id="variantDescription" #variantAccordion>
            <div class="accordion-body white-space-pre">
                <p class="m-0">{{this.selectedVariantAttributes ? this.selectedVariantAttributes.trim() : this.selectedVariantAttributes }}</p>
            </div>
        </div>
    </div>
</div>

<form [formGroup]="variantForm">
    <div>
        <p class="fw-bold m-0 fs-4 mt-3">Sizes</p>
        <div *ngIf="variantSize?.invalid && (variantSize?.dirty || variantSize?.touched)"> 
            <div *ngIf="variantSize?.errors?.['required']">
                <span class="text-danger">This field is required.</span>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div *ngFor="let size of sizes | keyvalue" class="select-container me-3">
                <input type="radio" class="size-select" value={{size.key}} id={{size.key}} (change)="changeSize(size.key)" formControlName="variantSize" [style.backgroundcolor]="(mode == 'CartItem') && (cartItem.variant_details.get('Size')! === size.key) ? 'DodgerBlue' : 'Yellow'"/>
                <label class="size-select-box justify-content-center align-items-center" for={{size.key}}>{{size.key}}</label>
            </div>  
        </div>
        
    </div>
    
    <div *ngIf="this.selectedSizeVariants.length > 0" class="mt-3">
        <p class="fw-bold m-0 fs-4">Variants</p>
        <div *ngIf="variantSelect?.invalid && (variantSelect?.dirty || variantSelect?.touched)"> 
            <div *ngIf="variantSelect?.errors?.['required']">
                <span class="text-danger">This field is required.</span>
            </div>
        </div>
        <div *ngFor="let variant of this.selectedSizeVariants" class="select-container">
            <label for={{variant.variant_id}} class="w-100 variant-label">
                <input type="radio" class="variant-select" value={{variant.variant_id}} id={{variant.variant_id}} (change)="changeVariant(variant)" formControlName="variantSelect" />
                <div class="d-flex flex-row rounded-0 p-3 variant-box" *ngIf="loadVariantAttributes(variant) as attr">
                    
                    <div class="">
                        <img src={{variant.images[0]}} class="variant-image rounded-1">
                    </div>
                    
                    <div class="d-flex flex-column ms-3 justify-content-center">
                        <p class="m-0 fw-bold fs-5">{{variant.variant_name}}</p>
                        <p class="m-0 fw-bold">{{variant.price  | currency}}</p>
                        <p class="m-0">{{variant.stock}} {{ variant.stock > 1 ? 'pieces' : 'piece'}} available.</p>
                    </div>
                </div>
            </label>
        </div>
    </div>
</form>
<div class="accordion accordion-flush mt-3" id="accordionSizeChart" *ngIf="size && item.size_chart.length > 0">
    <div class="accordion-item">
        <h3 class="accordion-header fw-bold">
            <button class="accordion-button fw-bold" (click)="toggleSizeAccordion()" type="button">
                Sizing Chart
            </button>
        </h3>
        <div class="accordion-collapse collapse bg-light-gray" id="variantDescription" #sizeAccordion>
            <div class="accordion-body white-space-pre">
                <div class="row pb-3 border-bottom text-center fw-bold">
                    <div class="col-3">

                    </div>    
                    <div class="col-3">
                        Chest
                    </div>    
                    <div class="col-3">
                        Waist
                    </div>    
                    <div class="col-3">
                        Hip
                    </div>    
                </div>
                <div class="row py-3 border-bottom text-center" *ngFor="let data of size">
                    <div class="col-3">
                        {{data.label}}
                    </div>    
                    <div class="col-3">
                        {{data.chest}}cm
                    </div>    
                    <div class="col-3">
                        {{data.waist}}cm
                    </div>    
                    <div class="col-3">
                        {{data.hip}}cm
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-3 pt-3 row border-top" *ngIf="mode == 'Product'">
    <div class="col">
        <button class="w-100 button-secondary-outline" (click)="addToCartEmit()"><i class="bi bi-cart-fill me-2"></i> ADD TO CART</button>
    </div>
    <div class="col">
        <button class="w-100 button-primary" (click)="orderNowEmit()"><i class="bi bi-bag-fill me-2"></i> ORDER NOW</button>
    </div>
</div>

<div class="mt-3 pt-3 border-top d-flex justify-content-end" *ngIf="mode == 'CartItem'">
    <button class="button-secondary-outline me-3" (click)="emitDismiss()">CANCEL</button>
    <button class="button-primary" (click)="editCartItemEmit()">CONFIRM</button>
</div>

