<div class="container-md m-auto h-auto p-2 text-center" >
    <div class="row">
        <div class="col-xl-6  p-2">
            <app-table
                tableTitle="MAIN CATEGORIES"
                subTitle="MANAGEMENT"
                
                [tableTools]="true"
                [searchBar]="false"
                [Btntools]="true"
                [addBtn]="true"
                addbtnName="ADD CATEGORY"
                [addBtnclass]="size"
                
                [tableAction]="true"
                [editBtn]="true"
                [deleteBtn]="true"
                
                [tableHeader]="['CATEGORY ID','CATEGORY NAME']"
                [tableRows]="['id','name']"
                [tableData]="categories"
                
                (rowDataSelected)="onRowDataSelected($event)"
                (ShowAddForm)="showAddCategoryForm()"
                (ShowEditForm)="showEditCategoryForm()"
            ></app-table>
        </div>
        
        <div class="col-xl-6 p-2">
            <app-table
                tableTitle="SUB CATEGORIES"
                subTitle="MANAGEMENT"
                [searchBar]="false"
                [tableTools]="true"
                [Btntools]="true"
                
                [addSubBtn]="true"
                [addSubBtnclass]="size"
                addSubtnName="ADD SUB CATEGORY"
                [tableAction]="true"
                [editSubBtn]="true"
                [deleteSubBtn]="true"
                
                [tableHeader]="['CATEGORY ID','CATEGORY NAME','MAIN CATEGORY']"
                [tableRows]="['id','name', 'main_category']"
                [tableData]="sub_categories "
                
                (rowDataSelected)="onRowDataSelected($event)"
                (ShowAddSubForm)="showAddSubCategoryForm()"
                (ShowEditSubForm)="showEditSubCategoryForm()"
            ></app-table>
        </div>
    </div>

    <!--MAIN-->

    
    <app-modal
        modalId="delete"
        modalTitle="DELETE CATEGORY"
        modalSubTitle="CATEGORY MANAGEMENT"
    
    
        [modalDeleteCategory]="true"
        [selectedRowData]="selectedRowData"
        (RefreshTable)="refreshTableData()"
    ></app-modal> 
    
    <!--SUB-->
    
    <app-modal
        modalId="deleteSub"
        modalTitle="DELETE SUB CATEGORY"
        modalSubTitle="CATEGORY MANAGEMENT"
    
        [modalDeleteSubCategory]="true"
        [selectedRowData]="selectedRowData"
        (RefreshTable)="refreshTableData()"
    ></app-modal> 


</div>

