<div class="container-md border border-primary border-2 m-auto h-auto p-2 text-center" >
    <div class="row">
        <div class="col-xl-6  p-2">
            <app-table
                tableTitle="MAIN CATEGORIES"
                subTitle="MANAGEMENT"
                
                [tableTools]="true"
                [searchBar]="false"
                [Btntools]="true"
                [addBtn]="true"
                addbtnName="ADD CATEGORY"
                [addBtnclass]="size"
                
                [tableAction]="true"
                [editBtn]="true"
                [deleteBtn]="true"
                
                [tableHeader]="['CATEGORY ID','CATEGORY NAME']"
                [tableRows]="['id','name']"
                [tableData]="categories"
                
                (rowDataSelected)="onRowDataSelected($event)"
            ></app-table>
        </div>
        <div class="col-xl-6 p-2">
            <app-table
                tableTitle="SUB CATEGORIES"
                subTitle="MANAGEMENT"
                [searchBar]="false"
                [tableTools]="true"
                [Btntools]="true"

                
                [tableHeader]="['CATEGORY ID','CATEGORY NAME','MAIN CATEGORY']"
                [tableRows]="['id','name', 'main_category_id']"
                [tableData]="sub_categories"
            ></app-table>
        </div>
    </div>
</div>

<app-modal
    modalID="addproduct"
    modalTitle="ADD CATEGORY"
    modalSubTitle="CATEGORY MANAGEMENT"

    [modalAddCategory]="true"
    
></app-modal>
<!--
<app-modal
                [addSubBtn]="true"
                [addSubBtnclass]="size"
                addSubtnName="ADD SUB CATEGORY"
    modalID="addsubproduct"
    modalTitle="ADD SUB-CATEGORY"
    modalSubTitle="CATEGORY MANAGEMENT"
    [modalAdminDashboard]="true"
    [modalCategory]="true"
    [modalAddSubCategory]="true"
></app-modal>
-->


<app-modal
    modalID="edit"
    modalTitle="EDIT CATEGORY"
    modalSubTitle="CATEGORY MANAGEMENT"

    [modalEditCategory]="true"
    
    [selectedRowData]="selectedRowData"
></app-modal>

<app-modal
    modalID="delete"
    modalTitle="DELETE CATEGORY"
    modalSubTitle="CATEGORY MANAGEMENT"

    [modalDeleteCategory]="true"
    
    [selectedRowData]="selectedRowData"
></app-modal>