<div class="container-fluid position-relative m-auto h-auto text-center px-0 px-sm-3" >
    
    <app-table
        tableTitle="Category Management"
        subTitle="Product Management"
        [tableHead]="true"
        tableContainerClass="p-4 table-container"
        tableChildContainer="table-child-container"
        [paginate]="false"
        
        [tableTools]="true"
        [searchBar]="true"
        [Btntools]="true"
        [addBtn]="true"
        addbtnName="Add New"
        [hideBtn]="true"
        [addBtnclass]="size"
        [editBtn]="true"
        dropdowdnClass="dropdown-menu-lg"
        [tableAction]="true"
        [actionBtn]="true"
        [showMinus]="showMinus"
        
        [tableHeader]="['ID', 'Name']"
        [tableRows]="['id','name']"
        OverlayBtnText="Hide"
        OverlayIcon="bi-eye"
        [tableData]="categories"
        [showMultipleSelection]="true"
        (rowDataSelected)="onRowDataSelected($event)"
        (rowDataForDelete)="onRowDataForDelete($event)"
        #triggerFunction
    ></app-table>

    <app-toaster #toaster [positionClasses]="'bottom-0 end-0 me-3 mb-2'"></app-toaster>

    <!--MAIN-->
    <app-modal
        modalId="add"
        modalTitle="Add Category"
        modalClass="modal-lg"
        [modalHideIcon]="true"
        [modalHideCloseBtn]="true"
        modalIcon="add"
        (SuccessToast)="SuccessToast($event)"
        (WarningToasts)="WarningToast($event)"
        (ErrorToasts)="ErrorToast($event)"

        [modalAddCategory]="true"
        [selectedRowData]="selectedRowData"
        (RefreshTable)="refreshTableData()"
    ></app-modal> 
    
    <app-modal
        modalId="edit"
        modalTitle="Edit Category"
        modalClass="modal-md"
        [modalHideIcon]="true"
        modalIcon="edit"
        (SuccessToast)="SuccessToast($event)"
        (WarningToasts)="WarningToast($event)"
        (ErrorToasts)="ErrorToast($event)"

        [modalEditCategory]="true"
        [selectedRowData]="selectedRowData"
        (RefreshTable)="refreshTableData()"
    ></app-modal> 
    
    <app-modal
        modalId="delete"
        modalTitle="Delete Category"
        modalClass="modal-md"
        [modalHideIcon]="true"
        modalIcon="delete"
        (SuccessToast)="SuccessToast($event)"
        (WarningToasts)="WarningToast($event)"
        (ErrorToasts)="ErrorToast($event)"

        [modalDeleteCategory]="true"
        [selectedRowData]="selectedRowData"
        (RefreshTable)="refreshTableData()"
        (hideMinus)="showMinusFunction()"
    ></app-modal> 


    <app-modal
        modalId="openOverlay"
        modalTitle="Delete Category"
        modalClass="modal-md"
        [modalHideIcon]="true"
        modalIcon="delete"
        (SuccessToast)="SuccessToast($event)"
        (WarningToasts)="WarningToast($event)"
        (ErrorToasts)="ErrorToast($event)"

        [modalMultipleDeleteCategory]="true"
        [selectedRowData]="selectedRowData"
        [selectedRowDataForDelete]="selectedRowDataForDelete"
        (RefreshTable)="refreshTableData()"
    ></app-modal> 

    



</div>

