

<div class="container-md border border-primary border-2 m-auto h-auto p-2" >
    
    <div class="row p-3">
        <div class="col-xl-4 ">
            <div class="container bg-white rounded-5 p-3 d-flex align-items-center justify-content-between">
                
                <div class="legend">
                    <h1>This Month's Orders</h1>
                </div>
            </div>
        </div> 
        <div class="col-lg-8 ">
            <div class="container bg-white rounded-5 p-3 d-flex align-items-center justify-content-between">
                
            </div>
        </div>
    </div>
    <app-table
        tableTitle="TOTAL SALES"
        subTitle="PER PRODUCT"
        
        [tableTools]="true"
        [searchBar]="true"

        [tableHeader]="['ITEM ID','ITEM NAME','STOCKS', 'PRICE', 'SOLD']"
        
    ></app-table>
</div>


