.select-data-container{
    max-width: 220px;
}

.content-form {
    background-color: #1E2029;
}

.color{
    width: 1rem;
    height: 1rem;
}


.bg-inner{
    background-color: #094175;
}

.bg-outer{
    background-color: #1C92FF;
}

.select-container {
    max-width: 270px;
    width: 100%;
}

@media screen and (max-width: 360px) {
    .donut-legend-list{
        justify-content: center !important;
    }
}