<div class="container-fluid h-100 w-100 px-3 mb-0">
    <div class="chat-container mb-0">
            <div class="row w-100 m-auto">
                <div class="col-3 p-2 border">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="search">
                            <i class="bi bi-search"></i>
                        </span>
                        <input type="search" class="form-control" placeholder="Search Customer" aria-label="search" aria-describedby="search">
                    </div>
                    <ul class="list-unstyled px-2">
                        <li class="text-decoration-none d-flex align-items-center py-2">
                            <img class="img-container rounded-circle bg-white me-2" src="" alt="">
                            <div class="content">
                                <h4 class="text-white mb-0">Name Here</h4>
                                <p class="text-white mb-0">content here</p>
                            </div>
                        </li>
                        <li class="text-decoration-none d-flex align-items-center py-2">
                            <img class="img-container rounded-circle bg-white me-2" src="" alt="">
                            <div class="content">
                                <h4 class="text-white mb-0">Name Here</h4>
                                <p class="text-white mb-0">content here</p>
                            </div>
                        </li>
                        <li class="text-decoration-none d-flex align-items-center py-2">
                            <img class="img-container rounded-circle bg-white me-2" src="" alt="">
                            <div class="content">
                                <h4 class="text-white mb-0">Name Here</h4>
                                <p class="text-white mb-0">content here</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-9 p-2 border">
                    <div class="chat-body position-relative h-100 ">
                        <div class="chat-header">
                            <div class="d-flex border justify-content-between align-items-center">
                                <div class="chat-title d-flex">
                                    <button class="btn btn-primary bg-none border-0">
                                        <i class="bi bi-arrow-left text-white"></i>
                                    </button>
                                    <h1 class="text-white ">Name Here</h1>
                                </div>
                                <i class="bi bi-info-circle text-white fs-3"></i>
                            </div>
                        </div>
                        <div class="chat-history overflow-hidden position-relative d-flex flex-column-reverse border py-2 {{size}}">
                            <ul class="chat-body-container d-flex flex-column position-absolute bottom-0 w-100  list-unstyled overflow-y-auto">
                                <li  class="text-decoration-none p-3 text-start">
                                    <p class="text-white mb-0">awdwad</p>
                                    <div class="message-data">
                                        <span class="text-white">10:10 AM, Today</span>
                                    </div>
                                </li>
                                <li  class="text-decoration-none p-3 text-end">
                                    <p class="text-white mb-0">awdwad</p>
                                    <div class="message-data">
                                        <span class="text-white">10:10 AM, Today</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class=" py-3 w-100">
                            <div class="input-group">
                                <span class="input-group-text" id="search">
                                    <i class="bi bi-send"></i>
                                </span>
                                <input type="search" class="form-control" placeholder="Search Customer" aria-label="search" aria-describedby="search">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</div>
