<div class="position-fixed vh-100 pe-none z-3 toast-container-parent">
    <app-toast [toastTheme]="this.toastTheme" [toastTitle]="this.toastHeader" [toastContent]="this.toastContent"></app-toast>
</div>
<div class="container-md mt-5">

    <app-profile-banner></app-profile-banner>

    <div class="mt-3 row p-4 bg-light-gray animated-transition" [hidden]="this.isEditMode">
        <div class="pb-2 border-bottom d-flex justify-content-between align-items-center">
            <p class="fs-2 fw-bold m-0">My Profile</p>
            <button (click)="this.isEditMode = !this.isEditMode" class="button-primary rounded-0">Edit Profile <i class="bi bi-pencil-fill ms-3"></i></button>
        </div>
        <div class="row mt-3">
            <div class="col fs-4" *ngIf="this.user | async; let user">
                <p><span class="text-muted pe-3">Name:</span>{{ this.user.fname + " " + (this.user.mname ? this.user.mname : "") + " " + this.user.lname + " " + (this.user.suffix ? this.user.suffix : "") }}</p>
                <p><span class="text-muted pe-3">Email:</span>{{ this.user.email }}</p>
                <p><span class="text-muted pe-3">Phone Number:</span>0123456789</p>
            </div>
            <div class="col border-start fs-4 ps-4" *ngIf="!(this.filteredAddress | async)">
                <p class="text-muted">Setup your address through the 'Edit Profile' button to start ordering.</p>
            </div>
            <div class="col border-start fs-4 ps-4" *ngIf="this.filteredAddress | async as address">
                <p class="text-muted">Address:</p>
                <p class="m-0">{{address.address_line_1}}, {{address.city}}, {{address.province}} {{address.zip_code}}</p>
            </div>
        </div>
    </div>

    <div class="mt-3 row p-4 bg-light-gray animated-transition" [hidden]="!this.isEditMode">
        <div class="pb-2 border-bottom">
            <p class="fs-2 fw-bold">Edit Profile</p>
        </div>
        <div class="mt-3">
            <form [formGroup]="editProfileForm">
                <div class="row mb-3">
                    <div class="col">
                        <label for="edit-fullname" class="form-label">Full Name</label>
                        <input type="text" class="form-control form-control-lg rounded-0" id="edit-fullname" />
                    </div>
                    <div class="col">
                        <label for="edit-username" class="form-label">Username</label>
                        <input type="text" class="form-control form-control-lg rounded-0" id="edit-username" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="edit-phonenumber" class="form-label">Phone Number</label>
                    <div class="input-group">
                        <span class="input-group-text rounded-0">PH (+63)</span>
                        <input type="number" pattern="[0-9]*" class="form-control form-control-lg rounded-0" id="edit-phonenumber" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="edit-email" class="form-label">Email Address</label>
                    <div class="input-group">
                        <span class="input-group-text rounded-0 bg-gradient-primary"><i class="bi bi-envelope-fill color-white"></i></span>
                        <input type="email" class="form-control form-control-lg rounded-0" id="edit-email" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <label for="edit-stateprovince" class="form-label">State / Province</label>
                        <input type="text" class="form-control form-control-lg rounded-0" id="edit-stateprovince" formControlName="editProvince"/>
                        <div *ngIf="editProvince?.invalid && (editProvince?.dirty || editProvince?.touched)"> 
                            <div *ngIf="editProvince?.errors?.['required']">
                                <span class="text-danger">This field is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="edit-city" class="form-label">City / Municipality</label>
                        <input type="text" class="form-control form-control-lg rounded-0" id="edit-city" formControlName="editCity"/>
                        <div *ngIf="editCity?.invalid && (editCity?.dirty || editCity?.touched)"> 
                            <div *ngIf="editCity?.errors?.['required']">
                                <span class="text-danger">This field is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="edit-zipcode" class="form-label">ZIP / Postal Code</label>
                        <input type="number" class="form-control form-control-lg rounded-0" id="edit-zipcode" formControlName="editZipCode" />
                        <div *ngIf="editZipCode?.invalid && (editZipCode?.dirty || editZipCode?.touched)"> 
                            <div *ngIf="editZipCode?.errors?.['required']">
                                <span class="text-danger">This field is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <label for="edit-addressline" class="form-label">Address Line</label>
                    
                    <div class="input-group">
                        <span class="input-group-text rounded-0"><i class="bi bi-house-fill"></i></span>
                        <textarea type="text" class="form-control form-control-lg rounded-0" id="edit-addressline" formControlName="editAddressLine"></textarea>
                        <div *ngIf="editProvince?.invalid && (editProvince?.dirty || editProvince?.touched)"> 
                            <div *ngIf="editProvince?.errors?.['required']">
                                <span class="text-danger">This field is required.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="text-muted mt-2 mb-4">

                <div class="d-flex justify-content-end">
                    <button (click)="this.isEditMode = !this.isEditMode" class="button-secondary-outline rounded-0 mb-3">Cancel</button>
                    <button type="submit" (click)="submitAddress()" class="ms-3 button-primary rounded-0 mb-3">Save Changes</button> 
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-3 p-4 bg-light-gray">
        <div class="col d-flex flex-row justify-content-between align-items-center">
            <p class="m-0 fw-bold fs-3">Logout</p>
            <button class="button button-primary" (click)="logout()">Log Out</button>
        </div>
    </div>

</div>