<div class="container text-start">
    <form [formGroup]="addReason" (ngSubmit)="addReasonSubmit()">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label {{textcolor}}">Reason Name</label>
            <input type="text" class="form-control bg-none {{borderColor}} text-white-50 " formControlName="name" >
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label {{textcolor}}">Description</label>
            <textarea class="form-control bg-none {{borderColor}} text-white-50" rows="3" formControlName="description"></textarea>
        </div>
        <div class="modal-footer border-0 px-0 mt-4">
            <button type="button" class="btn btn-dark bg-none btn-muted cancel-btn rounded-3"  data-bs-dismiss="modal">Cancel</button>
            <button 
                type="submit" 
                class="btn btn-primary bg-light-primary glow-primary"
            >
                Confirm
            </button>
        </div>
    </form>
</div>