.active {
    color: var(--body-text);
}

.table-group {
    background-color: var(--light-gray);
}

.cart-item-img {
    max-height: 5rem;
    width: auto;
}

.item-row {
    padding: 1rem 0;
}

tbody app-cart-item {
    display: contents;
}

.item-row:hover {
    background: #DDDEE3;
}

.image-icon {
    font-size: 5rem;
}

.screenshot-card {
    border: 1px solid var(--muted-gray);
}

label {
    cursor: pointer;
}

label:has( ~ input){
    background-color: red;
}

input[type=file] {
    display: none;
}

.img-fluid-sm {
    height: 5rem;
    width: auto;
}