<div class="position-fixed vh-100 pe-none z-3 toast-container-parent">
    <app-toast [toastTheme]="this.toastTheme" [toastTitle]="this.toastHeader" [toastContent]="this.toastContent"></app-toast>
</div>
<div class="container-md" id="entryDiv">
    <div class="row d-flex d-md-none text-center my-5 mx-2 entry-selector">
        <div class="col py-3" [ngClass]="isSignIn ? 'active-shown' : 'inactive-hidden'" (click)="signInToggle()">Sign In</div>
        <div class="col py-3" [ngClass]="isSignIn ? 'inactive-hidden' : 'active-shown'" (click)="signUpToggle()">Sign Up</div>
    </div>
    <div class="row my-5 flex-column flex-md-row">
        <app-signinform  (loginSuccess)="loginSuccessToast()" (invalidCredentials)="invalidCredentialsToast()" class="col-md mx-0 mx-md-5 my-2 my-md-0 px-5 px-md-0 entry-form" [hidden]="!isSignIn"></app-signinform>
        
        <app-signupform (registerSuccess)="registerSuccessToast()" class="col-md mx-0 mx-md-5 my-2 my-md-0 px-5 px-md-0 entry-form" [hidden]="isSignIn"></app-signupform>
    </div>
    
</div>