
<div class="container-fluid d-flex flex-row justify-content-center align-items-start" id="navbarCategoryDetails">
    <img class="img-fluid d-none d-md-block" src="https://picsum.photos/240/300">
    <div id="navDropdownLinks" class="d-flex flex-row">
        <div>
            <strong><p>NEW IN {{category.name.toUpperCase()}}</p></strong>
            <!-- 
            <ul class="linklist">
                <li *ngFor="let product of products">{{product.name}}</li>
            </ul>
            -->
            <div>
                <ul class="list-unstyled categoryDetails-productlist">
                    <li *ngFor="let item of filteredSubcategories | async"><a class="text-reset text-decoration-none" title="View {{item.name}}" [routerLink]="['/subcategory', item.id, {'subcategoryId' : item.id}]"><p class="productlist-item">{{item.name}}</p></a></li>
                </ul>
                <a href="#" [routerLink]="category.name">More Items...</a>
            </div>
        </div>
    </div>
    <img class="img-fluid d-none d-md-block" src="https://picsum.photos/240/300">
</div>