    <!--BAN ACCOUNT FORM-->
    <form *ngIf="formBanAccount" [formGroup]="banAccountForm"  (ngSubmit)="onAccountBanSubmit()">
        <div  class="modal-body text-center pt-0 pb-0">
            <div class="modal-body text-center pt-0 pb-0">
                <input 
                    type="hidden" 
                    [value]="selectedRowData?.user_id"
                    formControlName="user_id"
                >
                <p class="fs-5 fw-bold mb-1">Are you sure you want to ban this user?</p>
                <h1 class="text-primary fs-4 fw-bolder">{{selectedRowData?.fname}}</h1>
                <div class="mb-3 text-start">
                    <label for="reason" class="form-label ">Reason:</label>
                    <textarea 
                        class="form-control" 
                        id="reason" 
                        rows="3"
                        formControlName="account_reason"
                    ></textarea>
                </div>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="btn btn-muted" data-bs-dismiss="modal">CANCEL</button>
                <button 
                    type="submit" 
                    class="btn btn-primary bg-light-primary text-white"
                    [ngClass]="{'disabled': !banAccountForm.get('account_reason')?.value}"
                    >
                    CONFIRM</button>
            </div>
        </div>
    </form>
    
    
    <!--UNBAN ACCOUNT FORM-->
    <form *ngIf="formUnBanAccount" [formGroup]="unbanAccountForm"  (ngSubmit)="onAccountUnBanSubmit()">
        <div  class="modal-body text-center pt-0 pb-0">
            <div class="modal-body text-center pt-0 pb-0">
                <input type="hidden" [value]="selectedRowData?.user_id">
                <p class="fs-5 fw-bold mb-1">Are you sure you want to unban this user?</p>
                <h1 class="text-primary fs-4 fw-bolder">{{selectedRowData?.fname}}</h1>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="btn btn-muted" data-bs-dismiss="modal">CANCEL</button>
                <button type="submit" class="btn btn-primary bg-light-primary text-white">CONFIRM</button>
            </div>
        </div>
    </form>
    
