<div class="container-fluid position-relative m-auto h-auto px-0 px-sm-3" >

    <app-table
        tableTitle="Return Orders"
        subTitle="Status & Track Order List"
        [tableHead]="true"
        tableContainerClass="p-4 table-container"
        tableChildContainer="table-child-container"
        searchBarclass="me-0"
        [paginate]="false"
        (DateValue)="getDate($event)"
        (FilterValue)="getStatus($event)"

        [tableAction]="true"
        [orderBtn]="true"
        [viewBtn]="true"
        [SelectOrderDate]="true"
        [chatBtn]="true"
        [tableHeaderActions]="true"
        [returnStatus]="returnStatus"
        [transitStatus]="transitStatus"
        [recievedStatus]="receivedStatus"
        [setFirstUpper]="true"
        [tableHeader]="['Order ID', 'Placed On', 'Order Status']"
        [tableRows]="['id', 'created_at', 'status_name' ]"
        [tableData]="orders"

        (showEvent)="showPage($event)"
        (rowDataSelected)="onRowDataSelected($event)"
    ></app-table>

    <app-toaster #toaster [positionClasses]="'bottom-0 end-0 me-3 mb-2'"></app-toaster>
    
</div>



<app-modal
    modalId="confirm"
    modalTitle="Confirm Order"
    modalTitleClass="mb-0"
    modalSubTitleClass="mt-0 fw-bold"
    modalClass="modal-md"
    [modalHideIcon]="true"
    modalIcon="confirm"
    [modalHideCloseBtn]="true"
    [modalConfirmReturn]="true"
    (RefreshTable)="refreshTableData()"
    (SuccessToast)="SuccessToast($event)"
    (WarningToasts)="WarningToast($event)"
    (ErrorToasts)="ErrorToast($event)"
    [selectedRowData]="selectedRowData"

></app-modal>




<!-- 



<app-modal
    modalId="received"
    modalTitle="Confirm Shipping"
    modalTitleClass="mb-0"
    modalSubTitleClass="mt-0 fw-bold"
    modalClass=" modal-md "
    [modalHideIcon]="true"
    modalIcon="ship"
    [modalHideCloseBtn]="true"

    [modalShip]="true"
    (RefreshTable)="refreshTableData()"
    (SuccessToast)="SuccessToast($event)"
    (WarningToasts)="WarningToast($event)"
    (ErrorToasts)="ErrorToast($event)"
    [selectedRowData]="selectedRowData"

></app-modal>


<app-modal
    modalId="view"
    modalTitle="Customer Information"
    modalTitleClass="mb-3"
    modalSubTitle="{{selectedRowData?.user_id}}"
    modalSubTitleClass="mt-3 fs-5 fw-bold"
    modalClass="modal-md "
    [modalHideIcon]="true"
    modalIcon="view"
    [allowAnotherSub]="true"
    [modalViewOrders]="true"
    (RefreshTable)="refreshTableData()"
    [selectedRowData]="selectedRowData"
    [modalData]="orders"
    [modalSubData]="ordersContents$"

></app-modal> -->


<!-- <div class="modal fade" id="review"  tabindex="-1">
    <div class="modal-dialog  modal-dialog-centered  modal-dialog-scrollable modal-xl" >
        <div class="modal-content content-form rounded-4">
            <div class="modal-header p-4 mb-0 d-flex justify-content-between align-items-start border-0">
                <div class="modal-title text-start">
                    <h1 class="modal-title fs-4 fw-bolder {{titleColor}}" >Proof of Return</h1>
                    <div class="modal-sub-title fs-6 fw-bold {{titleColor}}">Status Update - In Transit</div>
                </div>
                <button #closeBtn type="button" class="btn-close btn-close-white visually-hidden" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-4 pb-4">

            </div>
        </div> 
    </div>
</div> -->

<!-- <div class="modal fade" id="recieved"  tabindex="-1">
    <div class="modal-dialog  modal-dialog-centered  modal-dialog-scrollable modal-md" >
        <div class="modal-content content-form rounded-4">
            <div class="modal-header p-4 mb-0 d-flex justify-content-between align-items-start border-0">
                <div class="modal-title text-start">
                    <h1 class="modal-title fs-4 fw-bolder {{titleColor}}" >Order Return</h1>
                </div>
                <button #closeBtn type="button" class="btn-close btn-close-white visually-hidden" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <div class="images-container p-0 w-100 position relative mb-4" >
                                                        
                    <div *ngFor="let file of getFileKeysMyStyles(); let ind = index">
                       
                        <div class="tooltip-container h-auto position-absolute z-3" *ngIf="imageResolutionStatesTooltip[file.name]" >
                            <div class="tooltips text-center rounded-2 mb-0 px-2">
                                <p class="tooltiptext lh-lg {{titleColor}}">{{imageMessage}}</p>
                            </div>
                            
                        </div>
                        <div
                            (mouseenter)="showToolTip(file, ind)"
                            (mouseleave)="unshowToolTip(file)"
                            [ngClass]="{ 'image-resolution-shadow': imageResolutionStates[file.name] }"
                            class="img-container p-0 image-container bg-dark-grey btn w-100 d-flex justify-content-end align-items-start rounded-0"
                        >
                            <button type="button" class="z-2 img-remove-btn position-absolute mt-1 me-1 btn bg-dark rounded-circle d-flex justify-content-center align-items-center" (click)="removeImageMystyleimages(ind)">
                                <i class="bi bi-x text-white"></i>
                            </button>
                            <img [src]="mystyleImagesMap.get(file)" alt="Lappee" class="w-100 h-100 border">
                        </div>
                    </div>
                    

                </div>
                <button type="button" (click)="selectFileForAddingMyStyleImg()" class="w-100 border-dashed image-btn-container btn border-dark-subtle d-flex justify-content-center align-items-center rounded-0">
                    
                    <input class="d-none" type="file" id="addimagesmystyles" (change)="handleFileInputMyStyles($event)" multiple>
                    <div class="container p-3">
                        <ng-container *ngIf="getFileKeysMyStyles().length === 0">
                            <h4 class="fw-bolder text-white lh-sm mb-0">Upload Image</h4>
                        </ng-container>
                        <ng-container *ngIf="getFileKeysMyStyles().length >= 1 ">
                            <h4 class="fw-bolder text-white lh-sm mb-0">1 / 1</h4>
                            <p class="fs-5 lh-sm mb-0 {{titleColor}}">MAX</p>
                        </ng-container>                                                            
                    </div>
                </button>
            </div>
            <div class="modal-end w-100 border-0 p-4">
                <div class="modal-footer border-0 p-0 ">
                    <button type="button" class="btn btn-dark bg-none btn-muted cancel-btn rounded-3"  data-bs-dismiss="modal">Cancel</button>
                    <button 
                      type="submit" 
                      class="btn btn-primary px-3 bg-light-primary rounded-3 glow-primary" 
                      (click)="onImgSubmit()"
                    >
                        Confirm
                    </button>
                </div>
            </div>
        </div> 
    </div>
</div> -->


<app-modal
    modalId="review"
    modalTitle="Proof of Return"
    modalSubTitle="Status Update - In Transit"
    modalTitleClass="mb-0"
    modalSubTitleClass="mt-0 fw-bold"
    modalClass="modal-xl"
    [modalHideIcon]="true"
    [modalHideCloseBtn]="false"
    [modalTransit]="true"
    (RefreshTable)="refreshTableData()"
    (SuccessToast)="SuccessToast($event)"
    (WarningToasts)="WarningToast($event)"
    (ErrorToasts)="ErrorToast($event)"
    [selectedRowData]="selectedRowData"
    [orderData]="orders"
    [modalSubData]="ordersContents$"
    [modalDataImg]="ordersDetails$"
></app-modal>

<app-modal
    modalId="view"
    modalTitle="Return Order Details"
    modalSubTitle="View Orders"
    modalSubTitleClass="mt-3 fs-5 fw-bold"
    modalClass="modal-lg "
    [modalHideCloseBtn]="false"
    [modalViewOrder]="true"
    (RefreshTable)="refreshTableData()"
    (SuccessToast)="SuccessToast($event)"
    (WarningToasts)="WarningToast($event)"
    (ErrorToasts)="ErrorToast($event)"
    [selectedRowData]="selectedRowData"
    [orderData]="orders"
    [modalSubData]="ordersContents$"
    [modalDataImg]="ordersDetails$"

></app-modal>







