@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');
@import '~@angular/cdk/overlay-prebuilt.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
    --primary: #1C92FF;
    --primary-dark: #1C76CA;
    --body-text: #3C3C3C;
    --muted-gray: #C1C1C1;
    --light-gray: #EFF0F5;
    --adm-dark-gray: #787878;
    --adm-light-gray: #BBBBBB;
}

* {
    font-family: Mulish, sans-serif;
}

.table-border-linear-dark {

}

.text-light-subtle{
    color: #d2d2d2;
}

.cancel-btn{
    background: #BBB;
}
.admin-bg-dark{
    background: #2E303D;
}

.sidebar-bg-dark{
    background: #1E2029;
}

.table-bg-dark{
    background: #1E2029;
}

.dark-subtle-borders{
    border: #959BA5;;
}

.box-shadow{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.productBtnOpener{
    width: .5rem;
    height: 1.5rem;
    background-color: var(--primary);
}

.glow-primary {
    box-shadow: 0px 0px 20px 0px rgba(28,146,255,0.75);
}

.dark-subtle-btn{
    background: #16181F;
}

.dark-theme-border{
    border: 1px solid #3F4154;
}
.dark-theme-color{
    color: #3F4154;
}
.dark-theme-text-color{
    color: #FFFFFFB2;
}

.dark-theme-border-color{
    border: #FFFFFFB2;
}

.dark-theme-heading-text-color{
    color: #1C92FF;
}

.dark-form-bg{
    background: #1E2029;
}

.dark-form-subtitle{
    color: #FFFFFF30;
}

.dark-border-table{
    border: 3px solid #3F4154;
}

.dark-border-checkbox{
    border: 1.5px solid rgba(255, 255, 255, 0.20);
}

.cursor-pointer{
    cursor: pointer;
}

.bg-light-gray {
    background-color: var(--light-gray);
}

.bg-dark-grey{
    background-color: #7E7E7E;
}
.bg-dark-lite{
    background-color: #D9D9D9;
}

.color-primary {
    color: var(--primary);
}

.rating-yellow {
    color: #FFC107;
}

.color-white {
    color: #FFFFFF;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-banned{
    background-color: #FB5757;
}

.bg-none {
    background-color: transparent;
}

.muted-text {
    color: var(--muted-gray);
}

.linear-gradient-border {
    border-radius: 20px; 
    border: 5px solid transparent; 
    background: linear-gradient(100deg,#2E303D,#1E2029) border-box; /*3*/
}

.bg-gradient-primary {
    background: linear-gradient(180deg, var(--primary) 0%, var(--primary-dark) 100%);
}

.text-dark-subtle-grey
{
    color: #C1C1C1;
}

.text-dark-subtle-noactive
{
    color: rgba(255, 255, 255, 0.19);
}

.btn-muted{
    border: 1px solid #BABABA;
    color: #BABABA;
}

.btn-admin-outline-primary {
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 10px;
    background-color: transparent;
    transition: all .4s ease-in-out
}

.btn-admin-outline-primary:hover {
    color: var(--light-gray);
    background-color: var(--primary);
}

.btn-admin-outline {
    border: 1px solid var(--adm-dark-gray);
    color: var(--adm-dark-gray);
    border-radius: 10px;
    background-color: transparent;
    transition: all .4s ease-in-out
}

.btn-admin-outline:hover {
    background-color: var(--adm-dark-gray);
    color: #FFFFFF;
}

.container-shadow{
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}

.container-shadow-subtle{
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.dark-subtle-bg{
    background: #3C3C3C;
}

.bg-light-primary{
    background: #1C92FF;
}

.gradientButton {
    max-height: auto;
    padding: 1rem;
    border-radius: 5px;
    border: hidden;
    background: var(--primary);
    background: linear-gradient(180deg, var(--primary) 0%, var(--primary-dark) 100%);
    color: #FFFFFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background .4s;
}

.text-light-muted{
    color: #C1C1C1;
}
.button-primary {
    padding: 1rem;
    border-radius: 5px;
    border: hidden;
    background: var(--primary);
    border: 1px solid var(--primary);
    color: #FFFFFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
}

.button-primary:hover {
    background: var(--primary-dark);
}

.button-primary:disabled {
    background: var(--muted-gray);
    border: none;
}

.button-secondary-outline {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--body-text);
    background: none;
    color: var(--body-text);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
}

.button-secondary-outline:hover {
    background: var(--body-text);
    color: #FFFFFF;
}


.dropdown {
    position: static;
}

a:hover {
    text-decoration: underline;
}

.forgot-pass {
    text-decoration: none;
}

.forgot-pass:hover {
    text-decoration: underline;
}

.toggle-passtext {
    border-color: var(--muted-gray);
}

.toggle-passtext i {
    color: var(--primary);
    transition: color .4s;
}

.toggle-passtext:hover i {
    color: #FFFFFF;
}

.toggle-passtext:focus i {
    color: #FFFFFF;
}

.check-outline {
    border-color: var(--muted-gray);
}

input[type=text], input[type=password], input[type=email], textarea {
    border-color: var(--muted-gray) !important;
    transition: border-color .4s;
}

 /* input:focus + button {
    
    outline: var(--bs-focus-ring-color) solid var(--bs-focus-ring-width);
} */

.animated-transition {
    transition: display .4s;
}

.container-md {
    overflow-x: hidden;
}

.toast-container-parent {
    width: 100%;
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.link-span {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    z-index: 1;
}

.whitespace-prewrap {
    white-space: pre-wrap;
}

.blue-accent {
    width: .75rem;
    background-color: var(--primary);
}

/* Skeleton Loader Generics*/

.skeleton-text {
    height: 2rem;
}

.skeleton-text-short {
    width: 5rem;
}

.skeleton-text-medium {
    width: 10rem;
}

.skeleton-text-long {
    width: 15rem;
}

.skeleton-text-xlong {
    width: 25rem;
}

.skeleton-image-square-medium {
    width: 7rem;
    height: 7rem;
}

.skeleton-button {
    height: 4rem;
}

.animate-pulse {
    animation: pulse 3s infinite;
}

.animate-grow {
    animation: grow 3s infinite;
}

@keyframes pulse {
    0%, 100% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(.5);
    }
}

@keyframes grow {
    0%, 100% {
        scale: 1;
    }

    50% {
        scale: 1.03;
    }
}

@media screen and (min-width: 768px){
    /* lock entry form toggling at 768px and UP*/
    .entry-form {
        display: block !important;
    }
}