@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');
@import '~@angular/cdk/overlay-prebuilt.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
    --primary: #1C92FF;
    --primary-dark: #1C76CA;
    --body-text: #3C3C3C;
    --muted-gray: #C1C1C1;
    --light-gray: #EFF0F5;
}

body {
    font-family: Mulish, sans-serif;
}

.bg-light-gray {
    background-color: var(--light-gray);
}

.color-primary {
    color: var(--primary);
}

.color-white {
    color: #FFFFFF;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-banned{
    background-color: #FB5757;
}

.bg-none {
    background-color: transparent;
}

.muted-text {
    color: var(--muted-gray);
}

.bg-gradient-primary {
    background: linear-gradient(180deg, var(--primary) 0%, var(--primary-dark) 100%);
}

.btn-muted{
    border: 1px solid #BABABA;
    color: #BABABA;
}

.bg-light-primary{
    background: #1C92FF;
}

.gradientButton {
    max-height: auto;
    padding: 1rem;
    border-radius: 5px;
    border: hidden;
    background: var(--primary);
    background: linear-gradient(180deg, var(--primary) 0%, var(--primary-dark) 100%);
    color: #FFFFFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background .4s;
}

.button-primary {
    padding: 1rem;
    border-radius: 5px;
    border: hidden;
    background: var(--primary);
    color: #FFFFFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
}

.button-primary:hover {
    background: var(--primary-dark);
}

.button-primary:disabled {
    background: var(--muted-gray)
}

.button-secondary-outline {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--body-text);
    background: none;
    color: var(--body-text);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
}

.button-secondary-outline:hover {
    background: var(--body-text);
    color: #FFFFFF;
}


.dropdown {
    position: static;
}

a:hover {
    text-decoration: underline;
}

.forgot-pass {
    text-decoration: none;
}

.forgot-pass:hover {
    text-decoration: underline;
}

.toggle-passtext {
    border-color: var(--muted-gray);
}

.toggle-passtext i {
    color: var(--primary);
    transition: color .4s;
}

.toggle-passtext:hover i {
    color: #FFFFFF;
}

.toggle-passtext:focus i {
    color: #FFFFFF;
}

.check-outline {
    border-color: var(--muted-gray);
}

input[type=text], input[type=password], input[type=email], textarea {
    border-color: var(--muted-gray) !important;
    transition: border-color .4s;
}

 /* input:focus + button {
    
    outline: var(--bs-focus-ring-color) solid var(--bs-focus-ring-width);
} */

.animated-transition {
    transition: display .4s;
}

.container-md {
    overflow-x: hidden;
}

.toast-container-parent {
    width: 100%;
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.link-span {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    z-index: 1;
}

@media screen and (min-width: 768px){
    /* lock entry form toggling at 768px and UP*/
    .entry-form {
        display: block !important;
    }
}