<!-- <div class="modal fade" id={{modalID}}  tabindex="-1" data-backdrop="true">
    


</div> -->
<div class="parent-form-container">
    <div class="position-relative w-100">
        <app-toast [toastTheme]="this.toastTheme" [toastTitle]="this.toastHeader" [toastContent]="this.toastContent"></app-toast>
    </div>
    
    <div class="container p-0 ">
                
            <!--categories-->
                <app-category-form 
                    *ngIf="AddCategory"
                    formTitle="ADD CATEGORY"
                    formsubTitle="CATEGORY CONTROL"
                    [formAddCategory]="true"
                    (CategorySuccess)="postSuccessToast($event)"
                    (CategoryWarn)="WarningToast($event)"
                    (CategoryError)="ErrorToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                ></app-category-form>
            
                <app-category-form 
                    *ngIf="EditCategory"
                    formTitle="EDIT CATEGORY"
                    formsubTitle="CATEGORY CONTROL"
                    [formEditCategory]="true"
                    [selectedRowData]="selectedRowData"
                    (CategorySuccess)="patchSuccessToast($event)"
                    (CategoryWarn)="WarningToast($event)"
                    (CategoryError)="ErrorToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                ></app-category-form>
            
            <!--sub category -->
                <app-category-form 
                    *ngIf="AddSubCategory"
                    formTitle="ADD SUB CATEGORY"
                    formsubTitle="CATEGORY CONTROL"
                    [formAddSubCategory]="true"
                    (CategorySuccess)="postSuccessToast($event)"
                    (CategoryWarn)="WarningToast($event)"
                    (CategoryError)="ErrorToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                ></app-category-form>
                
                <app-category-form 
                    *ngIf="EditSubCategory"
                    formTitle="EDIT SUB CATEGORY"
                    formsubTitle="CATEGORY CONTROL"
                    [formEditSubCategory]="true"
                    [selectedRowData]="selectedRowData"
                    (CategorySuccess)="patchSuccessToast($event)"
                    (CategoryWarn)="WarningToast($event)"
                    (CategoryError)="ErrorToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                ></app-category-form>
            

            
            <!--products-->
            
                <app-product-form
                    *ngIf="AddProduct"
                    [formAddProduct]="true"
                    (ProductSuccess)="postSuccessToast($event)"
                    (ProductError)="ErrorToast($event)"
                    (ProductWarning)="WarningToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                >
                </app-product-form>
            
                <app-product-form
                    *ngIf="EditProduct"
                    [formEditProduct]="true"
                    [selectedRowData]="selectedRowData"
                    (ProductSuccess)="patchSuccessToast($event)"
                    (ProductError)="ErrorToast($event)"
                    (ProductWarning)="WarningToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                >
                </app-product-form>

                <app-product-form
                    *ngIf="AddVariant"
                    [formAddVariant]="true"
                    (ProductSuccess)="postSuccessToast($event)"
                    (ProductError)="ErrorToast($event)"
                    (ProductWarning)="WarningToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                >
                </app-product-form>
                
                <app-product-form
                    *ngIf="AdditionalVariant"
                    [formAdditionalVariant]="true"
                    (ProductSuccess)="postSuccessToast($event)"
                    (ProductError)="ErrorToast($event)"
                    (ProductWarning)="WarningToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                >
                </app-product-form>
            
                <app-product-form
                    *ngIf="EditVariant"
                    [formEditVariant]="true"
                    [selectedRowData]="selectedRowData"
                    (ProductSuccess)="patchSuccessToast($event)"
                    (ProductError)="ErrorToast($event)"
                    (ProductWarning)="WarningToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                >
                </app-product-form>
                
                <app-product-form
                    *ngIf="EditDatabaseVariant"
                    [formEditDatabaseVariant]="true"
                    [selectedRowData]="selectedRowData"
                    (ProductSuccess)="patchSuccessToast($event)"
                    (ProductError)="ErrorToast($event)"
                    (ProductWarning)="WarningToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                >
                </app-product-form>
                
                <app-product-form
                    *ngIf="EditAdditionalVariant"
                    [formEditAdditionalVariant]="true"
                    [selectedRowData]="selectedRowData"
                    (ProductSuccess)="patchSuccessToast($event)"
                    (ProductError)="ErrorToast($event)"
                    (ProductWarning)="WarningToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                >
                </app-product-form>
    </div>
    
</div>

<app-modal
    modalId="attributes"
    modalTitle="Add Attribute"
    [modalHideCloseBtn]="false"
    [modalHideIcon]="true"
    modalIcon="add"
    modalClass="modal-md"
    
    [modalSelectAttribute]="true"
    [selectedRowData]="selectedRowData"
></app-modal>







