<!-- <div class="modal fade" id={{modalID}}  tabindex="-1" data-backdrop="true">
    


</div> -->
<div class="component-container overflow-y-auto">
    <div class="parent-form-container position-relative ">


        <div class=" px-3 px-sm-4 form-container overflow-y-scroll">
            <div class="">

            <!--products-->
            
                <app-product-form
                    *ngIf="AddProduct"
                    [formAddProduct]="true"
                    (ProductSuccess)="SuccessToast($event)"
                    (ProductError)="ErrorToast($event)"
                    (ProductWarning)="WarningToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                >
                </app-product-form>
            
                <app-product-form
                    *ngIf="EditProduct"
                    [formEditProduct]="true"
                    [selectedRowData]="selectedRowData"
                    (ProductSuccess)="SuccessToast($event)"
                    (ProductError)="ErrorToast($event)"
                    (ProductWarning)="WarningToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                >
                </app-product-form>

                <app-product-form
                    *ngIf="EditVariant"
                    [formEditVariant]="true"
                    [selectedRowData]="selectedRowData"
                    (ProductSuccess)="SuccessToast($event)"
                    (ProductError)="ErrorToast($event)"
                    (ProductWarning)="WarningToast($event)"
                    (RefreshTable)="triggerRefreshTable()"
                >
                </app-product-form>

                <div *ngIf="ProductHide" class="container h-100 d-flex justify-content-center align-items-center">
                    <h1 class="text-white-50">Product is currenty Hide</h1>
                </div>
            </div>
        </div>

    
        <app-toaster #toaster [positionClasses]="'bottom-0 end-0 me-3 mb-2'"></app-toaster>
    
</div>
</div>


<app-modal
    modalId="attributes"
    modalTitle="Add Attribute"
    [modalHideCloseBtn]="false"
    [modalHideIcon]="true"
    modalIcon="add"
    modalClass="modal-md"
    
    [modalSelectAttribute]="true"
    [selectedRowData]="selectedRowData"
></app-modal>

<app-modal
    modalId="add"
    modalTitle="Add Category"
    modalClass="modal-lg"
    [modalHideIcon]="true"
    modalIcon="add"
    
    [modalAddCategory]="true"
></app-modal> 

<app-modal
    modalId="removeVariants"
    modalTitle="Delete Variant"
    modalClass="modal-md"
    [modalHideIcon]="true"
    modalIcon="delete"
    
    [modalDeleteVariant]="true"
></app-modal> 






