<div class="container-fluid m-auto h-auto" >
    <app-table
        tableTitle="Track Orders"
        subTitle="Status & Track Order List"
        [tableHead]="true"
        tableContainerClass="p-4 table-container"
        tableChildContainer="table-child-container"
        [paginate]="false"
        
        [tableTools]="true"
        [searchBar]="true"
        [tableAction]="true"
        [viewBtn]="true"
        [orderBtn]="true"
        [paymentStatus]="paymentStatus"
        [shipStatus]="shipStatus"
        [deliverStatus]="deliverStatus"
        [setFirstUpper]="true"
        [tableHeader]="['Order ID', 'Placed On', 'Order Status']"
        [tableRows]="['id', 'created_at', 'status' ]"
        [tableData]="orders"

        (rowDataSelected)="onRowDataSelected($event)"
    ></app-table>
</div>



<app-modal
    modalId="view"
    modalTitle="Customer Information"
    modalTitleClass="mb-3"
    modalSubTitle="{{selectedRowData?.user_id}}"
    modalSubTitleClass="mt-3 fs-5 fw-bold"
    modalClass="modal-dialog-scrollable modal-md "
    [allowAnotherSub]="true"
    [modalViewOrders]="true"
    (RefreshTable)="refreshTableData()"
    [selectedRowData]="selectedRowData"
    [modalData]="orders"
    [modalSubData]="ordersContents$"
></app-modal>

<app-modal
    modalId="confirm"
    modalTitle="CONFIRM PAYMENT"
    modalTitleClass="mb-0"
    modalSubTitle="STATUS UPDATE"
    modalSubTitleClass="mt-0 fw-bold"
    modalClass="modal-md "
    [modalHideCloseBtn]="true"
    [modalConfirm]="true"
    (RefreshTable)="refreshTableData()"

    [selectedRowData]="selectedRowData"

></app-modal>


<app-modal
    modalId="ship"
    modalTitle="CONFIRM PAYMENT"
    modalTitleClass="mb-0"
    modalSubTitle="STATUS UPDATE"
    modalSubTitleClass="mt-0 fw-bold"
    modalClass=" modal-md "
    [modalHideCloseBtn]="true"

    [modalShip]="true"
    (RefreshTable)="refreshTableData()"

    [selectedRowData]="selectedRowData"

></app-modal>


<app-modal
    modalId="deliver"
    modalTitle="CONFIRM PAYMENT"
    modalTitleClass="mb-0"
    modalSubTitle="STATUS UPDATE"
    modalSubTitleClass="mt-0 fw-bold"
    modalClass=" modal-md "
    [modalHideCloseBtn]="true"
    
    [modalDeliver]="true"
    (RefreshTable)="refreshTableData()"
    (deliver)="deliverPackage()"
    [selectedRowData]="selectedRowData"

></app-modal>








 