<div class="carousel slide" [id]="id" #carousel>
    <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let group of itemGroups; index as i" [ngClass]=" i == 0 ? 'active' : ''">
            <div class="row px-2">
                <div *ngFor="let item of group" class="col-6 col-lg-4 col-xl-3 mb-3">
                    <div *ngIf="item.product_id">
                        <a [routerLink]="['/products', item.product_id]" class="text-reset text-decoration-none">
                            <div class="card product-card h-100">
                                <div class="card-img-container d-flex align-items-center" [ngStyle]=" item.preview_image ? { 'background-image': 'url(' + item.preview_image + ')' } : { 'background-image': 'url(https://picsum.photos/700)'}">
                                    <!-- <span class="card-image-overlay px-2 py-1 mt-3">- 69%</span> -->
                                    <!-- <img [src]="product.images[0] ? product.images[0] : 'https://picsum.photos/700'"> -->
                                </div>
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div class="card-title fs-5">{{item.name}}</div>
                                    <div class="d-flex flex-column flex-md-row justify-content-between">
                                        <div class="d-inline-flex align-items-center">
                                            <div class="product-price fs-5 fw-bold">
                                                {{item.price | currency}}
                                            </div>
                                            <!-- <div class="muted-text text-decoration-line-through">
                                                {{product.price | currency}}
                                            </div> -->
                                        </div>
                                        <div class="d-flex justify-content-start justify-content-md-end text-muted align-items-center">
                                            32k sold
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="button-primary position-absolute top-50 start-0 translate-middle-y" type="button" (click)="prev()">
        <span><i class="bi bi-arrow-left"></i></span>
    </button>
    <button class="button-primary position-absolute top-50 end-0 translate-middle-y" type="button" (click)="next()">
        <span><i class="bi bi-arrow-right"></i></span>
    </button>
    
</div>