
<div class="container-fluid d-flex flex-row justify-content-center align-items-start" id="navbarCategoryDetails">
    <div class="border-end px-3">
        <img class="img-fluid d-none d-md-block navbar-category-image" [src]="category.images[0]">
    </div>
    <div id="navDropdownLinks" class="d-flex flex-row mx-3">
        <div>
            <strong><p>{{category.name.toUpperCase()}}</p></strong>
            <!-- 
            <ul class="linklist">
                <li *ngFor="let product of products">{{product.name}}</li>
            </ul>
            -->
            <div>
                <ul class="list-unstyled categoryDetails-productlist">
                    <li *ngFor="let item of filteredSubcategories | async"><a class="text-reset text-decoration-none" title="View {{item.name}}" [routerLink]="['/subcategory', item.id]"><p class="productlist-item">{{item.name}}</p></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="border-start px-3">
        <img class="img-fluid d-none d-md-block navbar-category-image" [src]="category.images[0]">
    </div>
</div>